Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

L1: minor
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1: cosmetics
  macro/L1/run_reco_L1global.C
  reco/L1/CbmL1MCTrack.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1Branch.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Filtration.h
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Parameters.cxx
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/L1Algo/L1TrackPar.h
  reco/L1/L1Algo/L1Triplet.h
  reco/L1/vectors/P4_F32vec4.h
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina

L1: a bug found. Tagged, not yet fixed
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1: trd2d update, cleanup
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1: merge back and front used strip flags to a single array
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1: bugfix in track candidate competition
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1: performance histo update
  reco/L1/CbmL1Performance.cxx
Owners: @se.gorbunov, @v.akishina

L1: update of filtration
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Filtration.h
  reco/L1/L1Algo/L1TrackPar.h
Owners: @se.gorbunov, @v.akishina

L1: fix mac compilation
  reco/L1/L1Algo/L1TrackPar.h
Owners: @se.gorbunov, @v.akishina

fix coding
  core/detectors/trd/CbmTrdFASP.h
Owners: @a.bercuci, @p.kaehler

make Flush buffer work full/partial depending on the type of simulations (EbyE/TB)
  sim/detectors/trd/CbmTrdModuleSim2D.cxx
Owners: @a.bercuci, @p.kaehler

fix Mac compilation
  core/detectors/trd/CbmTrdBaseLinkDef.h
Owners: @a.bercuci, @p.kaehler

add upstream format modification from commit 66f89a15
  core/detectors/trd/CbmTrdFASP.cxx
Owners: @a.bercuci, @p.kaehler

revisit the FASP simulator software in view of better digi time definition. Use data from mCBM22 to calibrate against ToF simulations for both EbyE and TB modes
  core/detectors/trd/CbmTrdFASP.cxx
  core/detectors/trd/CbmTrdFASP.h
  sim/detectors/trd/CbmTrdDigitizer.cxx
  sim/detectors/trd/CbmTrdModuleSim.h
  sim/detectors/trd/CbmTrdModuleSim2D.cxx
Owners: @a.bercuci, @p.kaehler

fix coding
  core/detectors/trd/CbmTrdFASP.h
Owners: @a.bercuci, @p.kaehler

try to fix broken compilation on Mac
  core/detectors/trd/CbmTrdFASP.h
Owners: @a.bercuci, @p.kaehler

fix EbyE simulations for the case of data time span exceeds one analysing FASP frame
  sim/detectors/trd/CbmTrdModuleSim2D.cxx
Owners: @a.bercuci, @p.kaehler

Fix added whitespace on mac by chopping
  reco/detectors/trd/pid/CbmTrdSetTracksPidLike.cxx
Owners: @a.bercuci, @p.kaehler

Initialize CbmTrdParModGas with default PID file name. Needed for parameter generation
  core/detectors/trd/CbmTrdParModGas.cxx
Owners: @a.bercuci, @p.kaehler

Try to fix error on some mac versions by not re-initializing string
  core/detectors/trd/CbmTrdParSetGas.cxx
Owners: @a.bercuci, @p.kaehler

Revert last commit, since it did not fix the error
  core/detectors/trd/CbmTrdParSetGas.cxx
Owners: @a.bercuci, @p.kaehler

Get path of likelihood reference from parameter file instead of CbmTrdGas class
  reco/detectors/trd/pid/CbmTrdSetTracksPidLike.cxx
  reco/detectors/trd/pid/CbmTrdSetTracksPidLike.h
Owners: @a.bercuci, @p.kaehler

path to likelihood file is read from parameter file instead of being hard coded
  core/detectors/trd/CbmTrdParSetGas.cxx
Owners: @a.bercuci, @p.kaehler

Apply Clang format
  core/detectors/trd/CbmTrdParSetGas.cxx
  reco/detectors/trd/pid/CbmTrdSetTracksPidLike.cxx
  reco/detectors/trd/pid/CbmTrdSetTracksPidLike.h
Owners: @a.bercuci, @p.kaehler

fix memory leak reported at https://redmine.cbm.gsi.de/issues/2570. Extend suggestions of PAL
  reco/base/CbmRecoUnpackAlgo.tmpl
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.h
  reco/detectors/trd/unpack/CbmTrdUnpackFaspConfig.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackFaspConfig.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @a.bercuci, @p.kaehler

apply suggestions of FU https://git.cbm.gsi.de/computing/cbmroot/-/merge_requests/918#note_23641
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.cxx
Owners: @a.bercuci, @p.kaehler

replace "push_back" call with "emplace_back" for increased performance
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.h
Owners: @a.bercuci, @p.kaehler

update hash for MR https://git.cbm.gsi.de/CbmSoft/cbmroot_parameter/-/merge_requests/102
  external/InstallParameter.cmake
Owners: @f.uhlig

Increase Version in Classdef, initialize fGasPar as NULL
  reco/detectors/trd/pid/CbmTrdSetTracksPidLike.h
Owners: @a.bercuci, @p.kaehler

Use nullptr instead of NULL
  reco/detectors/trd/pid/CbmTrdSetTracksPidLike.cxx
  reco/detectors/trd/pid/CbmTrdSetTracksPidLike.h
Owners: @a.bercuci, @p.kaehler

Use pseudo vectors when creating the ROOT dictionary
  reco/L1/L1Algo/L1Def.h
  reco/L1/L1Algo/L1NaN.h
  reco/L1/L1Algo/L1Utils.h
Owners: @se.gorbunov, @v.akishina

Use pseudo vectors only on arm64
  reco/L1/L1Algo/L1Def.h
  reco/L1/L1Algo/L1NaN.h
  reco/L1/L1Algo/L1Utils.h
Owners: @se.gorbunov, @v.akishina

Add missing functions to pseudo vector
  reco/L1/vectors/PSEUDO_F32vec4.h
Owners: @se.gorbunov, @v.akishina

L1: qa task for trd2d tracking
  macro/L1/run_reco_L1global.C
  reco/qa/CMakeLists.txt
  reco/qa/CbmTrackingTrdQa.cxx
  reco/qa/CbmTrackingTrdQa.h
  reco/qa/RecoQaLinkDef.h
Owners: @f.uhlig, @p.-a.loizeau, @v.friese

L1: CAMergeClones routine was incapsulated into L1ClonesMerger class
  reco/L1/CMakeLists.txt
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1Assert.h
  reco/L1/L1Algo/L1CAMergeClones.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1ClonesMerger.cxx
  reco/L1/L1Algo/L1ClonesMerger.h
  reco/L1/L1Algo/L1Track.h
  reco/L1/L1Algo/L1Utils.h
Owners: @se.gorbunov, @v.akishina

L1: L1Algo: enumeration of portion sizes replaced with constant expressions in L1Constants
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1ConfigRW.cxx
  reco/L1/L1Algo/L1ConfigRW.h
  reco/L1/L1Algo/L1Constants.h
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Parameters.cxx
  reco/L1/L1Algo/L1Parameters.h
Owners: @se.gorbunov, @v.akishina

L1: Prototype for L1 configuration (yaml) reader
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/qa/CbmTrackingInputQaSts.h
Owners: @se.gorbunov, @v.akishina

L1: removed setter for MuCh digitization parameters file from CbmL1
  macro/mcbm/mcbm_reco.C
  macro/mcbm/mcbm_reco_event.C
  reco/L1/CbmL1.h
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina

L1: U and V coordinates and uncertainties conversion methods were refactored and moved from L1Algo to L1Station
  core/detectors/much/CbmMuchTrackingInterface.cxx
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1Hit.h
  reco/L1/CbmL1MCTrack.cxx
  reco/L1/CbmL1MCTrack.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/CbmL1TrackFitter.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Constants.h
  reco/L1/L1Algo/L1Hit.h
  reco/L1/L1Algo/L1HitsSortHelper.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Station.cxx
  reco/L1/L1Algo/L1Station.h.orig
  reco/L1/L1Algo/L1Track.h
  reco/L1/L1Algo/L1TrackExtender.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/utils/L1AlgoDraw.cxx
  reco/L1/L1Algo/utils/L1AlgoEfficiencyPerformance.h
  reco/L1/L1Algo/utils/L1AlgoPulls.cxx
  reco/L1/L1AlgoInputData.h
  reco/L1/OffLineInterface/CbmL1GlobalTrackFinder.cxx
  reco/L1/OffLineInterface/CbmL1StsTrackFinder.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @v.singhal, @se.gorbunov, @v.akishina

L1: CbmL1 member variables renamed
  reco/L1/L1Algo/L1Station.h.orig
Owners: @se.gorbunov, @v.akishina

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux
