Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

L1: old iteration enums are removed
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CAIteration.cxx
  reco/L1/L1Algo/L1CAIteration.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1ConfigExample.yaml
  reco/L1/L1Algo/L1ConfigRW.cxx
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1Parameters.cxx
  reco/L1/L1Algo/L1TrackExtender.cxx
Owners: @se.gorbunov, @v.akishina

L1: HitErrors preprocessor macro replaced with constant expression
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1TrackExtender.cxx
Owners: @se.gorbunov, @v.akishina

L1: replaced preprocessor macros DO_NOT_SELECT_TRIPLETS, TRACKS_FROM_TRIPLETS, TRACKS_FROM_TRIPLETS_ITERATION, EXTEND_TRACKS with flags in L1CAIteration
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CAIteration.cxx
  reco/L1/L1Algo/L1CAIteration.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Parameters.cxx
Owners: @se.gorbunov, @v.akishina

L1: added limits check for tracking iteration parameters
  reco/L1/L1Algo/L1CAIteration.cxx
  reco/L1/L1Algo/L1CAIteration.h
  reco/L1/L1Algo/L1Parameters.cxx
Owners: @se.gorbunov, @v.akishina

L1 [bugfix]: pointer checks fixed
  reco/L1/CbmCaPerformance.cxx
  reco/L1/L1Algo/L1ConfigRW.cxx
Owners: @se.gorbunov, @v.akishina

L1[bugfix]: L1CAIteration parameter limits were loosened
  reco/L1/L1Algo/L1CAIteration.cxx
Owners: @se.gorbunov, @v.akishina

L1: fit: update branch extender
  reco/L1/CMakeLists.txt
  reco/L1/L1Algo/L1BranchExtender.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Constants.h
Owners: @se.gorbunov, @v.akishina

L1: trd2dQa: P resolution plots vs N sts hits
  reco/qa/CbmTrackingTrdQa.cxx
  reco/qa/CbmTrackingTrdQa.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

L1: QA: minor: rename Ref/Extra tracks to Fast/Slow tracks
  macro/L1/run_reco_L1global.C
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1Constants.h
  reco/L1/CbmL1Counters.h
  reco/L1/CbmL1Performance.cxx
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina

L1: dev option to use the original field
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Extrapolation.cxx
  reco/L1/L1Algo/L1Field.cxx
  reco/L1/L1Algo/L1Field.h
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Parameters.h
Owners: @se.gorbunov, @v.akishina

Fix problem with missing ROOTSYS variable
  CMakeLists.txt
  core/CMakeLists.txt
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

L1: remove obsolete debug option, bugfix in debug options
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Parameters.cxx
  reco/L1/L1Algo/L1Parameters.h
Owners: @se.gorbunov, @v.akishina

L1: minor
  macro/L1/run_reco_L1global.C
  reco/L1/CbmL1MCTrack.h
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina

L1: explicit implementation of copy and move constructors and assignment operators were replaced with default for L1Parameters and L1CAIteration classes
  reco/L1/L1Algo/L1CAIteration.cxx
  reco/L1/L1Algo/L1CAIteration.h
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1Parameters.cxx
  reco/L1/L1Algo/L1Parameters.h
Owners: @se.gorbunov, @v.akishina

Transition to modern CMake
  external/flib_dpb/CMakeLists.txt
  fles/cosy2019/CMakeLists.txt
  fles/flestools/CMakeLists.txt
  fles/mcbm2018/CMakeLists.txt
  fles/star2019/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau, @n.herrmann, @i.deppner

L1: cleanup dev option: correcting hits with MC
  macro/L1/run_reco_L1global.C
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1ReadEvent.cxx
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina

L1: trd2d: correct reading of the vertex fitted track parameters
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/OffLineInterface/CbmL1GlobalTrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1: cleanup iterations
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1CAIteration.cxx
  reco/L1/L1Algo/L1CAIteration.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1ConfigRW.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
Owners: @se.gorbunov, @v.akishina

Fix compiler warnings
  reco/L1/CbmCaPerformance.h
  reco/L1/L1Algo/L1Parameters.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
  reco/L1/catools/CaToolsPerformance.h
Owners: @se.gorbunov, @v.akishina

L1: fix a bug introduced in 1690917f6dacfefdc569834c31e164a54db24965 in sub-timeslice split
  reco/L1/CbmL1ReadEvent.cxx
Owners: @se.gorbunov, @v.akishina

L1: store squared errors in triplet
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1: cleanup
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1: clean up triplet linkage
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CAIteration.cxx
  reco/L1/L1Algo/L1CAIteration.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1ConfigRW.cxx
  reco/L1/L1Algo/L1Triplet.h
Owners: @se.gorbunov, @v.akishina

L1: add triplet flag that shows if the momentum was fitted
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Triplet.h
Owners: @se.gorbunov, @v.akishina

L1[bugfix]: digi parameters initialization was added in TOF tracking interface
  core/base/CbmTrackingDetectorInterfaceBase.cxx
  core/base/CbmTrackingDetectorInterfaceBase.h
  core/detectors/tof/CbmTofTrackingInterface.cxx
  macro/run/run_qa.C
  mvd/CbmMvdTrackingInterface.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

L1: added NaN checkers to tracking detector interfaces
  core/base/CbmTrackingDetectorInterfaceBase.cxx
  core/base/CbmTrackingDetectorInterfaceBase.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

L1: validity checks for the tracking detector interfaces are introduced
  core/base/CMakeLists.txt
  core/base/CbmTrackingDetectorInterfaceBase.cxx
  core/base/CbmTrackingDetectorInterfaceBase.h
  core/detectors/much/CbmMuchTrackingInterface.cxx
  core/detectors/much/CbmMuchTrackingInterface.h
  core/detectors/sts/CbmStsTrackingInterface.cxx
  core/detectors/sts/CbmStsTrackingInterface.h
  core/detectors/tof/CbmTofTrackingInterface.cxx
  core/detectors/tof/CbmTofTrackingInterface.h
  core/detectors/trd/CbmTrdTrackingInterface.cxx
  core/detectors/trd/CbmTrdTrackingInterface.h
  mvd/CbmMvdTrackingInterface.cxx
  mvd/CbmMvdTrackingInterface.h
  reco/KF/CbmTrackingDetectorInterfaceInit.cxx
  reco/KF/CbmTrackingDetectorInterfaceInit.h
  reco/L1/L1Algo/L1CAIteration.cxx
  reco/L1/L1Algo/L1Constants.h
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1Parameters.cxx
  reco/L1/L1Algo/L1Station.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @v.singhal, @n.herrmann, @i.deppner, @a.bercuci, @p.kaehler, @c.muentz, @m.deveaux, @se.gorbunov, @v.akishina

Move to Modern CMake(Reco Dir)
  CMakeLists.txt
  MQ/base/CMakeLists.txt
  algo/CMakeLists.txt
  cmake/modules/CbmMacros.cmake
  external/CMakeLists.txt
  reco/KF/KF.cmake
  reco/KF/KFParticleInterface.cmake
  reco/KF/KFQA.cmake
  reco/L1/CMakeLists.txt
  reco/L1/L1LinkDef.h
  reco/app/cbmreco_fairrun/CMakeLists.txt
  reco/base/CMakeLists.txt
  reco/calibration/CMakeLists.txt
  reco/detectors/much/CMakeLists.txt
  reco/detectors/psd/CMakeLists.txt
  reco/detectors/rich/CMakeLists.txt
  reco/detectors/rich/CbmRichReconstruction.cxx
  reco/detectors/rich/alignment/CbmRichReconstruction.cxx
  reco/detectors/sts/CMakeLists.txt
  reco/detectors/tof/CMakeLists.txt
  reco/detectors/trd/CMakeLists.txt
  reco/eventbuilder/CMakeLists.txt
  reco/global/CMakeLists.txt
  reco/littrack/CMakeLists.txt
  reco/littrack/cbm/base/CbmLitFieldFitter.h
  reco/littrack/cbm/base/CbmLitFieldGridCreator.h
  reco/littrack/clustering/CMakeLists.txt
  reco/littrack/parallel/CMakeLists.txt
  reco/littrack/parallel/electron/LitTrackFinderNNVecElectron.h
  reco/littrack/parallel/muon/LitAbsorber.h
  reco/littrack/parallel/muon/LitHitDataMuon.h
  reco/littrack/parallel/muon/LitStationGroupMuon.h
  reco/littrack/parallel/muon/LitStationMuon.h
  reco/littrack/parallel/muon/LitSubstationMuon.h
  reco/littrack/parallel/muon/LitTrackFitterMuon.h
  reco/mq/CMakeLists.txt
  reco/steer/CMakeLists.txt
  reco/tasks/CMakeLists.txt
  reco/tracking/global/CMakeLists.txt
  reco/tracking/lx/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina, @v.friese, @v.singhal, @karpushkin_AT_inr.ru, @s.lebedev, @n.herrmann, @i.deppner, @a.bercuci, @p.kaehler, @d.smith, @andrey.lebedev

Temporary fix for STS bounding box pb after alignment
  core/detectors/sts/CbmStsSetup.cxx
  core/detectors/sts/CbmStsSetup.h
Owners: @v.friese

L1: triplet construction cleanup
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Constants.h
  reco/L1/L1Algo/L1InputData.h
Owners: @se.gorbunov, @v.akishina

L1: rename duplet->doublet
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/utils/L1AlgoDraw.cxx
  reco/L1/L1Algo/utils/L1AlgoDraw.h
  reco/L1/L1Algo/utils/L1CADebug.h
Owners: @se.gorbunov, @v.akishina

L1: remove obsolete L1AlgoTBB.h
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1AlgoTBB.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1: renaming
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

Reduce warning printout in mcbm chk time algo due to too big CI logs
  fles/mcbm2018/tasks/CbmMcbmCheckTimingAlgo.cxx
  fles/mcbm2018/tasks/CbmMcbmCheckTimingAlgo.h
Owners: @f.uhlig, @p.-a.loizeau

Transition to Modern CMake (MQ Dir)
  MQ/histoServer/CMakeLists.txt
  MQ/hitbuilder/CMakeLists.txt
  MQ/mcbm/CMakeLists.txt
  MQ/parmq/CMakeLists.txt
  MQ/sink/CMakeLists.txt
  MQ/source/CMakeLists.txt
  MQ/unpacker/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau, @n.herrmann, @i.deppner

sts sensor: store CbmLink instead of a pointer to CbmLink. Fixes memory leak.
  sim/detectors/sts/CbmStsDigitize.cxx
  sim/detectors/sts/CbmStsDigitize.h
  sim/detectors/sts/CbmStsSimSensor.cxx
  sim/detectors/sts/CbmStsSimSensor.h
  sim/detectors/sts/CbmStsSimSensorDssd.cxx
Owners: @v.friese

L1: cleanup
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1: by default run global tracker with trd2d only
  reco/L1/CbmL1.cxx
Owners: @se.gorbunov, @v.akishina

L1: fixes in performance
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/qa/CbmTrackingTrdQa.cxx
Owners: @se.gorbunov, @v.akishina, @f.uhlig, @v.friese, @p.-a.loizeau

L1: update of trd2d tracker
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux
