Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux

Shifted platform
  macro/passive/create_platform_v22b.C
Owners: @f.uhlig, @p.-a.loizeau

Remove obsolete setups from test suite
  macro/run/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

Remove obsolete setups from test suite
  macro/much/CMakeLists.txt
Owners: @v.singhal

Sets DEC21 geometries as defaults.
  external/InstallGeometry.cmake
  macro/run/run_tra_beam.C
  macro/run/run_tra_file.C
Owners: @f.uhlig, @p.-a.loizeau

Remove filtering all warnings
  CTestCustom.cmake
Owners: none

L1Algo CA track finder iterations: updates
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CAIteration.cxx
  reco/L1/L1Algo/L1CAIteration.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Parameters.cxx
  reco/L1/L1Algo/L1Parameters.h
Owners: @se.gorbunov, @v.akishina

L1Algo CA track finder iterations: updates
  reco/L1/L1Algo/L1InitManager.h
Owners: @se.gorbunov, @v.akishina

L1Algo CA track finder iterations: updates
  reco/L1/L1Algo/L1Algo.cxx
Owners: @se.gorbunov, @v.akishina

L1Algo CA track finder iterations: updates
  reco/L1/L1Algo/L1BaseStationInfo.cxx
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1Station.cxx
  reco/L1/L1Algo/L1Station.h
Owners: @se.gorbunov, @v.akishina

L1Algo init: updates
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Parameters.h
Owners: @se.gorbunov, @v.akishina

L1Algo CA track finder iterations: updates
  reco/L1/CMakeLists.txt
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1MaterialInfo.h
  reco/L1/L1Algo/L1Station.cxx
  reco/L1/L1Algo/L1UMeasurementInfo.cxx
  reco/L1/L1Algo/L1XYMeasurementInfo.cxx
  reco/L1/L1Algo/L1XYMeasurementInfo.h
Owners: @se.gorbunov, @v.akishina

L1Algo: refactoring of small classes + introduction of ToString methods
  reco/L1/CMakeLists.txt
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1BaseStationInfo.cxx
  reco/L1/L1Algo/L1BaseStationInfo.h
  reco/L1/L1Algo/L1Field.cxx
  reco/L1/L1Algo/L1Field.h
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1MaterialInfo.cxx
  reco/L1/L1Algo/L1MaterialInfo.h
  reco/L1/L1Algo/L1Station.cxx
  reco/L1/L1Algo/L1Station.h
  reco/L1/L1Algo/L1UMeasurementInfo.cxx
  reco/L1/L1Algo/L1UMeasurementInfo.h
  reco/L1/L1Algo/L1XYMeasurementInfo.cxx
  reco/L1/L1Algo/L1XYMeasurementInfo.h
  reco/L1/L1Algo/utils/L1AlgoDraw.cxx
  reco/L1/vectors/P4_F32vec4.h
Owners: @se.gorbunov, @v.akishina

L1Algo init interface and parameters: updates
  core/detectors/tof/CbmTofCreateDigiPar.cxx
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1BaseStationInfo.cxx
  reco/L1/L1Algo/L1BaseStationInfo.h
  reco/L1/L1Algo/L1CAIteration.cxx
  reco/L1/L1Algo/L1CAIteration.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1ObjectInitController.h
  reco/L1/L1Algo/L1Parameters.cxx
  reco/L1/L1Algo/L1Parameters.h
Owners: @n.herrmann, @i.deppner, @se.gorbunov, @v.akishina

license bug fixed
  reco/L1/L1Algo/L1UMeasurementInfo.cxx
Owners: @se.gorbunov, @v.akishina

fix compiler warnings
  reco/KF/CbmKFParticleFinder.cxx
  reco/littrack/cbm/qa/CbmLitCreateStandaloneData.cxx
  reco/littrack/cbm/qa/CbmLitTestMatrixMath.cxx
  reco/littrack/cbm/qa/base/CbmLitAcceptanceFunction.h
  reco/littrack/cbm/qa/clustering/CbmLitClusteringQa.cxx
  reco/littrack/cbm/qa/clustering/CbmLitClusteringQaStudyReport.cxx
  reco/littrack/cbm/qa/field/CbmLitFieldQa.cxx
  reco/littrack/cbm/qa/field/CbmLitFieldQaReport.cxx
  reco/littrack/cbm/qa/fieldapr/CbmLitFieldApproximationQa.cxx
  reco/littrack/cbm/qa/fieldapr/CbmLitFieldApproximationQaReport.cxx
  reco/littrack/cbm/qa/fit/CbmLitFitQa.cxx
  reco/littrack/cbm/qa/fit/CbmLitFitQaReport.cxx
  reco/littrack/cbm/qa/fit/CbmLitFitQaStudyReport.cxx
  reco/littrack/cbm/qa/mc/CbmLitMCTrackCreator.cxx
  reco/littrack/cbm/qa/radlength/CbmLitRadLengthGenerator.cxx
  reco/littrack/cbm/qa/radlength/CbmLitRadLengthQa.cxx
  reco/littrack/cbm/qa/radlength/CbmLitRadLengthQaReport.cxx
  reco/littrack/cbm/qa/tof/CbmLitTofQa.cxx
  reco/littrack/cbm/qa/tracking/CbmLitTrackingQa.cxx
  reco/littrack/cbm/qa/tracking/CbmLitTrackingQaReport.cxx
  reco/littrack/cbm/qa/tracking/CbmLitTrackingQaStudyReport.cxx
  sim/detectors/much/CbmMuch.cxx
Owners: @se.gorbunov, @v.akishina, @s.lebedev, @andrey.lebedev, @v.singhal

QA for digi events. Checks the digi time distribution within the event.
  macro/reco/reco_steer.C
  macro/reco/reco_ts.C
  reco/tasks/CMakeLists.txt
  reco/tasks/CbmReco.cxx
  reco/tasks/CbmReco.h
  reco/tasks/CbmRecoTasksLinkDef.h
  reco/tasks/CbmTaskDigiEventQa.cxx
  reco/tasks/CbmTaskDigiEventQa.h
Owners: @f.uhlig, @p.-a.loizeau, @v.friese

Stand-alone binary for the reconstruction from timeslice (using FairRun)
  external/.gitignore
  external/CMakeLists.txt
  external/InstallYamlCpp.cmake
  reco/CMakeLists.txt
  reco/app/CMakeLists.txt
  reco/app/cbmreco_fairrun/Application.cxx
  reco/app/cbmreco_fairrun/Application.h
  reco/app/cbmreco_fairrun/CMakeLists.txt
  reco/app/cbmreco_fairrun/ProgramOptions.cxx
  reco/app/cbmreco_fairrun/ProgramOptions.h
  reco/app/cbmreco_fairrun/main.cxx
  reco/tasks/CMakeLists.txt
  reco/tasks/CbmReco.cxx
  reco/tasks/CbmReco.h
  reco/tasks/CbmRecoConfigExample.yaml
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Remove a compiler warning
  core/detectors/rich/CbmMcbm2018RichPar.cxx
  core/detectors/rich/CbmMcbm2018RichPar.h
Owners: @s.lebedev

Move missing geometry generation macros to the geometry repository, refs #2474
  macro/passive/create_platform_v22b.C
  macro/psd/create_psdgeo.C
  macro/psd/create_psdgeo_46modules.C
  macro/psd/create_psdgeo_52modules.C
  macro/psd/create_psdgeo_ideal.C
  macro/psd/create_psdgeo_with_hole.C
Owners: @f.uhlig, @p.-a.loizeau, @karpushkin_AT_inr.ru

external: Add xpu library.
  external/CMakeLists.txt
Owners: @f.uhlig

Remove usage of deprecated functions
  MQ/histoServer/CbmHistoServer.cxx
  MQ/histoServer/CbmMqHistoServer.cxx
  MQ/mcbm/CbmDeviceBuildDigiEvents.cxx
  MQ/mcbm/CbmDeviceBuildRawEvents.cxx
  MQ/mcbm/CbmDeviceDigiEventSink.cxx
  MQ/mcbm/CbmDeviceEventBuilder.cxx
  MQ/mcbm/CbmDeviceEventSink.cxx
  MQ/mcbm/CbmDeviceMcbmEventBuilderWin.cxx
  MQ/mcbm/CbmDeviceMcbmEventSink.cxx
  MQ/mcbm/CbmDeviceMcbmMonitorPulser.cxx
  MQ/mcbm/CbmDeviceMcbmUnpack.cxx
  MQ/mcbm/CbmDeviceUnpack.cxx
  MQ/monitor/CbmDeviceMonitorPsd.cxx
  MQ/monitor/CbmDeviceMonitorReqT0.cxx
  MQ/monitor/CbmDeviceMonitorReqTof.cxx
  MQ/monitor/CbmDeviceMonitorT0.cxx
  MQ/monitor/CbmDeviceMonitorTof.cxx
  MQ/source/CbmMQTsSamplerRepReq.cxx
  MQ/source/CbmMQTsaMultiSampler.cxx
  MQ/source/CbmTsConsumerReqDevExample.cxx
Owners: @f.uhlig, @p.-a.loizeau

Add external/xpu to .gitignore
  external/.gitignore
Owners: @f.uhlig

L1: bugfix in MVD detection, read setup from CbmSetup
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1.cxx
Owners: @se.gorbunov, @v.akishina

L1Algo interface: updates
  reco/L1/L1Algo/L1Array.h
  reco/L1/L1Algo/L1Assert.h
  reco/L1/L1Algo/L1InitManager.cxx
Owners: @se.gorbunov, @v.akishina

L1Assert introduced
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1Assert.h
  reco/L1/L1Algo/L1BaseStationInfo.cxx
  reco/L1/L1Algo/L1InitManager.cxx
Owners: @se.gorbunov, @v.akishina

Rebased to L1AlgoDev2
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1Assert.h
  reco/L1/L1Algo/L1BaseStationInfo.cxx
Owners: @se.gorbunov, @v.akishina

L1Algo: refactoring of small classes + introduction of ToString methods
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1BaseStationInfo.cxx
Owners: @se.gorbunov, @v.akishina

L1Algo core: featuring L1Assert
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1Assert.h
Owners: @se.gorbunov, @v.akishina

L1Assert added
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1Assert.h
Owners: @se.gorbunov, @v.akishina

QA: CbmQaTable class added
  core/qa/CMakeLists.txt
  core/qa/CbmQaBaseLinkDef.h
  core/qa/CbmQaTable.cxx
  core/qa/CbmQaTable.h
Owners: @se.gorbunov

update
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1Assert.h
Owners: @se.gorbunov, @v.akishina

CbmQaTable class introduction
  core/qa/CbmQaTable.cxx
  core/qa/CbmQaTable.h
Owners: @se.gorbunov

updates
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1Assert.h
Owners: @se.gorbunov, @v.akishina

L1Algo: L1CAIteration added to the iterations loop
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1ObjectInitController.h
Owners: @se.gorbunov, @v.akishina

L1Algo init: updates
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CAIteration.cxx
  reco/L1/L1Algo/L1CAIteration.h
  reco/L1/L1Algo/L1CAMergeClones.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Utils.h
Owners: @se.gorbunov, @v.akishina

L1Algo: Track finder iteration parameters updates
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CAIteration.cxx
  reco/L1/L1Algo/L1CAIteration.h
  reco/L1/L1Algo/L1CAMergeClones.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1Utils.h
Owners: @se.gorbunov, @v.akishina

L1Algo: updates (new iteration constants, some minor changes)
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1Assert.h
  reco/L1/L1Algo/L1CAIteration.cxx
  reco/L1/L1Algo/L1CAIteration.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1Parameters.cxx
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/L1Algo/L1TrackExtender.cxx
Owners: @se.gorbunov, @v.akishina

Rebase to current branch
  reco/L1/CbmL1.cxx
Owners: @se.gorbunov, @v.akishina

Bugfix for CbmSeedFinderQa: Pure-noise triggers lead to accessing the -1 element of an array, when determining the matched triggers per MC event. Fixed.
  reco/eventbuilder/digis/CbmSeedFinderQa.cxx
Owners: @d.smith

Update geometry, parameters and input hashes to get latest mCBM changes
  external/InstallGeometry.cmake
  external/InstallInput.cmake
  external/InstallParameter.cmake
Owners: @f.uhlig
