Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux

fix event time boundaries
  algo/evbuild/EventBuilder.h
Owners: none

Robustness of switch defaults
  macro/geometry/switch_defaults.sh
  macro/run/run_tra_file.C
Owners: @f.uhlig, @p.-a.loizeau

Macros for APR21 defaults with shifted placements
  external/InstallGeometry.cmake
  external/InstallInput.cmake
  external/InstallParameter.cmake
  macro/geometry/README.md
  macro/geometry/switch_defaults.sh
  macro/much/CMakeLists.txt
  macro/much/geometry/create_MUCH_geometry_v20c_jpsi.C
  macro/much/geometry/create_MUCH_geometry_v20c_lmvm.C
  macro/passive/create_bpipe_geometry_v16e_1e.C
  macro/passive/create_bpipe_geometry_v20b_1m.C
  macro/psd/create_psdgeo_with_hole.C
  macro/run/CMakeLists.txt
  macro/run/run_tra_beam.C
  macro/run/run_tra_file.C
  macro/sts/geometry/create_stsgeo_v20a.C
  macro/tof/geometry/Create_TOF_Geometry_v20c.C
  macro/trd/geometry/trd.v20/Create_TRD_Geometry_v20c.C
Owners: @f.uhlig, @p.-a.loizeau, @v.singhal, @karpushkin_AT_inr.ru, @v.friese, @n.herrmann, @i.deppner, @a.bercuci, @p.kaehler

Added new class L1BaseStationInfo to the L1Algo core
  reco/L1/CMakeLists.txt
  reco/L1/L1Algo/L1BaseStationInfo.h
Owners: @se.gorbunov, @v.akishina

Added new class L1BaseStationInfo to the L1Algo core
  reco/L1/L1Algo/L1BaseStationInfo.h
Owners: @se.gorbunov, @v.akishina

Apply clang-format
  reco/L1/CbmL1.h
Owners: @se.gorbunov, @v.akishina

Apply clang-format
  reco/L1/L1Algo/L1BaseStationInfo.h
Owners: @se.gorbunov, @v.akishina

Update run_reco.C
  macro/run/run_reco.C
Owners: @f.uhlig, @p.-a.loizeau

modifications before clang-format
  macro/run/run_reco.C
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/L1Algo/L1Algo.h
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina

Apply clang-format
  macro/run/run_reco.C
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1BaseStationInfo.h
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/L1Algo/L1TrackFitter.cxx
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina

Include header file instead of forward declare it
  MQ/base/CbmMQChannels.h
Owners: @f.uhlig, @p.-a.loizeau

Use latest FairSoft/FairRoot versions on macosx 12
  .gitlab-ci.yml
Owners: none

Removed redundant statements from run_reco.C.
  macro/run/run_reco.C
Owners: @f.uhlig, @p.-a.loizeau

L1 Qa: add DCA vs momentum plots
  reco/L1/CbmL1Performance.cxx
Owners: @se.gorbunov, @v.akishina

sts pixels: mix pixel and strip stations
  reco/detectors/sts/CbmRecoStsPixel.cxx
  sim/detectors/sts/CbmStsDigitizePixel.cxx
  sim/detectors/sts/CbmStsDigitizePixel.h
Owners: @v.friese

assertion for a wrong KFParticlePID output
  reco/KF/CbmKFParticleFinder.cxx
Owners: @se.gorbunov, @v.akishina

fix format
  reco/L1/CbmL1Performance.cxx
Owners: @se.gorbunov, @v.akishina

update of L1 Qa for the STS pixels
  reco/L1/CbmL1Performance.cxx
Owners: @se.gorbunov, @v.akishina

modified sts parAsic parameter and event building
  macro/mcbm/mcbm_reco_event_tb_nh.C
Owners: @f.uhlig, @p.-a.loizeau

Protect STS digitizers against unphysical MCPoint times
  sim/detectors/sts/CbmStsDigitize.cxx
Owners: @v.friese

Add Sts TimeWalk correction + parameter file mStsAsicTimeWalk.par
  core/detectors/sts/CbmStsParAsic.h
  macro/beamtime/mcbm2021/mStsAsicTimeWalk.par
  macro/run/run_unpack_tsa.C
  reco/detectors/sts/unpack/CbmStsUnpackAlgo.cxx
  reco/detectors/sts/unpack/CbmStsUnpackAlgoBase.cxx
  reco/detectors/sts/unpack/CbmStsUnpackAlgoBase.h
  reco/detectors/sts/unpack/CbmStsUnpackConfig.cxx
  reco/detectors/sts/unpack/CbmStsUnpackConfig.h
Owners: @v.friese, @f.uhlig, @p.-a.loizeau

fix the calculation of a mc position at a given z
  core/data/sts/CbmStsPoint.cxx
Owners: @v.friese

provide tof v21a geometry
  core/detectors/tof/CbmTofDigiBdfPar.cxx
  core/detectors/tof/CbmTofGeoHandler.cxx
  macro/beamtime/mcbm2021/ana_trks_eval.C
  macro/beamtime/mcbm2021/eval_tracks.sh
  macro/beamtime/pl_Eff_TIR.C
  macro/beamtime/pl_over_trk.C
  macro/beamtime/pl_pull_trk.C
  macro/run/run_reco.C
  macro/tof/geometry/Create_TOF_Geometry_v21a.C
  macro/tof/geometry/Create_TOF_Geometry_v21a_cosmicHD.C
  macro/tof/geometry/ModulePosition_10m_v21a.dat
  macro/tof/geometry/ModuleType0_v21a.dat
  macro/tof/geometry/ModuleType10_v21a.dat
  macro/tof/geometry/ModuleType11_v21a.dat
  macro/tof/geometry/ModuleType12_v21a.dat
  macro/tof/geometry/ModuleType13_v21a.dat
  macro/tof/geometry/ModuleType14_v21a.dat
  macro/tof/geometry/ModuleType1_v21a.dat
  macro/tof/geometry/ModuleType2_v21a.dat
  macro/tof/geometry/ModuleType3_v21a.dat
  macro/tof/geometry/ModuleType4_v21a.dat
  macro/tof/geometry/ModuleType5_v21a.dat
  macro/tof/geometry/ModuleType6_v21a.dat
  macro/tof/geometry/ModuleType7_v21a.dat
  macro/tof/geometry/ModuleType8_v21a.dat
  macro/tof/geometry/ModuleType9_v21a.dat
  macro/tof/geometry/create_geopar_allsetups.sh
  macro/tof/geometry/create_parameters.sh
Owners: @n.herrmann, @i.deppner, @f.uhlig, @p.-a.loizeau

Corrects misalignment of module
  macro/tof/geometry/Create_TOF_Geometry_v21a_FullWall.C
  macro/tof/geometry/ModulePosition_10m_v21a.dat
  macro/tof/geometry/ModuleType0_v21a.dat
  macro/tof/geometry/ModuleType1_v21a.dat
  macro/tof/geometry/ModuleType9_v21a.dat
Owners: @n.herrmann, @i.deppner

Beampipes with bellows, wide conical section and downstream cylinder
  macro/passive/create_bpipe_geometry_v21e.C
  macro/passive/create_bpipe_geometry_v21f.C
Owners: @f.uhlig, @p.-a.loizeau

Fixed reference detector selection in CbmDeviceMcbmEventBuilderWin, CbmDeviceBuildRawEvents and CbmDeviceBuildDigiEvents.
  MQ/mcbm/CbmDeviceBuildDigiEvents.cxx
  MQ/mcbm/CbmDeviceBuildRawEvents.cxx
  MQ/mcbm/CbmDeviceMcbmEventBuilderWin.cxx
Owners: @f.uhlig, @p.-a.loizeau

STS unpacking: make Walk correction and Asic by Asic offset mutually exclusive
  reco/detectors/sts/unpack/CbmStsUnpackAlgo.cxx
  reco/detectors/sts/unpack/CbmStsUnpackAlgoBase.cxx
Owners: @v.friese

Remove lxir116 from CI matrix
  .gitlab-ci.yml
Owners: none

L1: bug fix
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1ReadEvent.cxx
Owners: @se.gorbunov, @v.akishina

L1: bug fix
  reco/L1/CbmL1ReadEvent.cxx
Owners: @se.gorbunov, @v.akishina

Update InstallParameter.cmake
  external/InstallParameter.cmake
Owners: @f.uhlig

add mSTS v22a which implements its aluminium box, refs #2404
  external/InstallGeometry.cmake
  macro/mcbm/geometry/sts/create_stsgeo_v22a.C
  macro/mcbm/mcbm_transport.C
Owners: @f.uhlig, @p.-a.loizeau

Fix runtime error on macosx 10.13
  reco/L1/L1Algo/L1Parameters.h
Owners: @se.gorbunov, @v.akishina

Reenable lxir116 for CI
  .gitlab-ci.yml
Owners: none

Radiation length checker
  macro/geometry/README.md
  macro/geometry/check_radlen.sh
Owners: @f.uhlig, @p.-a.loizeau

Bug Fix: In StsUnpackConfig, propagate walk map only if set by user + protect ASICs without walk
  reco/detectors/sts/unpack/CbmStsUnpackAlgo.cxx
  reco/detectors/sts/unpack/CbmStsUnpackConfig.cxx
Owners: @v.friese

apply z = +7.0 cm shift to mSTS for survey of Juli 2021 run 1588, refs #2413
  macro/mcbm/geometry/sts/create_stsgeo_v22b.C
  macro/mcbm/geometry/sts/create_stsgeo_v22c.C
Owners: @f.uhlig, @p.-a.loizeau

apply z = +7.0 cm shift to mSTS for survey of Juli 2021 run 1588, refs #2413
  macro/mcbm/geometry/sts/create_stsgeo_v22c.C
Owners: @f.uhlig, @p.-a.loizeau

L1: get rid of a hardcoded target position
  macro/run/run_qa.C
  reco/KF/CbmKF.cxx
  reco/KF/CbmKF.h
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1MCTrack.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1HitPoint.h
  reco/L1/L1Algo/L1Track.h
  reco/detectors/sts/qa/CbmStsFindTracksQa.cxx
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina, @v.friese

Changed histogram ranges for better visibility in CbmBuildEventsQa.
  reco/eventbuilder/digis/CbmBuildEventsQa.cxx
Owners: @d.smith
