Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux

external: Improve gsl cmake integration.
  external/CMakeLists.txt
Owners: @f.uhlig

DigiManager: Add function to access digi branch as array.
  core/base/CMakeLists.txt
  core/base/CbmDigiManager.h
  reco/detectors/sts/CbmRecoSts.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Fix mvd qa macros
  macro/mvd/qa/mvd_qa1_transUrqmd.C
  macro/mvd/qa/mvd_qa2_transDelta.C
Owners: @c.muentz, @m.deveaux

Add support for DigiEvent out in mCBM macro + CI test
  macro/beamtime/mcbm2022/mcbm_event.C
  macro/run/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

Set mCBM L1 CI tests to run only in Weekly as too slow for now
  macro/run/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

Add task to clone CbmEvent array if in input + rel. mCBM reco macro fix
  macro/beamtime/mcbm2022/mcbm_reco.C
  reco/tasks/CMakeLists.txt
  reco/tasks/CbmRecoTasksLinkDef.h
  reco/tasks/CbmTaskEventsCloneInToOut.cxx
  reco/tasks/CbmTaskEventsCloneInToOut.h
Owners: @f.uhlig, @p.-a.loizeau, @v.friese

Add CI test for mcbm digievent reco + macros fixes/updates
  macro/beamtime/mcbm2022/mcbm_digievent_reco.C
  macro/beamtime/mcbm2022/mcbm_event_reco_L1.C
  macro/run/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

Add trigger type 15 as type 4 + trd to mcbm 2022 event macro
  macro/beamtime/mcbm2022/mcbm_event.C
  macro/run/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

Fix TS properties for the event builder in mCBM macros
  macro/beamtime/mcbm2022/mcbm_event.C
  macro/beamtime/mcbm2022/mcbm_event_reco.C
  macro/beamtime/mcbm2022/mcbm_event_reco_L1.C
  macro/beamtime/mcbm2022/mcbm_unp_event.C
Owners: @f.uhlig, @p.-a.loizeau

Split event building and reco + cover all reco cases by CI steps
  macro/beamtime/mcbm2022/mcbm_event.C
  macro/beamtime/mcbm2022/mcbm_reco.C
  macro/run/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

[mCBM] Add CbmTimeSlice to unp out + rem. legacy mode for L1 in 2022 reco
  macro/beamtime/mcbm2022/mcbm_digievent_reco.C
  macro/beamtime/mcbm2022/mcbm_event_reco.C
  macro/beamtime/mcbm2022/mcbm_event_reco_L1.C
  macro/beamtime/mcbm2022/mcbm_reco.C
  reco/steer/CbmRecoUnpack.cxx
  reco/steer/CbmRecoUnpack.h
Owners: @f.uhlig, @p.-a.loizeau, @v.friese

Add DigiEvent output option to BuildRawEvents task
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.h
  reco/eventbuilder/digis/CbmTaskBuildRawEvents.cxx
  reco/eventbuilder/digis/CbmTaskBuildRawEvents.h
Owners: @d.smith

In AlgoBuildRawEvent, fix a bug forcing min 1 digi when max was set
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.cxx
Owners: @d.smith

Add statistics printout to TofEventClusterizer similar to other hit finders
  reco/detectors/tof/CbmTofEventClusterizer.cxx
  reco/detectors/tof/CbmTofEventClusterizer.h
  reco/tasks/CbmTaskMakeRecoEvents.cxx
Owners: @n.herrmann, @i.deppner, @f.uhlig, @v.friese, @p.-a.loizeau

Add script to check rad length values in geo files set
  macro/geometry/.gitignore
  macro/geometry/README.md
  macro/geometry/check_radlen_bulk.sh
  macro/geometry/scan_geometry.C
Owners: @f.uhlig, @p.-a.loizeau

Remove all scripts as now in geometry repository
  macro/geometry/check_radlen.sh
  macro/geometry/scan_geometry.C
Owners: @f.uhlig, @p.-a.loizeau

Remove rad length CI test now that test available in geo repo
  macro/mcbm/CMakeLists.txt
  macro/run/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

New class for digi event selector and corresponding GTest
  algo/CMakeLists.txt
  algo/detectors/tof/TofConfig.h
  algo/evselector/DigiEventSelector.cxx
  algo/evselector/DigiEventSelector.h
  algo/test/CMakeLists.txt
  algo/test/_GTestDigiEventSelector.cxx
  reco/tasks/CbmTaskBuildEvents.cxx
  reco/tasks/CbmTaskBuildEvents.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Update AnalysisTree version
  external/InstallAnalysisTree.cmake
Owners: @f.uhlig

Introduce common scheme of masking inactive channels in the simulation. Refs #2708.
  core/base/CbmDigitize.h
  core/base/CbmDigitizeBase.cxx
  core/base/CbmDigitizeBase.h
  sim/detectors/sts/CbmStsDigitize.cxx
  sim/detectors/sts/CbmStsDigitize.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

[MQ] In DigiSink device, fix crash on Term transition with ODC/DDS
  MQ/mcbm/CbmDeviceDigiEventSink.cxx
  MQ/mcbm/CbmDeviceDigiEventSink.h
Owners: @f.uhlig, @p.-a.loizeau

Fix weekly tests
  macro/C2F/CMakeLists.txt
  macro/mcbm/CMakeLists.txt
Owners: @i.selyuzhenkov, @f.uhlig, @p.-a.loizeau

L1 use general fit function for mCBM
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1TrackFitter.cxx
Owners: @se.gorbunov, @v.akishina

New TOF hitfinder class HitFinderTof and corresponding CbmTaskTofHitFinder.
  algo/CMakeLists.txt
  algo/detectors/tof/HitFinderTof.cxx
  algo/detectors/tof/HitFinderTof.h
  reco/tasks/CMakeLists.txt
  reco/tasks/CbmRecoTasksLinkDef.h
  reco/tasks/CbmTaskTofHitFinder.cxx
  reco/tasks/CbmTaskTofHitFinder.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Refactored HitFinderTof. Two micro-optimizations of CbmTaskTofHitFinder which save about 10 percent execution time in total.
  algo/detectors/tof/HitFinderTof.cxx
  algo/detectors/tof/HitFinderTof.h
  reco/tasks/CbmTaskTofHitFinder.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Switched to using iterators in HitFinderTof.cxx. Fixed a bug in calibration. Added missing clear statement for digi vectors.
  algo/detectors/tof/HitFinderTof.cxx
  reco/tasks/CbmTaskTofHitFinder.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Increase log file size
  CTestCustom.cmake
Owners: none

Added calls to ReadInactiveChannels() to the Init methods of all digitizers. Refs #2708
  mvd/CbmMvdDigitizer.cxx
  sim/detectors/bmon/CbmBmonDigitize.cxx
  sim/detectors/much/CbmMuchDigitizeGem.cxx
  sim/detectors/psd/CbmPsdSimpleDigitizer.cxx
  sim/detectors/rich/CbmRichDigitizer.cxx
  sim/detectors/tof/CbmTofDigitize.cxx
  sim/detectors/trd/CbmTrdDigitizer.cxx
Owners: @c.muentz, @m.deveaux, @f.uhlig, @v.friese, @p.-a.loizeau, @v.singhal, @karpushkin_AT_inr.ru, @s.lebedev, @n.herrmann, @i.deppner, @a.bercuci, @p.kaehler

get rid of the hardcoded target position in CbmKFParticleFinder
  reco/KF/CbmKFParticleFinder.cxx
  reco/KF/KFQA/CbmKFTrackQa.cxx
Owners: @se.gorbunov, @v.akishina

add Sts->Tof matching efficiencies to CbmKFTrackQa task
  reco/KF/KFQA/CbmKFTrackQa.cxx
  reco/KF/KFQA/CbmKFTrackQa.h
Owners: @se.gorbunov, @v.akishina

add CbmLink interfaces to CbmMCEventInfo and CbmMCEventList
  core/data/CbmMCEventInfo.h
  core/data/CbmMCEventList.cxx
  core/data/CbmMCEventList.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

fixes in CbmKFTrackQa
  reco/KF/KFQA/CbmKFTrackQa.cxx
  reco/KF/KFQA/CbmKFTrackQa.h
Owners: @se.gorbunov, @v.akishina

KF: make CbmKFParticleFinderQa run with new time-slice data types
  reco/KF/CbmKFParticleFinderQa.cxx
  reco/KF/CbmKFParticleFinderQa.h
Owners: @se.gorbunov, @v.akishina

KF: cosmetic changes in CbmKFParticleFinderPID
  reco/KF/CbmKFParticleFinderPID.cxx
  reco/KF/CbmKFParticleFinderPID.h
Owners: @se.gorbunov, @v.akishina

KF: get rid of hardcoded event time in CbmKFParticleFinderPID and hardcoded cuts
  macro/KF/kf_kfparticle.C
  reco/KF/CbmKFParticleFinderPID.cxx
  reco/KF/CbmKFParticleFinderPID.h
Owners: @se.gorbunov, @v.akishina

store track time at 3 positions: track start, first hit, last hit
  core/data/CbmTrack.cxx
  core/data/CbmTrack.h
  core/data/sts/CbmStsTrack.cxx
  core/data/tof/CbmTofTrack.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/OffLineInterface/CbmL1GlobalTrackFinder.cxx
  reco/L1/OffLineInterface/CbmL1StsTrackFinder.cxx
  reco/eventbuilder/tracks/CbmBuildEventsFromTracksReal.cxx
  reco/eventbuilder/tracks/CbmBuildEventsFromTracksReal.h
  reco/eventbuilder/tracks/CbmEventBuilderQa.cxx
  reco/eventbuilder/tracks/CbmEventBuilderQa.h
  reco/littrack/cbm/reco/CbmLitFitTracks.cxx
  reco/littrack/cbm/utils/CbmLitConverter.h
  reco/tracking/global/CbmGlobalTrackingTask.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @n.herrmann, @i.deppner, @se.gorbunov, @v.akishina, @d.smith, @s.lebedev, @andrey.lebedev

Use latest version of external repository
  external/InstallInput.cmake
Owners: @f.uhlig

Introduction of full config.json sim chain including shell scripts
  macro/CMakeLists.txt
  macro/PWG/CMakeLists.txt
  macro/PWG/common/CMakeLists.txt
  macro/PWG/common/production/CMakeLists.txt
  macro/PWG/common/production/config.json
  macro/PWG/common/production/config_ci.json.in
  macro/PWG/common/production/run_analysis_tree_maker_json_config.C
  macro/PWG/common/production/run_digi_json_config.C
  macro/PWG/common/production/run_json.sh
  macro/PWG/common/production/run_reco_json_config.C
  macro/PWG/common/production/run_sim_reco_json.sh
  macro/PWG/common/production/run_transport_json_config.C
  macro/run/CMakeLists.txt
  macro/run/config.json
  macro/run/config_ci.json
  macro/run/run_tests.sh
Owners: @f.uhlig, @p.-a.loizeau

LIT tracker: improve TOF merging
  reco/littrack/cbm/base/CbmLitToolFactory.cxx
  reco/littrack/cbm/reco/CbmLitFindGlobalTracks.cxx
  reco/littrack/std/data/CbmLitTrack.h
  reco/littrack/std/finder/CbmLitNearestHitTofMerger.cxx
Owners: @s.lebedev, @andrey.lebedev

Run the pwg common test in nightly or weekly test
  macro/CMakeLists.txt
  macro/PWG/common/production/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau
