Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux

algo: Add build infos.
  algo/CMakeLists.txt
  algo/base/BuildInfo.cxx.in
  algo/base/BuildInfo.h
  cmake/modules/GenerateBuildInfo.cmake
Owners: @f.uhlig

Fix MCTrack charge to be always in units of electron charge
  core/data/CbmMCTrack.cxx
  reco/L1/CbmCaMCModule.cxx
  reco/L1/CbmL1ReadEvent.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @se.gorbunov, @v.akishina

CA: a setter to disable a particular tracking station is added
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1LinkDef.h
Owners: @se.gorbunov, @v.akishina

CA: QA updates
  core/qa/CbmQaCmpDrawer.cxx
Owners: @se.gorbunov

CA: Updates:
  core/qa/CbmQaCmpDrawer.cxx
  macro/mcbm/mcbm_qa.C
  reco/L1/CMakeLists.txt
  reco/L1/CbmCaMCModule.cxx
  reco/L1/CbmCaMCModule.h.orig
  reco/L1/CbmCaTimeSliceReader.cxx
  reco/L1/CbmCaTimeSliceReader.h
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1DetectorID.h
  reco/L1/CbmL1Hit.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1IODataManager.cxx
  reco/L1/L1Algo/L1IODataManager.h
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Parameters.cxx
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/L1Algo/L1Station.h
  reco/L1/L1Algo/L1Utils.h
  reco/L1/L1Algo/utils/CaAlgoRandom.cxx
  reco/L1/L1Algo/utils/CaAlgoRandom.h
  reco/L1/L1Algo/utils/L1AlgoEfficiencyPerformance.h
  reco/L1/L1LinkDef.h
  reco/L1/catools/CaToolsHitRecord.h
  reco/L1/catools/CaToolsMCData.h
  reco/L1/catools/CaToolsMCPoint.h
  reco/L1/qa/CbmCaOutputQa.cxx
  reco/L1/qa/CbmCaOutputQa.h
  reco/L1/qa/CbmCaTrackFitQa.h
Owners: @se.gorbunov, @f.uhlig, @p.-a.loizeau, @v.akishina

Added print() functions to monitoring structs of cbm::algo unpackers.
  algo/detectors/bmon/UnpackBmon.h
  algo/detectors/much/UnpackMuch.h
  algo/detectors/sts/UnpackSts.h
  algo/detectors/tof/UnpackTof.h
  algo/detectors/trd/UnpackTrd.h
  reco/tasks/CbmTaskUnpack.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Updated monitoring structs of cbm::algo unpackers.
  algo/detectors/bmon/UnpackBmon.h
  algo/detectors/tof/UnpackTof.h
  algo/detectors/trd/UnpackTrd.h
Owners: none

Implemented cbm::algo::UnpackTrd2d.
  algo/CMakeLists.txt
  algo/detectors/trd2d/Trd2dReadoutConfig.cxx
  algo/detectors/trd2d/Trd2dReadoutConfig.h
  algo/detectors/trd2d/UnpackTrd2d.cxx
  algo/detectors/trd2d/UnpackTrd2d.h
  core/data/base/CbmDigiData.h
  reco/tasks/CbmTaskUnpack.cxx
  reco/tasks/CbmTaskUnpack.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

CbmTaskUnpack: Implemented TRD2D FASP remapping. Cleanup. Fixed copyright headers.
  algo/detectors/trd2d/Trd2dReadoutConfig.cxx
  algo/detectors/trd2d/Trd2dReadoutConfig.h
  algo/detectors/trd2d/UnpackTrd2d.cxx
  algo/detectors/trd2d/UnpackTrd2d.h
  reco/tasks/CbmTaskUnpack.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

UnpackTrd2d: Added monitoring print() function.
  algo/detectors/trd2d/UnpackTrd2d.h
Owners: none

UnpackTrd2d: Updated monitoring information.
  algo/detectors/trd2d/UnpackTrd2d.cxx
  algo/detectors/trd2d/UnpackTrd2d.h
Owners: none

algo: Add util classes to print collected timings.
  algo/base/util/TimingsFormat.cxx
  algo/base/util/TimingsFormat.h
Owners: none

Bump xpu version.
  algo/base/gpu/DeviceImage.h
  algo/base/gpu/xpu_legacy.h
  algo/detectors/sts/UnpackStsXpu.cxx
  algo/detectors/sts/UnpackStsXpu.h
  external/.gitignore
  external/CMakeLists.txt
Owners: @f.uhlig

algo: Add STS Unpack chain.
  algo/detectors/sts/StsUnpackChain.cxx
  algo/detectors/sts/StsUnpackChain.h
Owners: none

algo: Add STS data types.
  algo/CMakeLists.txt
  algo/base/gpu/Params.cxx
  algo/base/gpu/Params.h
  algo/base/gpu/xpu_legacy.h
  algo/data/sts/Cluster.h
  algo/data/sts/Hit.h
  algo/data/sts/HitfinderPars.h
  algo/data/sts/LandauTable.cxx
  algo/data/sts/LandauTable.h
  algo/detectors/sts/UnpackStsXpu.cxx
  algo/detectors/sts/UnpackStsXpu.h
Owners: none

algo: Update STS Hitfinder.
  algo/base/ChainContext.h
  algo/base/SubChain.h
  algo/base/config/Yaml.h
  algo/data/sts/LandauTable.cxx
  algo/detectors/sts/StsHitfinder.cxx
  algo/detectors/sts/StsHitfinder.h
  algo/detectors/sts/StsHitfinderChain.cxx
  algo/detectors/sts/StsHitfinderChain.h
  algo/params/LandauWidthTable.txt
  algo/params/StsHitfinder.yaml
Owners: none

Add STS Unpacker and STS reco to toplevel reco.
  algo/CMakeLists.txt
  algo/global/Reco.cxx
  algo/global/Reco.h
  reco/app/cbmreco/main.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

StsReco: Disable GPU Hitfinder.
  algo/base/gpu/xpu_legacy.h
  reco/detectors/sts/CbmRecoSts.cxx
  reco/detectors/sts/CbmRecoSts.h
Owners: @v.friese

external: Bump xpu version to fix installation.
  external/CMakeLists.txt
Owners: @f.uhlig

algo: Replace std::filesystem with boost::filesystem.
  algo/CMakeLists.txt
  algo/base/Options.h
  algo/base/compat/Filesystem.h
  algo/data/sts/LandauTable.cxx
  algo/data/sts/LandauTable.h
  algo/global/Reco.cxx
Owners: none

external: don't link librt on apple.
  external/InstallFlesnet.cmake
Owners: @f.uhlig

algo: Install missing headers.
  algo/CMakeLists.txt
Owners: none

Fix compilation on Mac OS.
  algo/base/util/TimingsFormat.cxx
  algo/data/sts/LandauTable.cxx
  algo/global/Reco.cxx
Owners: none

external: add librt to libraries linked with flesnet.
  external/InstallFlesnet.cmake
Owners: @f.uhlig

algo: CMakeLists.txt cosmetic fix.
  algo/CMakeLists.txt
Owners: none

algo: Replace fairlogger with flesnet_logging.
  algo/CMakeLists.txt
  algo/base/Options.cxx
  algo/base/Options.h
  algo/base/config/Yaml.h
  algo/data/CMakeLists.txt
  algo/data/sts/LandauTable.cxx
  algo/detectors/bmon/BmonReadoutConfig.cxx
  algo/detectors/much/MuchReadoutConfig.cxx
  algo/detectors/sts/StsHitfinderChain.cxx
  algo/detectors/sts/StsUnpackChain.cxx
  algo/detectors/tof/TofReadoutConfig.cxx
  algo/evselector/DigiEventSelector.cxx
  algo/global/Reco.cxx
  algo/log/AlgoFairloggerCompat.h
  algo/log/CMakeLists.txt
  core/data/CMakeLists.txt
  core/data/much/CbmMuchAddress.cxx
  core/data/sts/CbmStsAddress.cxx
  core/data/trd/CbmTrdDigi.cxx
  core/data/trd/CbmTrdRawMessageSpadic.cxx
  reco/app/cbmreco/main.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @v.singhal, @a.bercuci, @p.kaehler

algo: Add STS Digi definition.
  algo/data/sts/Digi.h
Owners: none

cbmreco: Log build infos.
  reco/app/cbmreco/main.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

algo: Add global Input/Output class.
  algo/global/RecoIO.cxx
  algo/global/RecoIO.h
Owners: none

algo: Use steps flag.
  algo/base/Options.cxx
  algo/global/Reco.cxx
Owners: none

algo: Add comments / potential issues to GPU Hitfinder.
  algo/detectors/sts/StsHitfinder.cxx
Owners: none

algo: Specify options for Output types and active detectors.
  algo/CMakeLists.txt
  algo/base/Options.cxx
  algo/base/Options.h
  algo/base/Types.cxx
  algo/base/Types.h
  algo/global/Reco.cxx
  algo/global/Reco.h
Owners: none

algo: STS Unpacker reads setup from yaml.
  algo/CMakeLists.txt
  algo/data/sts/ReadoutSetup.cxx
  algo/data/sts/ReadoutSetup.h
  algo/detectors/sts/StsReadoutConfig.h
  algo/detectors/sts/StsUnpackChain.cxx
  algo/detectors/sts/StsUnpackChain.h
  algo/global/Reco.cxx
  algo/params/StsReadout.yaml
Owners: none

algo: Link libfmt.
  CMakeLists.txt
  algo/CMakeLists.txt
Owners: none

algo: Fix issue with freeing buffers in constant memory.
  algo/detectors/sts/StsHitfinderChain.cxx
  algo/detectors/sts/StsHitfinderChain.h
  algo/global/Reco.cxx
Owners: none

algo: Add support for Enum / String conversion.
  algo/CMakeLists.txt
  algo/base/Types.cxx
  algo/base/Types.h
  algo/base/util/SerializableEnum.h
  algo/detectors/trd2d/UnpackTrd2d.cxx
Owners: none

algo: Allow reading enums as strings from YAML.
  algo/base/RecoParams.h
  algo/base/config/Yaml.h
  algo/params/RecoParams.yaml
Owners: none

algo: Add --keys flag to replace reconstruction parameters on the fly.
  algo/base/Options.cxx
  algo/base/Options.h
  algo/base/config/Yaml.h
  algo/global/Reco.cxx
Owners: none

algo: Update options description.
  algo/base/Options.cxx
Owners: none

Add xpu timers to parallel unpacker.
  algo/global/ParallelUnpackChain.cxx
Owners: none
