Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux

codeformat fix
  reco/L1/CbmL1.h
  reco/L1/L1Algo/L1MaterialInfo.cxx
Owners: @se.gorbunov, @v.akishina

L1Algo: station material intialization interface
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1BaseStationInfo.cxx
  reco/L1/L1Algo/L1BaseStationInfo.h
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1MaterialInfo.cxx
  reco/L1/L1Algo/L1MaterialInfo.h
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1Algo: Changed the fRecThick from L1Vector to std::array and made it private
  reco/L1/CbmL1.h
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1MaterialInfo.cxx
Owners: @se.gorbunov, @v.akishina

L1Algo: rebase bug fixes
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
Owners: @se.gorbunov, @v.akishina

add verbosity, fix format
  core/data/trd/CbmTrdHit.cxx
  core/data/trd/CbmTrdPoint.cxx
  reco/L1/qa/CbmTrackerInputQaTrd.cxx
  reco/L1/qa/CbmTrackerInputQaTrd.h
Owners: @a.bercuci, @p.kaehler, @se.gorbunov, @v.akishina

rename simulator for TRD-2D
  sim/detectors/trd/CMakeLists.txt
  sim/detectors/trd/CbmTrdDigitizer.cxx
  sim/detectors/trd/CbmTrdModuleSim2D.cxx
  sim/detectors/trd/CbmTrdModuleSim2D.h
  sim/detectors/trd/CbmTrdSimLinkDef.h
Owners: @a.bercuci, @p.kaehler

add extra it definitions nissing in the last commit. Fix format
  reco/detectors/trd/CbmTrdModuleRec2D.cxx
  sim/detectors/trd/CbmTrdDigitizer.cxx
  sim/detectors/trd/CbmTrdModuleSim2D.cxx
Owners: @a.bercuci, @p.kaehler

extend the TrdHit Qa data class for digi signals and clusters
  reco/L1/qa/CbmTrackerInputQaTrd.cxx
  reco/detectors/trd/qa/data/CbmTrdHitMC.cxx
  reco/detectors/trd/qa/data/CbmTrdHitMC.h
Owners: @se.gorbunov, @v.akishina, @a.bercuci, @p.kaehler

add TrdHit QA data class which packs the whole history of a reconstructed hit from MC points to the actual data. To be used in fine tuning the error parametrization, pile-ups etc.
  reco/L1/CMakeLists.txt
  reco/L1/qa/CbmTrackerInputQaTrd.cxx
  reco/L1/qa/CbmTrackerInputQaTrd.h
  reco/detectors/trd/CMakeLists.txt
  reco/detectors/trd/CbmTrdRecoLinkDef.h
  reco/detectors/trd/qa/data/CbmTrdHitMC.cxx
  reco/detectors/trd/qa/data/CbmTrdHitMC.h
Owners: @se.gorbunov, @v.akishina, @a.bercuci, @p.kaehler

store digits on the QA structure to complete the history of reconstruction
  reco/detectors/trd/qa/data/CbmTrdHitMC.cxx
  reco/detectors/trd/qa/data/CbmTrdHitMC.h
Owners: @a.bercuci, @p.kaehler

add global parameter for FASP signal/channel noise
  core/detectors/trd/CbmTrdParFasp.h
Owners: @a.bercuci, @p.kaehler

generate the default asic parameters according to the new scheme (only for FASP)
  core/detectors/trd/CbmTrdParFasp.cxx
  core/detectors/trd/CbmTrdParFasp.h
  core/detectors/trd/CbmTrdParSetAsic.cxx
Owners: @a.bercuci, @p.kaehler

add noise: 1. smeared MC point when generating PRF 2. add noise on FASP signal according to calibration (mean value, o dependence on the actual FASP)
  sim/detectors/trd/CbmTrdModuleSim2D.cxx
  sim/detectors/trd/CbmTrdModuleSim2D.h
Owners: @a.bercuci, @p.kaehler

improve verbosity, save more cluster data for further processing
  core/data/trd/CbmTrdCluster.cxx
  core/data/trd/CbmTrdCluster.h
  core/data/trd/CbmTrdHit.cxx
  core/data/trd/CbmTrdPoint.cxx
  core/data/trd/CbmTrdPoint.h
Owners: @a.bercuci, @p.kaehler

Add new tracker calibration class for TRD system to be used to adjust error parametrization for reconstructed hits. To be checked by class CbmTrackerInputQaTrd
  macro/run/run_qa.C
  reco/detectors/trd/CMakeLists.txt
  reco/detectors/trd/CbmTrdRecoLinkDef.h
  reco/detectors/trd/qa/CbmTrdCalibTracker.cxx
  reco/detectors/trd/qa/CbmTrdCalibTracker.h
Owners: @f.uhlig, @p.-a.loizeau, @a.bercuci, @p.kaehler

try fix test on the ToString call
  core/data/test/trd/_GTestCbmTrdHit.cxx
Owners: @a.bercuci, @p.kaehler

fix test for new ToString function implementation
  core/data/test/trd/_GTestCbmTrdHit.cxx
Owners: @a.bercuci, @p.kaehler

revert changes in the general infrastructure (TrackerInputQa) and move all to a new class TrdQaTracker
  reco/L1/CMakeLists.txt
  reco/L1/qa/CbmTrackerInputQaTrd.cxx
  reco/L1/qa/CbmTrackerInputQaTrd.h
Owners: @se.gorbunov, @v.akishina

add ICD correction to hitpriducer of RICH and add functionality to Macro.
  macro/rich/mcbm/beamtime/icd_offset_it_0.data
  reco/detectors/rich/mcbm/CbmRichMCbmHitProducer.cxx
  reco/detectors/rich/mcbm/CbmRichMCbmHitProducer.h
  reco/detectors/rich/mcbm/CbmRichMCbmQaRichOnly.cxx
  reco/detectors/rich/mcbm/CbmRichMCbmQaRichOnly.h
Owners: @s.lebedev

Prepare CbmRoot for FairSoft apr22
  analysis/PWGDIL/dielectron/papaframework/PairAnalysisCutQa.cxx
Owners: @a_meye37_AT_uni-muenster.de

Prepare CbmRoot for FairSoft apr22
  CMakeLists.txt
  external/NicaFemto.patch
Owners: @f.uhlig

Prepare CbmRoot for FairSoft apr22
  MQ/source/CbmMQTsaMultiSamplerTof.cxx
  MQ/sts/CbmDeviceStsLocalReco.cxx
  MQ/unpacker/CbmDeviceUnpackTofMcbm2018.cxx
  analysis/PWGDIL/dielectron/pi0eta/CbmKresSelectGoodEvents.cxx
  analysis/PWGDIL/dimuon/CbmAnaDimuonAnalysis.cxx
  analysis/PWGHAD/hadron/CbmHadronAnalysis.cxx
  analysis/detectors/tof/CbmTofAnaTestbeam.cxx
  analysis/detectors/tof/CbmTofHitFinderQa.cxx
  core/data/tof/CbmTofTracklet.cxx
  core/detectors/tof/CbmMcbm2018TofPar.cxx
  core/detectors/tof/CbmTofCreateDigiPar.cxx
  core/detectors/tof/CbmTofDigiBdfPar.cxx
  fles/mcbm2018/monitor/CbmMcbm2018MonitorAlgoT0.cxx
  fles/mcbm2018/tasks/CbmMcbmSpillFindAlgo.cxx
  fles/mcbm2018/unpacker/CbmMcbm2018UnpackerAlgoRich.cxx
  fles/mcbm2018/unpacker/CbmMcbm2018UnpackerAlgoRich2020.cxx
  fles/mcbm2018/unpacker/CbmMcbm2018UnpackerAlgoTof.cxx
  macro/reco/CMakeLists.txt
  reco/L1/L1Algo/L1Vector.h
  reco/detectors/rich/unpack/CbmRichUnpackAlgo.cxx
  reco/detectors/rich/unpack/CbmRichUnpackAlgo2022.cxx
  reco/detectors/tof/CbmTofSimpClusterizer.cxx
  reco/detectors/tof/CbmTofTrackFinderNN.cxx
  reco/littrack/cbm/reco/CbmLitFindGlobalTracks.cxx
  reco/littrack/cbm/utils/CbmLitConverter.h
  sim/detectors/tof/CbmTofDigitize.cxx
  sim/transport/base/CbmBeamProfile.cxx
  sim/transport/base/CbmMCEventFilter.cxx
  sim/transport/base/CbmTarget.cxx
  sim/transport/generators/CbmUnigenGenerator.cxx
  tutorials/TaskToAlgo/CbmDeviceStsHitProducerIdeal.cxx
Owners: @f.uhlig, @p.-a.loizeau, @v.friese, @c.pauly, @i.selyuzhenkov, @n.herrmann, @i.deppner, @se.gorbunov, @v.akishina, @s.lebedev, @andrey.lebedev

Prepare CbmRoot for FairSoft apr22
  reco/L1/CbmL1.cxx
Owners: @se.gorbunov, @v.akishina

L1: trd2d-tracker
  macro/L1/run_reco_L1global.C
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/OffLineInterface/CbmL1StsTrackFinder.cxx
  reco/detectors/trd/CbmTrdModuleRec2D.cxx
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina, @a.bercuci, @p.kaehler

Remove obsolete BinnedTracker.
  macro/mcbm/mcbm_display_event.C
  macro/mcbm/mcbm_reco.C
  macro/mcbm/mcbm_reco_event.C
  macro/mcbm/mcbm_reco_event_tb.C
  macro/mcbm/mcbm_reco_event_tb_nh.C
  reco/tracking/BinnedTracker/Bins.h
  reco/tracking/BinnedTracker/CMakeLists.txt
  reco/tracking/BinnedTracker/CbmBinnedTrackerConfigurator.cxx
  reco/tracking/BinnedTracker/CbmBinnedTrackerConfigurator.h
  reco/tracking/BinnedTracker/CbmBinnedTrackerLinkDef.h
  reco/tracking/BinnedTracker/CbmBinnedTrackerQa.cxx
  reco/tracking/BinnedTracker/CbmBinnedTrackerQa.h
  reco/tracking/BinnedTracker/CbmBinnedTrackerQaNew.cxx
  reco/tracking/BinnedTracker/CbmBinnedTrackerQaNew.h
  reco/tracking/BinnedTracker/CbmBinnedTrackerTask.cxx
  reco/tracking/BinnedTracker/CbmBinnedTrackerTask.h
  reco/tracking/BinnedTracker/CbmTrackParam2.cxx
  reco/tracking/BinnedTracker/CbmTrackParam2.h
  reco/tracking/BinnedTracker/ContFactory.cxx
  reco/tracking/BinnedTracker/ContFactory.h
  reco/tracking/BinnedTracker/Debug.h
  reco/tracking/BinnedTracker/GeoReader.cxx
  reco/tracking/BinnedTracker/GeoReader.h
  reco/tracking/BinnedTracker/HitReader.cxx
  reco/tracking/BinnedTracker/HitReader.h
  reco/tracking/BinnedTracker/Settings.cxx
  reco/tracking/BinnedTracker/Settings.h
  reco/tracking/BinnedTracker/Station.cxx
  reco/tracking/BinnedTracker/Station.h
  reco/tracking/BinnedTracker/Station3D.cxx
  reco/tracking/BinnedTracker/Station3D.h
  reco/tracking/BinnedTracker/Station4D.cxx
  reco/tracking/BinnedTracker/Station4D.h
  reco/tracking/BinnedTracker/Tracker.cxx
  reco/tracking/BinnedTracker/Tracker.h
  reco/tracking/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau, @v.friese

Remove unnecessary cout
  analysis/PWGDIL/dielectron/papaframework/PairAnalysisVarManager.h
Owners: @a_meye37_AT_uni-muenster.de

Add EventStartTime to fix calculation of beta from tof hit
  analysis/PWGDIL/dielectron/papaframework/PairAnalysisEvent.cxx
  analysis/PWGDIL/dielectron/papaframework/PairAnalysisEvent.h
  analysis/PWGDIL/dielectron/papaframework/PairAnalysisVarManager.h
Owners: @a_meye37_AT_uni-muenster.de

apply clang format
  analysis/PWGDIL/dielectron/papaframework/PairAnalysisEvent.h
  analysis/PWGDIL/dielectron/papaframework/PairAnalysisVarManager.h
Owners: @a_meye37_AT_uni-muenster.de

Fix compiler error on several systems
  reco/tasks/CMakeLists.txt
  reco/tasks/CbmTaskUnpack.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Make OpenMP optional in reco/tasks
  reco/tasks/CMakeLists.txt
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Add simple OpenMP multithreading to CbmTaskUnpack
  reco/tasks/CMakeLists.txt
  reco/tasks/CbmTaskUnpack.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Adapt build system to new flesnet
  MQ/eTOF/CMakeLists.txt
  MQ/histoServer/CMakeLists.txt
  MQ/mcbm/CMakeLists.txt
  MQ/source/CMakeLists.txt
  fles/mcbm2018/CMakeLists.txt
  reco/detectors/much/CMakeLists.txt
  reco/mq/CMakeLists.txt
Owners: @n.herrmann, @i.deppner, @f.uhlig, @p.-a.loizeau, @v.singhal, @v.friese

Fix flesnet compilation and installation
  external/InstallFlesnet.cmake
Owners: @f.uhlig

Rename a few flesnet-related build variables for consistency
  MQ/eTOF/CMakeLists.txt
  MQ/histoServer/CMakeLists.txt
  MQ/hitbuilder/CMakeLists.txt
  MQ/mcbm/CMakeLists.txt
  MQ/monitor/CMakeLists.txt
  MQ/sink/CMakeLists.txt
  MQ/source/CMakeLists.txt
  MQ/unpacker/CMakeLists.txt
  algo/CMakeLists.txt
  algo/data/CMakeLists.txt
  algo/test/CMakeLists.txt
  core/data/CMakeLists.txt
  core/data/test/CMakeLists.txt
  core/data/test/global/CMakeLists.txt
  fles/cosy2019/CMakeLists.txt
  fles/flestools/CMakeLists.txt
  fles/mcbm2018/CMakeLists.txt
  fles/star2019/CMakeLists.txt
  reco/app/cbmreco_fairrun/CMakeLists.txt
  reco/base/CMakeLists.txt
  reco/detectors/psd/CMakeLists.txt
  reco/detectors/rich/CMakeLists.txt
  reco/detectors/sts/CMakeLists.txt
  reco/detectors/tof/CMakeLists.txt
  reco/detectors/trd/CMakeLists.txt
  reco/steer/CMakeLists.txt
  reco/tasks/CMakeLists.txt
Owners: @n.herrmann, @i.deppner, @f.uhlig, @p.-a.loizeau, @v.friese, @karpushkin_AT_inr.ru, @s.lebedev, @a.bercuci, @p.kaehler

Install Algo and OnlineData libraries
  algo/CMakeLists.txt
  algo/data/CMakeLists.txt
Owners: none

Make code compatible with updated flesnet interface
  MQ/source/CbmMQTsaInfo.cxx
  MQ/source/CbmMQTsaSampler.cxx
  MQ/source/CbmMQTsaSamplerTof.cxx
Owners: @f.uhlig, @p.-a.loizeau

Rename flesnet external from ipc/ipc to fles/flesnet
  algo/data/CMakeLists.txt
  algo/test/CMakeLists.txt
  core/data/CMakeLists.txt
  core/data/test/CMakeLists.txt
  core/data/test/global/CMakeLists.txt
  external/.gitignore
  external/CMakeLists.txt
  external/fles/CMakeLists.txt
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Avoid 'detached HEAD' warnings for external projects
  cmake/modules/DownloadProject.CMakeLists.cmake.in
Owners: @f.uhlig

Include current flesnet repository in cbmroot build flow
  external/.gitignore
  external/CMakeLists.txt
  external/InstallFlesnet.cmake
  external/fles/CMakeLists.txt
Owners: @f.uhlig

Make build system happy
  external/CMakeLists.txt
Owners: @f.uhlig
