Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux

Bugfix material budget Sts macro
  macro/sts/matbudget_ana.C
  macro/sts/matbudget_mc.C
  macro/sts/matbudget_mc_phi.C
Owners: @v.friese

Major update in RICH geometry. Now RICH geometry is created completely with TGeoManager.
  macro/rich/Import_GDML_Export_ROOT.c
  macro/rich/create_rich_geo.C
  macro/rich/geotest/run_many.py
  macro/rich/geotest/run_one.py
  macro/rich/run/run_many.py
  macro/rich/run/run_one.py
  reco/detectors/rich/qa/CbmRichGeoTest.cxx
  sim/detectors/rich/CMakeLists.txt
  sim/detectors/rich/CbmRichSimLinkDef.h
  sim/detectors/rich/geo/RichGeoCreator.cxx
  sim/detectors/rich/geo/RichGeoCreator.h
  sim/detectors/rich/geo/RichGeoMaterials.h
Owners: @s.lebedev

Add CMake macros and scripts copied from FairRoot
  cmake/modules/CbmMacros.cmake
  cmake/modules/CheckCompiler.cmake
  cmake/modules/FairMacros.cmake
  cmake/modules/FindFairRoot.cmake
  cmake/modules/ROOTMacros.cmake
  cmake/modules/WriteConfigFile.cmake
  cmake/scripts/check_system.csh.in
  cmake/scripts/check_system.sh.in
  cmake/scripts/check_system_mac.csh.in
  cmake/scripts/check_system_mac.sh.in
  cmake/scripts/config.csh.in
  cmake/scripts/config.sh.in
  cmake/scripts/root_macro.sh.in
  cmake/scripts/set_env.sh.in
Owners: @f.uhlig

Remove dependency from FairRoot CMake installation
  CMakeLists.txt
  cmake/modules/ROOTMacros.cmake
Owners: @f.uhlig

Change default setting of config scripts
  cmake/scripts/config.csh.in
  cmake/scripts/config.sh.in
Owners: @f.uhlig

Use modern CMake FindPackage config
  CMakeLists.txt
  cmake/modules/CbmChecks.cmake
Owners: @f.uhlig

Remove obsolete and unused CMake files
  cmake/modules/FindFairLogger.cmake
  cmake/modules/FindFairMQ.cmake
  cmake/modules/FindGEANT4.cmake
  cmake/modules/FindGEANT4DATA.cmake
  cmake/modules/FindGEANT4VMC.cmake
Owners: @f.uhlig

Fix link problem on Debian11
  CMakeLists.txt
  MQ/source/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

Fix config file generation
  cmake/modules/WriteConfigFile.cmake
  cmake/scripts/config.csh.in
  cmake/scripts/config.sh.in
Owners: @f.uhlig

L1: do not use hit time for mCBM
  macro/beamtime/mcbm2022/mcbm_event_reco.C
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1ReadEvent.cxx
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina

Added protection against out-of-sequence timeslice reading to CbmSourceTs::ReadEvent(). This is not supported but could previously be requested by the user, leading to unexpected behavior.
  reco/tasks/CbmSourceTs.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Compile L1 also without SSE support
  reco/L1/CMakeLists.txt
Owners: @se.gorbunov, @v.akishina

FairRootTargets.cmake module added:
  cmake/modules/FairRootTargets.cmake
Owners: @f.uhlig

FairRootTargets.cmake module included
  CMakeLists.txt
Owners: none

cppzmq INTERFACE library Target is added.
  external/CMakeLists.txt
Owners: @f.uhlig

call define_fairoot_targets() macro
  cmake/modules/FindFairRoot.cmake
Owners: @f.uhlig

Target Properties are modified:
  external/InstallAnalysisTree.cmake
  external/InstallKFParticle.cmake
  external/InstallNicaFemto.cmake
Owners: @f.uhlig

Correct file type
  cmake/modules/FairRootTargets.cmake
Owners: @f.uhlig

Bump versions of FairSoft and FairRoot
  autoinstall_framework.sh
Owners: none

Update MuchReadoutConfig.h to include missing header.
  algo/detectors/much/MuchReadoutConfig.h
Owners: none

add CbmTrackerInputQaTof task
  macro/run/run_qa.C
  reco/L1/CMakeLists.txt
  reco/L1/L1LinkDef.h
  reco/L1/qa/CbmTrackerInputQaTof.cxx
  reco/L1/qa/CbmTrackerInputQaTof.h
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina

L1: global tracking macro: load tof material map
  macro/L1/run_reco_L1global.C
Owners: @f.uhlig, @p.-a.loizeau

L1: update performance plots
  reco/L1/CbmL1Performance.cxx
Owners: @se.gorbunov, @v.akishina

L1: fixes in the track fit
  reco/L1/L1Algo/L1Field.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/L1TrackPar.h
  reco/L1/L1Algo/L1TrackParFit.cxx
  reco/L1/L1Algo/L1TrackParFit.h
Owners: @se.gorbunov, @v.akishina

L1: minor
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1Extrapolation.cxx
  reco/L1/L1Algo/L1Extrapolation.h
  reco/L1/L1Algo/L1TrackPar.h
Owners: @se.gorbunov, @v.akishina

L1: track fit update
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1Field.cxx
  reco/L1/L1Algo/L1Field.h
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/L1TrackPar.h
  reco/L1/L1Algo/L1TrackParFit.cxx
  reco/L1/L1Algo/L1TrackParFit.h
  reco/qa/CbmTrackingTrdQa.cxx
  reco/qa/CbmTrackingTrdQa.h
Owners: @se.gorbunov, @v.akishina, @f.uhlig, @v.friese, @p.-a.loizeau

L1: global tracker macro: suppress reading of tof matbudget
  macro/L1/run_reco_L1global.C
Owners: @f.uhlig, @p.-a.loizeau

L1: track fit: bug fix in time filtering
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/L1TrackParFit.cxx
Owners: @se.gorbunov, @v.akishina

Renamed based on Target CbmData
  core/data/CbmDataLinkDef.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Macro to add a library target for CbmRoot:
  cmake/modules/CbmMacros.cmake
Owners: @f.uhlig

Transition from old to modern CMake
  core/base/CMakeLists.txt
  core/data/CMakeLists.txt
  core/data/DataLinkDef.h
  core/detectors/much/CMakeLists.txt
  core/detectors/psd/CMakeLists.txt
  core/detectors/rich/CMakeLists.txt
  core/detectors/sts/CMakeLists.txt
  core/detectors/tof/CMakeLists.txt
  core/detectors/trd/CMakeLists.txt
  core/eventdisplay/CMakeLists.txt
  core/field/CMakeLists.txt
  core/qa/CMakeLists.txt
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @v.singhal, @karpushkin_AT_inr.ru, @s.lebedev, @n.herrmann, @i.deppner, @a.bercuci, @p.kaehler, @se.gorbunov

Fix: pipeline #19214
  cmake/modules/CbmMacros.cmake
Owners: @f.uhlig

Fix installation
  cmake/modules/CbmMacros.cmake
Owners: @f.uhlig

current source dir is included for CbmGeoSetup target using target_include_directories() so doesn't need the path in source files now
  sim/transport/geosetup/CbmGeoSetup.cxx
  sim/transport/geosetup/CbmGeoSetupDbProvider.cxx
  sim/transport/geosetup/CbmGeoSetupField.cxx
  sim/transport/geosetup/CbmGeoSetupMedia.cxx
  sim/transport/geosetup/CbmGeoSetupModule.cxx
  sim/transport/geosetup/CbmGeoSetupProvider.cxx
  sim/transport/geosetup/CbmGeoSetupRepoProvider.cxx
Owners: @e.lavrik

Trasition from old to modern cmake
  mvd/CMakeLists.txt
  sim/detectors/much/CMakeLists.txt
  sim/detectors/psd/CMakeLists.txt
  sim/detectors/rich/CMakeLists.txt
  sim/detectors/sts/CMakeLists.txt
  sim/detectors/tof/CMakeLists.txt
  sim/detectors/trd/CMakeLists.txt
  sim/passive/CMakeLists.txt
  sim/response/CMakeLists.txt
  sim/transport/base/CMakeLists.txt
  sim/transport/generators/CMakeLists.txt
  sim/transport/geosetup/CMakeLists.txt
  sim/transport/steer/CMakeLists.txt
Owners: @c.muentz, @m.deveaux, @v.singhal, @karpushkin_AT_inr.ru, @s.lebedev, @v.friese, @n.herrmann, @i.deppner, @a.bercuci, @p.kaehler, @f.uhlig, @p.-a.loizeau, @e.lavrik

L1: fit cleanup
  reco/L1/L1Algo/L1TrackParFit.cxx
  reco/L1/L1Algo/L1TrackParFit.h
Owners: @se.gorbunov, @v.akishina

L1: fit: update L1TrackParFit class
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/L1TrackParFit.cxx
  reco/L1/L1Algo/L1TrackParFit.h
Owners: @se.gorbunov, @v.akishina

L1: fit: remove obsolette code
  macro/L1/run_reco_L1global.C
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/L1TrackParFit.h
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina

L1: Introduction of MC-framework classes for tracking; hit matching is encapsulated into separate functions
  reco/L1/CMakeLists.txt
  reco/L1/CbmCaPerformance.cxx
  reco/L1/CbmCaPerformance.h
  reco/L1/CbmL1.h
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/catools/CaToolsMcData.cxx
  reco/L1/catools/CaToolsMcData.h
  reco/L1/catools/CaToolsMcDataManager.cxx
  reco/L1/catools/CaToolsMcDataManager.h
  reco/L1/catools/CaToolsPerformance.cxx
  reco/L1/catools/CaToolsPerformance.h
Owners: @se.gorbunov, @v.akishina

L1: fix material budget reading
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1InitManager.cxx
Owners: @se.gorbunov, @v.akishina
