Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux

Add missing `#include <array>`
  fles/mcbm2018/unpacker/CbmMcbm2018UnpackerAlgoRich2020.h
Owners: @f.uhlig, @p.-a.loizeau

update the parameters hash
  external/InstallParameter.cmake
Owners: @f.uhlig

Reco Macro for mCBM data + auxiliary macros
  macro/beamtime/mcbm2022/ini_tof_clusterizer.C
  macro/beamtime/mcbm2022/ini_tof_trks.C
  macro/beamtime/mcbm2022/mcbm_event_reco_L1.C
Owners: @f.uhlig, @p.-a.loizeau

In TOF Evt Clusterizer, avoid printout flood if config missmatch
  reco/detectors/tof/CbmTofEventClusterizer.cxx
  reco/detectors/tof/CbmTofEventClusterizer.h
Owners: @n.herrmann, @i.deppner

[mCBM] add setter for RICH ICD base path + fix RICH par path in 2022 reco macro
  macro/beamtime/mcbm2022/mcbm_event_reco_L1.C
  reco/detectors/psd/CbmPsdMCbmHitProducer.cxx
  reco/detectors/rich/CbmRichReconstruction.cxx
  reco/detectors/rich/mcbm/CbmRichMCbmHitProducer.cxx
  reco/detectors/rich/mcbm/CbmRichMCbmHitProducer.h
Owners: @f.uhlig, @p.-a.loizeau, @karpushkin_AT_inr.ru, @s.lebedev

add CI steps for mcbm data reco + dependencies
  macro/run/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

Add OpenMP thread Nb var to config script + opt. override, Refs #2622
  CMakeLists.txt
  cmake/scripts/config.csh.in
  cmake/scripts/config.sh.in
  cmake/scripts/root_macro.sh.in
Owners: @f.uhlig

Implement proper dependencies
  analysis/PWGC2F/femtoscopy/nicafemto/cuts/CMakeLists.txt
  analysis/PWGC2F/femtoscopy/nicafemto/format/CMakeLists.txt
  analysis/PWGC2F/femtoscopy/nicafemto/helpers/CMakeLists.txt
  analysis/PWGDIL/dielectron/conversion/CMakeLists.txt
  analysis/PWGDIL/dielectron/papaframework/CMakeLists.txt
  analysis/PWGDIL/dielectron/pi0eta/CMakeLists.txt
  analysis/common/analysis_tree_converter/CMakeLists.txt
  analysis/common/at_kfpf_interface/CMakeLists.txt
  reco/KF/KFParticleInterface.cmake
  reco/L1/CMakeLists.txt
Owners: @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @i.selyuzhenkov, @se.gorbunov, @v.akishina

Transition to Modern CMake (analysis Dir)
  analysis/PWGC2F/femtoscopy/nicafemto/cuts/CMakeLists.txt
  analysis/PWGC2F/femtoscopy/nicafemto/format/CMakeLists.txt
  analysis/PWGC2F/femtoscopy/nicafemto/helpers/CMakeLists.txt
  analysis/PWGCHA/jpsi/CMakeLists.txt
  analysis/PWGDIL/dielectron/conversion/CMakeLists.txt
  analysis/PWGDIL/dielectron/lmvm/CMakeLists.txt
  analysis/PWGDIL/dielectron/papaframework/CMakeLists.txt
  analysis/PWGDIL/dielectron/pi0eta/CMakeLists.txt
  analysis/PWGDIL/dimuon/CMakeLists.txt
  analysis/PWGHAD/hadron/CMakeLists.txt
  analysis/common/analysis_tree_converter/CMakeLists.txt
  analysis/common/at_kfpf_interface/CMakeLists.txt
  analysis/detectors/psd/CMakeLists.txt
  analysis/detectors/sts/CMakeLists.txt
  analysis/detectors/tof/CMakeLists.txt
Owners: @wielanek_AT_if.pw.edu.pl, @i.selyuzhenkov, @c.pauly, @a_meye37_AT_uni-muenster.de, @karpushkin_AT_inr.ru, @v.friese, @n.herrmann, @i.deppner

Fix OpenMP issue on macosx
  reco/L1/CMakeLists.txt
Owners: @se.gorbunov, @v.akishina

fix pad addressing in Trd2D for measured data.
  core/detectors/trd/CbmTrdParAsic.h
  core/detectors/trd/CbmTrdParFasp.h
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.cxx
Owners: @a.bercuci, @p.kaehler

remove switching off TRD2D independently from TRD1D as they are always part of the same geometry setup
  macro/beamtime/mcbm2022/mcbm_event_reco_L1.C
Owners: @f.uhlig, @p.-a.loizeau

add scaling of TRD2D charge to fit monitoring histo
  fles/mcbm2018/tasks/CbmMcbmCheckTimingAlgo.cxx
Owners: @f.uhlig, @p.-a.loizeau

use template specialization for processing special digis (TRD(2D) ToF/T0)
  fles/mcbm2018/tasks/CbmMcbmCheckTimingAlgo.cxx
  fles/mcbm2018/tasks/CbmMcbmCheckTimingAlgo.h
Owners: @f.uhlig, @p.-a.loizeau

Fix openMP default in config scripts, refs #2622
  cmake/scripts/config.csh.in
  cmake/scripts/config.sh.in
  cmake/scripts/root_macro.sh.in
Owners: @f.uhlig

Remove unneeded target dependency
  reco/base/CMakeLists.txt
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Install library
  external/flib_dpb/CMakeLists.txt
Owners: @f.uhlig

Improve CI
  .gitlab-ci.yml
  CbmRoot_test.cmake
Owners: none

L1: fix performance for noise and for mCBM timebased
  reco/L1/CbmL1.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
Owners: @se.gorbunov, @v.akishina

external: Update xpu with fixes for CMake upgrade.
  external/CMakeLists.txt
Owners: @f.uhlig

clean up: unnecessary variables removed
  cmake/modules/FairRootTargets.cmake
Owners: @f.uhlig

Move rich local reconstruction code
  reco/L1/CMakeLists.txt
  reco/L1/L1LinkDef.h
  reco/detectors/rich/CMakeLists.txt
  reco/detectors/rich/CbmRichRecoLinkDef.h
  reco/detectors/rich/CbmRichReconstruction.cxx
  reco/detectors/rich/alignment/CbmRichReconstruction.cxx
  reco/detectors/rich/finder/CbmL1RichENNRingFinder.cxx
  reco/detectors/rich/finder/CbmL1RichENNRingFinder.h
  reco/detectors/rich/finder/CbmL1RichENNRingFinderParallel.cxx
  reco/detectors/rich/finder/CbmL1RichENNRingFinderParallel.h
  reco/detectors/rich/qa/CbmL1RichRingQa.cxx
  reco/detectors/rich/qa/CbmL1RichRingQa.h
Owners: @se.gorbunov, @v.akishina, @s.lebedev

Append, overwrite and prepend in config script.
  cmake/scripts/config.sh.in
Owners: @f.uhlig

L1: switch on the triplet refit
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CAIteration.cxx
  reco/L1/L1Algo/L1CAIteration.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1ConfigRW.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/L1TrackPar.h
  reco/L1/L1Algo/L1TrackParFit.cxx
  reco/L1/L1Algo/L1TrackParFit.h
Owners: @se.gorbunov, @v.akishina

L1: minor bugfix
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1: code format
  reco/L1/CbmL1.cxx
  reco/L1/catools/CaToolsDebugger.cxx
Owners: @se.gorbunov, @v.akishina

L1: remove beam pipe material from the fit, as it is not correctly implemented
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1: store squared hit errors
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1BranchExtender.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Filtration.h
  reco/L1/L1Algo/L1Hit.h
  reco/L1/L1Algo/L1HitPoint.h
  reco/L1/L1Algo/L1Station.h
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/L1TrackParFit.cxx
  reco/L1/L1Algo/L1TrackParFit.h
Owners: @se.gorbunov, @v.akishina

L1: debugger class
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/catools/CaToolsDebugger.cxx
  reco/L1/catools/CaToolsDebugger.h
Owners: @se.gorbunov, @v.akishina

L1: refit triplets, but use old chi2
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

!1006 commit modifications
  MQ/monitor/CMakeLists.txt
  algo/data/CMakeLists.txt
  algo/test/CMakeLists.txt
  core/data/test/global/CMakeLists.txt
  core/data/test/psd/CMakeLists.txt
  reco/detectors/trd/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau, @karpushkin_AT_inr.ru, @a.bercuci, @p.kaehler

Transition to Modern CMake
  MQ/monitor/CMakeLists.txt
  core/data/test/CMakeLists.txt
  core/data/test/global/CMakeLists.txt
  core/data/test/psd/CMakeLists.txt
  core/data/test/trd/CMakeLists.txt
  external/InstallGtest.cmake
  reco/qa/CMakeLists.txt
  tutorials/TaskToAlgo/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau, @karpushkin_AT_inr.ru, @a.bercuci, @p.kaehler, @v.friese

Cleanup unit tests in core/data and algo
  algo/test/CMakeLists.txt
  core/data/test/CMakeLists.txt
  core/data/test/global/CMakeLists.txt
  core/data/test/global/_GTestCbmVertex.cxx
  core/data/test/psd/CMakeLists.txt
  core/data/test/trd/CMakeLists.txt
Owners: @f.uhlig, @karpushkin_AT_inr.ru, @a.bercuci, @p.kaehler

Fix target dependencies
  algo/data/CMakeLists.txt
  reco/qa/CMakeLists.txt
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Cleanup Gtest installation
  CMakeLists.txt
  external/InstallGtest.cmake
Owners: @f.uhlig

Introduce T-ZERO digitizer (Refs #2630)
  core/data/CMakeLists.txt
  core/data/CbmDataLinkDef.h
  core/data/global/CbmTzdDigi.cxx
  core/data/global/CbmTzdDigi.h
  sim/detectors/CMakeLists.txt
  sim/detectors/tzd/CMakeLists.txt
  sim/detectors/tzd/CbmTzdDigitize.cxx
  sim/detectors/tzd/CbmTzdDigitize.h
  sim/detectors/tzd/CbmTzdSimLinkDef.h
  sim/response/CMakeLists.txt
  sim/response/base/CbmDigitization.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Use always internal GTest version
  CMakeLists.txt
Owners: none

Fix compiler error with newer ROOT versions
  reco/L1/catools/CaToolsDebugger.cxx
Owners: @se.gorbunov, @v.akishina

Include TzdDigi in CbmBuildEventsIdeal
  core/base/CbmDigiManager.cxx
  core/data/global/CbmTzdDigi.h
  reco/eventbuilder/digis/CbmBuildEventsIdeal.cxx
  sim/detectors/tzd/CbmTzdDigitize.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @d.smith

t0 reconstruction
  core/data/CbmEvent.h
  macro/run/run_reco.C
  reco/global/CMakeLists.txt
  reco/global/CbmGlobalLinkDef.h
  reco/global/CbmRecoTzero.cxx
  reco/global/CbmRecoTzero.h
  sim/response/base/CbmDigitization.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau
