Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

L1: implemented move constructor and assignment operator for L1Vector
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1Timer.h
  reco/L1/L1Algo/L1Triplet.h
  reco/L1/L1Algo/L1Utils.h
  reco/L1/L1Algo/L1Vector.h
Owners: @se.gorbunov, @v.akishina

L1: added station index to hit; added phi distributions to CbmL1Performance
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1MCTrack.cxx
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1ClonesMerger.cxx
  reco/L1/L1Algo/L1TrackExtender.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1: new input tracking data was introduced
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Constants.h
  reco/L1/L1Algo/L1Hit.h
  reco/L1/L1Algo/L1IODataManager.cxx
  reco/L1/L1Algo/L1IODataManager.h
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InputData.cxx
  reco/L1/L1Algo/L1InputData.h
  reco/L1/L1Algo/L1Parameters.cxx
Owners: @se.gorbunov, @v.akishina

L1: Finalized the L1InputData object usage: the old input variables were removed
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1MCTrack.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/utils/L1AlgoDraw.cxx
  reco/L1/L1AlgoInputData.cxx
  reco/L1/L1AlgoInputData.h
Owners: @se.gorbunov, @v.akishina

L1: input hits storage and access improvement
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1Hit.h
  reco/L1/CbmL1MCTrack.cxx
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1ClonesMerger.cxx
  reco/L1/L1Algo/L1Grid.cxx
  reco/L1/L1Algo/L1Grid.h
  reco/L1/L1Algo/L1InputData.cxx
  reco/L1/L1Algo/L1InputData.h
  reco/L1/L1Algo/L1TrackExtender.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/utils/L1AlgoDraw.cxx
  reco/L1/L1Algo/utils/L1AlgoPulls.cxx
Owners: @se.gorbunov, @v.akishina

L1: updated instructions on setting up the CbmTrackingDetectorInterfaceInit task
  reco/KF/CbmKF.cxx
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1InputData.h
  reco/L1/L1Algo/L1TrackFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1: fixed memory leak in performance tables
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Constants.h
  reco/L1/L1Algo/L1Def.h
Owners: @se.gorbunov, @v.akishina

L1: bugfix in filtration
  reco/L1/L1Algo/L1Filtration.h
Owners: @se.gorbunov, @v.akishina

L1: improved L1 core parameters intialization
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Parameters.cxx
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/L1Algo/L1TrackExtender.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1: fix pseudo vectors
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1ClonesMerger.h
  reco/L1/L1Algo/L1Constants.h
  reco/L1/L1Algo/L1NaN.h
  reco/L1/L1Algo/L1Utils.h
  reco/L1/vectors/PSEUDO_F32vec4.h
Owners: @se.gorbunov, @v.akishina

modify range of QA histo
  reco/qa/CbmTrackingTrdQa.cxx
  reco/qa/CbmTrackingTrdQa.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

add pT-rapidity plots for MC info
  macro/L1/run_reco_L1global.C
  reco/qa/CbmTrackingTrdQa.cxx
  reco/qa/CbmTrackingTrdQa.h
Owners: @f.uhlig, @p.-a.loizeau, @v.friese

L1: trd2d tracking: reconstruction of 3-hit-tracks
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1: update of trd2dQa
  macro/L1/run_reco_LITglobal.C
  reco/qa/CbmTrackingTrdQa.cxx
  reco/qa/CbmTrackingTrdQa.h
Owners: @f.uhlig, @p.-a.loizeau, @v.friese

GpuRecoSts: Small fixes.
  reco/detectors/sts/CbmRecoSts.cxx
  reco/detectors/sts/experimental/CbmGpuRecoSts.cxx
Owners: @v.friese

Fix for run_digi crash at exit, to be solved better on FairRoot side
  sim/response/base/CbmDigitization.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

KF: add setter for target position
  external/InstallKFParticle.cmake
  reco/KF/CbmKF.cxx
  reco/KF/CbmKF.h
  reco/KF/CbmKFParticleFinder.cxx
  reco/KF/CbmKFParticleFinder.h
Owners: @f.uhlig, @se.gorbunov, @v.akishina

L1: added input data IO functionality
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Hit.h
  reco/L1/L1Algo/L1IODataManager.cxx
  reco/L1/L1Algo/L1IODataManager.h
  reco/L1/L1Algo/L1InputData.h
  reco/L1/L1Algo/L1Vector.h
Owners: @se.gorbunov, @v.akishina

L1: reimplemented counting of stations number inside a magnetic field
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Parameters.cxx
Owners: @se.gorbunov, @v.akishina

external: Add Microsoft GSL library.
  CMakeLists.txt
  external/.gitignore
  external/CMakeLists.txt
Owners: @f.uhlig

Use commit hash instead of version tag
  external/CMakeLists.txt
Owners: @f.uhlig

external: Bump xpu version.
  external/CMakeLists.txt
  reco/detectors/sts/experimental/CbmStsGpuHitFinder.h
  reco/detectors/sts/experimental/CbmStsGpuRecoDevice.h
Owners: @f.uhlig, @v.friese

Fix externals on Apple silicon
  external/InstallKFParticle.cmake
  external/KFParticle_applem1.patch
  external/NicaFemto.patch
Owners: @f.uhlig

Fix a runtime problem on arm64
  analysis/common/at_kfpf_interface/ATKFParticleFinder.cxx
  analysis/common/at_kfpf_interface/ATKFParticleFinder.h
Owners: @i.selyuzhenkov

Fix cmake macro
  cmake/modules/FindSSE.cmake
Owners: @f.uhlig

L1: prepare for Vc; get rid of rcp() and rsqrt() for consistency
  reco/L1/L1Algo/L1Extrapolation.cxx
  reco/L1/L1Algo/L1Field.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/vectors/P4_F32vec4.h
Owners: @se.gorbunov, @v.akishina

L1: bugfix in defining the field region for singlets
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1: bugfix in time extrapolation with Runge-Kutta method
  reco/L1/L1Algo/L1TrackParFit.cxx
Owners: @se.gorbunov, @v.akishina

L1: prepare for Vc
  reco/L1/L1Algo/L1Def.h
  reco/L1/L1Algo/L1Filtration.h
  reco/L1/L1Algo/L1FitMaterial.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/L1TrackParFit.cxx
  reco/L1/L1Algo/L1TrackParFit.h
  reco/L1/OffLineInterface/CbmL1RichENNRingFinderParallel.cxx
  reco/L1/OffLineInterface/CbmL1RichENNRingFinderParallel.h
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
  reco/L1/vectors/P4_F32vec4.h
Owners: @se.gorbunov, @v.akishina

L1: fix CI build
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/utils/L1AlgoPulls.cxx
  reco/detectors/trd/CMakeLists.txt
  reco/eventbuilder/CMakeLists.txt
  reco/littrack/CMakeLists.txt
  reco/littrack/parallel/CMakeLists.txt
  reco/littrack/parallel/LitTypes.h
Owners: @se.gorbunov, @v.akishina, @a.bercuci, @p.kaehler, @d.smith, @s.lebedev, @andrey.lebedev

L1: fit cleanup
  reco/L1/L1Algo/L1TrackParFit.cxx
Owners: @se.gorbunov, @v.akishina

L1: remove custom SSE vectors
  reco/L1/CMakeLists.txt
  reco/L1/vectors/P4_F32vec4.h
  reco/L1/vectors/P4_F64vec2.h
  reco/detectors/trd/CMakeLists.txt
  reco/detectors/trd/pid/CbmTrdSetTracksPidModWkn.cxx
Owners: @se.gorbunov, @v.akishina, @a.bercuci, @p.kaehler

L1: minor change in calculation
  reco/L1/L1Algo/L1Field.cxx
Owners: @se.gorbunov, @v.akishina

L1: bugxix
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1: bugfix
  reco/L1/CbmL1Performance.cxx
Owners: @se.gorbunov, @v.akishina

L1: switch to Vc library for SIMD vectors
  reco/L1/CMakeLists.txt
  reco/L1/vectors/L1vec.h
  reco/L1/vectors/L1vecVc.h
Owners: @se.gorbunov, @v.akishina

L1: cosmetics
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Def.h
Owners: @se.gorbunov, @v.akishina

L1: cleanup fit routines
  reco/L1/CMakeLists.txt
  reco/L1/L1Algo/L1ClonesMerger.cxx
  reco/L1/L1Algo/L1Extrapolation.cxx
  reco/L1/L1Algo/L1Extrapolation.h
  reco/L1/L1Algo/L1Field.cxx
  reco/L1/L1Algo/L1Filtration.h
  reco/L1/L1Algo/L1Fit.h
  reco/L1/L1Algo/L1FitMaterial.cxx
  reco/L1/L1Algo/L1NaN.h
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/L1TrackParFit.cxx
  reco/L1/L1Algo/L1TrackParFit.h
  reco/L1/L1Algo/L1Utils.h
  reco/L1/OffLineInterface/CbmL1RichENNRingFinderParallel.cxx
  reco/L1/OffLineInterface/CbmL1RichENNRingFinderParallel.h
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
  reco/L1/vectors/P4_F32vec4.h
Owners: @se.gorbunov, @v.akishina

L1: code format
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1: fix CI build
  reco/L1/vectors/L1vec.h
  reco/L1/vectors/std_alloc.h
Owners: @se.gorbunov, @v.akishina

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux
