Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux

L1: Florian's patch for Mac compilation
  reco/KF/CbmKFParticleFinder.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1TrackPar.h
  reco/L1/L1Algo/utils/L1AlgoPulls.cxx
Owners: @se.gorbunov, @v.akishina

L1: update of pseudo SSE vectors
  reco/L1/vectors/L1vecPseudo.h
  reco/L1/vectors/PSEUDO_F32vec1.h
  reco/L1/vectors/PSEUDO_F32vec4.h
  reco/L1/vectors/PSEUDO_F64vec1.h
  reco/L1/vectors/vec_arithmetic.h
Owners: @se.gorbunov, @v.akishina

L1: Added boost serializers for L1Parameters objects and their components; implemented an interface for parameters and input data RW
  macro/mcbm/mcbm_reco_event.C
  macro/run/run_reco.C
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1CAIteration.h
  reco/L1/L1Algo/L1Field.h
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1MaterialInfo.h
  reco/L1/L1Algo/L1Parameters.cxx
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/L1Algo/L1SimdSerializer.h
  reco/L1/L1Algo/L1Station.h
  reco/L1/L1Algo/L1UMeasurementInfo.h
  reco/L1/L1Algo/L1XYMeasurementInfo.h
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina

L1: SIMD vectors: remove masked()
  reco/L1/L1Algo/L1Extrapolation.cxx
  reco/L1/L1Algo/L1Filtration.h
  reco/L1/L1Algo/L1FitMaterial.cxx
  reco/L1/L1Algo/L1TrackParFit.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
  reco/L1/vectors/L1vecPseudo.h
  reco/L1/vectors/L1vecVc.h
Owners: @se.gorbunov, @v.akishina

L1: SIMD vectors: remove IsNanAny()
  reco/L1/L1Algo/L1NaN.h
  reco/L1/vectors/L1vecPseudo.h
  reco/L1/vectors/L1vecVc.h
Owners: @se.gorbunov, @v.akishina

L1: SIMD vectors: remove fvecLen
  reco/KF/CbmKFParticleFinder.cxx
  reco/KF/CbmKFParticleInterface.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Constants.h
  reco/L1/L1Algo/L1MaterialInfo.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/L1TrackPar.h
  reco/L1/OffLineInterface/CbmL1RichENNRingFinderParallel.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
  reco/L1/vectors/L1vecPseudo.h
  reco/L1/vectors/L1vecVc.h
  reco/littrack/parallel/LitFieldGrid.h
  reco/littrack/parallel/LitMaterialGrid.h
Owners: @se.gorbunov, @v.akishina, @s.lebedev, @andrey.lebedev

L1: SIMD vectors: replace fabs() with abs()
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1ClonesMerger.cxx
  reco/L1/L1Algo/L1FitMaterial.cxx
  reco/L1/L1Algo/L1TrackExtender.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/L1TrackParFit.cxx
  reco/L1/OffLineInterface/CbmL1RichENNRingFinderParallel.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
  reco/L1/vectors/L1vecPseudo.h
  reco/L1/vectors/L1vecVc.h
Owners: @se.gorbunov, @v.akishina

L1: SIMD vectors: replace if3() with iif()
  reco/L1/L1Algo/L1ClonesMerger.cxx
  reco/L1/L1Algo/L1Extrapolation.cxx
  reco/L1/L1Algo/L1FitMaterial.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/L1TrackParFit.cxx
  reco/L1/OffLineInterface/CbmL1RichENNRingFinderParallel.cxx
  reco/L1/vectors/L1vecPseudo.h
  reco/L1/vectors/L1vecVc.h
Owners: @se.gorbunov, @v.akishina

L1: SIMD vectors: fix pseudo vectors
  reco/L1/vectors/L1vecPseudo.h
Owners: @se.gorbunov, @v.akishina

L1: SIMD vectors: remove mask2int()
  reco/L1/OffLineInterface/CbmL1RichENNRingFinderParallel.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
  reco/L1/vectors/L1vecPseudo.h
  reco/L1/vectors/L1vecVc.h
Owners: @se.gorbunov, @v.akishina

L1: SIMD vectors: remove custom operators
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1CloneMerger.cxx
  reco/L1/L1Algo/L1Extrapolation.cxx
  reco/L1/L1Algo/L1Filtration.h
  reco/L1/L1Algo/L1FitMaterial.cxx
  reco/L1/L1Algo/L1TrackExtender.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/L1TrackParFit.cxx
  reco/L1/OffLineInterface/CbmL1RichENNRingFinderParallel.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
  reco/L1/vectors/L1vec.h
  reco/L1/vectors/L1vecPseudo.h
  reco/L1/vectors/L1vecVc.h
Owners: @se.gorbunov, @v.akishina

L1: SIMD vectors: remove IsHorizontallyEqual()
  reco/L1/L1Algo/L1Field.cxx
  reco/L1/L1Algo/L1Utils.h
  reco/L1/vectors/L1vecPseudo.h
  reco/L1/vectors/L1vecVc.h
Owners: @se.gorbunov, @v.akishina

L1: minor
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1CloneMerger.cxx
  reco/L1/L1Algo/L1Extrapolation.cxx
Owners: @se.gorbunov, @v.akishina

L1: renaming
  reco/L1/CMakeLists.txt
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1CloneMerger.cxx
  reco/L1/L1Algo/L1CloneMerger.h
Owners: @se.gorbunov, @v.akishina

L1: SIMD vectors: cleanup
  reco/L1/L1Algo/L1Extrapolation.cxx
  reco/L1/L1Algo/L1Filtration.h
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/OffLineInterface/CbmL1RichENNRingFinderParallel.cxx
  reco/L1/OffLineInterface/CbmL1RichENNRingFinderParallel.h
  reco/L1/vectors/L1vecPseudo.h
  reco/L1/vectors/L1vecVc.h
Owners: @se.gorbunov, @v.akishina

L1: compilation fix after rebase
  reco/L1/L1Algo/L1SimdSerializer.h
Owners: @se.gorbunov, @v.akishina

L1 [bugfix]: reimplemented serialization of SIMD vectors
  reco/L1/L1Algo/L1SimdSerializer.h
Owners: @se.gorbunov, @v.akishina

L1: simd vectors: remove custom memory allocator
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Def.h
  reco/L1/L1Algo/L1Portion.h
  reco/L1/OffLineInterface/CbmL1RichENNRingFinderParallel.cxx
  reco/L1/OffLineInterface/CbmL1RichENNRingFinderParallel.h
  reco/L1/vectors/L1vec.h
  reco/L1/vectors/std_alloc.h
Owners: @se.gorbunov, @v.akishina

L1: bugfix
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1: minor cleanup
  reco/L1/CMakeLists.txt
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

[TOF unp] Fix missing det. type in mapping in par class, forgotten/lost during mcbm merging
  core/detectors/tof/CbmMcbm2018TofPar.cxx
Owners: @n.herrmann, @i.deppner

CbmKFParticleFinder: set target position for all events in timeslice
  external/InstallKFParticle.cmake
  reco/KF/CbmKF.cxx
  reco/KF/CbmKF.h
  reco/KF/CbmKFParticleFinder.cxx
Owners: @f.uhlig, @se.gorbunov, @v.akishina

Update to latest external tags for STS v22e, refs #2596
  external/InstallGeometry.cmake
  external/InstallInput.cmake
Owners: @f.uhlig

fix requested for MR https://git.cbm.gsi.de/computing/cbmroot/-/merge_requests/863/diffs#5cac5d0fe7bc6b946d9ab8f95272de9fc0835e38
  reco/detectors/trd/qa/CbmTrdCalibTracker.cxx
Owners: @a.bercuci, @p.kaehler

Fix remaining unused variables for trd related files
  core/detectors/trd/CbmTrdRadiator.cxx
  sim/detectors/trd/CbmTrdModuleSimR.cxx
  sim/detectors/trd/CbmTrdRawToDigiR.cxx
Owners: @a.bercuci, @p.kaehler

Apply Clang format
  core/detectors/trd/CbmTrdRadiator.cxx
Owners: @a.bercuci, @p.kaehler

CbmStsFindTracksEvents: Fix logging.
  reco/detectors/sts/CbmStsFindTracksEvents.cxx
Owners: @v.friese

remove unnecessary dependency on Algo library
  algo/CMakeLists.txt
  algo/ca/simd/CaSimd.h
  analysis/PWGCHA/jpsi/CMakeLists.txt
  analysis/PWGDIL/dielectron/conversion/CMakeLists.txt
  analysis/PWGDIL/dielectron/lmvm/CMakeLists.txt
  analysis/PWGDIL/dielectron/papaframework/CMakeLists.txt
  analysis/PWGDIL/dielectron/pi0eta/CMakeLists.txt
  analysis/PWGDIL/dielectron/pi0eta/CbmKresConversionCorrectedPhotons.cxx
  analysis/PWGDIL/dielectron/pi0eta/CbmKresConversionManual.cxx
  analysis/PWGDIL/dielectron/pi0eta/CbmKresConversionPhotons.cxx
  analysis/PWGDIL/dielectron/pi0eta/CbmKresEta.cxx
  analysis/common/analysis_tree_converter/CMakeLists.txt
  reco/KF/KF.cmake
  reco/KF/KFParticleInterface.cmake
  reco/KF/KFQA.cmake
  reco/L1/CMakeLists.txt
  reco/L1/L1Algo/L1NaN.h
  reco/L1/L1Algo/L1SimdSerializer.h
  reco/L1/OffLineInterface/CbmL1RichENNRingFinderParallel.h
  reco/eventbuilder/CMakeLists.txt
  reco/littrack/CMakeLists.txt
  reco/littrack/parallel/CMakeLists.txt
  reco/littrack/parallel/LitTypes.h
Owners: @i.selyuzhenkov, @c.pauly, @a_meye37_AT_uni-muenster.de, @se.gorbunov, @v.akishina, @d.smith, @s.lebedev, @andrey.lebedev

L1: move L1 simd headers to /algo/ca/
  algo/CMakeLists.txt
  algo/ca/simd/CaSimd.h
  algo/ca/simd/CaSimdPseudo.h
  algo/ca/simd/CaSimdVc.h
  analysis/PWGCHA/jpsi/CMakeLists.txt
  analysis/PWGDIL/dielectron/conversion/CMakeLists.txt
  analysis/PWGDIL/dielectron/lmvm/CMakeLists.txt
  analysis/PWGDIL/dielectron/papaframework/CMakeLists.txt
  analysis/PWGDIL/dielectron/pi0eta/CMakeLists.txt
  analysis/common/analysis_tree_converter/CMakeLists.txt
  reco/KF/KF.cmake
  reco/KF/KFParticleInterface.cmake
  reco/KF/KFQA.cmake
  reco/L1/CMakeLists.txt
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Def.h
  reco/L1/L1Algo/L1NaN.h
  reco/L1/L1Algo/L1SimdSerializer.h
  reco/L1/OffLineInterface/CbmL1RichENNRingFinderParallel.h
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.h
  reco/L1/vectors/L1vecPseudo.h
  reco/eventbuilder/CMakeLists.txt
  reco/littrack/CMakeLists.txt
  reco/littrack/parallel/CMakeLists.txt
  reco/littrack/parallel/LitTypes.h
  reco/littrack/parallel/vectors/P4_F32vec4.h
  reco/littrack/parallel/vectors/PSEUDO_F32vec1.h
  reco/littrack/parallel/vectors/vec_arithmetic.h
Owners: @i.selyuzhenkov, @c.pauly, @a_meye37_AT_uni-muenster.de, @se.gorbunov, @v.akishina, @d.smith, @s.lebedev, @andrey.lebedev

L1: remove simd classes from CbmL1FPFitter interface
  analysis/PWGCHA/jpsi/CMakeLists.txt
  analysis/PWGCHA/jpsi/CbmAnaJpsiUtils.h
  analysis/PWGDIL/dielectron/conversion/CMakeLists.txt
  analysis/PWGDIL/dielectron/conversion/CbmAnaConversion.cxx
  analysis/PWGDIL/dielectron/conversion/CbmAnaConversionPhotons.cxx
  analysis/PWGDIL/dielectron/conversion/CbmAnaConversionPhotons2.cxx
  analysis/PWGDIL/dielectron/conversion/CbmAnaConversionRecoFull.cxx
  analysis/PWGDIL/dielectron/conversion/CbmAnaConversionTest.cxx
  analysis/PWGDIL/dielectron/conversion/CbmAnaConversionTest2.cxx
  analysis/PWGDIL/dielectron/lmvm/CMakeLists.txt
  analysis/PWGDIL/dielectron/lmvm/LmvmUtils.cxx
  analysis/PWGDIL/dielectron/papaframework/CMakeLists.txt
  analysis/PWGDIL/dielectron/papaframework/PairAnalysisPairKF.cxx
  analysis/PWGDIL/dielectron/papaframework/PairAnalysisPairLV.cxx
  analysis/PWGDIL/dielectron/papaframework/PairAnalysisTrack.cxx
  analysis/common/analysis_tree_converter/CMakeLists.txt
  analysis/common/analysis_tree_converter/CbmStsTracksConverter.cxx
  reco/KF/CbmKFParticleFinder.cxx
  reco/KF/CbmKFParticleInterface.cxx
  reco/KF/KFQA/CbmKFTrackQa.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.h
Owners: @i.selyuzhenkov, @c.pauly, @a_meye37_AT_uni-muenster.de, @se.gorbunov, @v.akishina

L1: minor cleanup
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1: bugfix in creation of the time grid
  algo/ca/simd/CaSimdVc.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1: fixies to run with different SIMD types
  algo/ca/simd/CaSimdVc.h
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1MaterialInfo.cxx
  reco/L1/L1Algo/L1MaterialInfo.h
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/utils/L1AlgoDraw.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1 [bugfix]: Fix of parameters initialization for tracking via YAML configuration file
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1Parameters.cxx
Owners: @se.gorbunov, @v.akishina

[CI] Add tuned timeout values for mCBM CI tests when coverage ON
  macro/run/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

Change TH2D to TH2F since input histograms are TH2F
  reco/detectors/trd/pid/CbmTrdSetTracksPidLike.cxx
Owners: @a.bercuci, @p.kaehler

Use TH1F for 1D method
  reco/detectors/trd/pid/CbmTrdSetTracksPidLike.cxx
Owners: @a.bercuci, @p.kaehler

L1: case of nullptr field included to CbmL1
  reco/L1/CbmL1.cxx
Owners: @se.gorbunov, @v.akishina

L1: Duplicating code for STS hits matching was removed
  reco/L1/CbmL1ReadEvent.cxx
Owners: @se.gorbunov, @v.akishina

L1: dFEI keys were replaced with CbmL1LinkKey struct
  reco/L1/CbmL1.h
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Utils.h
Owners: @se.gorbunov, @v.akishina
