Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

Set dE/dx for StsTracks. Refs #2241.
  reco/base/CbmStsTrackFinder.h
  reco/detectors/sts/CbmStsFindTracks.cxx
  reco/detectors/sts/CbmStsFindTracksEvents.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

mvd: bugfix in rounding the station Z in the negative Z region
  mvd/CbmMvdStationPar.cxx
  mvd/CbmMvdStationPar.h
  mvd/tools/CbmMvdGeoHandler.cxx
  mvd/tools/CbmMvdGeoHandler.h
  reco/KF/CbmKF.cxx
  reco/L1/CbmL1.cxx
Owners: @c.muentz, @m.deveaux, @se.gorbunov, @v.akishina

Radiation Length correction for mcbm much
  external/InstallInput.cmake
  macro/mcbm/geometry/much/create_MUCH_geometry_v22c_mcbm.C
  macro/mcbm/geometry/much/create_MUCH_geometry_v22d_mcbm.C
Owners: @f.uhlig, @p.-a.loizeau

fix json config classes
  core/config/CbmConfigBase.h
  macro/run/config.json
  sim/response/base/CbmDigitizationConfig.cxx
  sim/transport/steer/CbmTransportConfig.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

add overwrite protection to CbmTransport
  sim/transport/steer/CbmTransport.cxx
  sim/transport/steer/CbmTransport.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

L1: bigfix for shifted geometry
  reco/L1/L1Algo/L1TrackExtender.cxx
Owners: @se.gorbunov, @v.akishina

fix of RICH unpacker v3 following bugfix in CRI firmware + add Tot correction for DiRICHes missing in 1588
  macro/beamtime/mcbm2021/mRichPar_70.par
  reco/detectors/rich/unpack/CbmRichUnpackAlgo2022.cxx
Owners: @f.uhlig, @p.-a.loizeau, @s.lebedev

add check of data format version.
  reco/detectors/rich/unpack/CbmRichUnpackAlgo2022.cxx
Owners: @s.lebedev

[mCBM]: add runId switch for mRICH unpacker version + STS walk in MQ
  MQ/mcbm/CbmDeviceUnpack.cxx
  macro/run/run_unpack_tsa.C
Owners: @f.uhlig, @p.-a.loizeau

mCBM: synchronize the run_unpack_online with the tsa version
  macro/run/run_unpack_online.C
Owners: @f.uhlig, @p.-a.loizeau

Bug fix in CbmStsDigitize when setting the user-defined processes.
  sim/detectors/sts/CbmStsDigitize.cxx
Owners: @v.friese

Update InstallInput.cmake
  external/InstallInput.cmake
Owners: @f.uhlig

Update InstallGeometry.cmake
  external/InstallGeometry.cmake
Owners: @f.uhlig

Apply z = +7.0 cm shift to mSTS for survey of Juli 2021 run 1588, refs #2413
  external/InstallGeometry.cmake
Owners: @f.uhlig

Update InstallParameter.cmake
  external/InstallParameter.cmake
Owners: @f.uhlig

TOF_v21a inner module position correction
  macro/tof/geometry/ModulePosition_10m_v21a.dat
Owners: @n.herrmann, @i.deppner

Updated README.md.
  README.md
Owners: none

Improve automatic installation script
  autoinstall_framework.sh
Owners: none

Update README file
  README.md
Owners: none

Update autoinstaller script
  autoinstall_framework.sh
Owners: none

Fix CI
  macro/KF/CMakeLists.txt
  macro/dimuon/CMakeLists.txt
  macro/dimuon/dimuon_transport.C
  macro/mcbm/CMakeLists.txt
  macro/mcbm/mcbm_transport.C
  macro/much/run_transport.C
  macro/reco/CMakeLists.txt
  macro/run/CMakeLists.txt
  macro/run/config_ci.json
  macro/run/run_tra_beam.C
  macro/run/run_tra_file.C
Owners: @se.gorbunov, @v.akishina, @f.uhlig, @p.-a.loizeau, @v.singhal

Improve CI
  macro/mcbm/CMakeLists.txt
  macro/much/CMakeLists.txt
  macro/mvd/qa/CMakeLists.txt
  macro/run/CMakeLists.txt
  macro/run/config_ci.json
Owners: @f.uhlig, @p.-a.loizeau, @v.singhal, @c.muentz, @m.deveaux

Modified CbmBuildEventsQa and QA function in CbmSeedFinderSlidingWindow to treat digis with empty matches as noise.
  reco/eventbuilder/digis/CbmBuildEventsQa.cxx
  reco/eventbuilder/digis/CbmSeedFinderSlidingWindow.cxx
Owners: @d.smith

L1: bugfix in hit sorting
  reco/L1/CbmL1ReadEvent.cxx
Owners: @se.gorbunov, @v.akishina

Cleanup CI pipeline
  .gitlab-ci.yml
Owners: none

Update CI pipeline
  .gitlab-ci.yml
Owners: none

Fix creation of geometries sts_v22[abc]_mcbm
  macro/mcbm/geometry/sts/create_stsgeo_v22a.C
  macro/mcbm/geometry/sts/create_stsgeo_v22b.C
  macro/mcbm/geometry/sts/create_stsgeo_v22c.C
Owners: @f.uhlig, @p.-a.loizeau

L1: don't assert() on MC point Z_Out due to a bug in the transport
  reco/L1/CbmL1ReadEvent.cxx
Owners: @se.gorbunov, @v.akishina

Add TRD 22c_mcbm geometry which is radlen fix of 21b_mcbm (#2417)
  external/InstallGeometry.cmake
  external/InstallParameter.cmake
  macro/mcbm/geometry/trd/Create_TRD_Geometry_v22c.C
Owners: @f.uhlig, @p.-a.loizeau

Update hashes for input and param repo to get extra trd 22c_mcbm files
  external/InstallInput.cmake
  external/InstallParameter.cmake
Owners: @f.uhlig

Fix the radiation length check macro + add CI to main and mCBM sim chains
  macro/geometry/.rootrc
  macro/geometry/check_radlen.sh
  macro/geometry/scan_geometry.C
  macro/mcbm/CMakeLists.txt
  macro/run/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

Rad len check fully in a root macro instead of bash+awk
  macro/geometry/check_radlen.C
  macro/geometry/check_radlen.sh
  macro/geometry/scan_geometry.C
  macro/mcbm/CMakeLists.txt
  macro/run/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

Fix generation of RICH geometry file
  macro/rich/Import_GDML_Export_ROOT.c
Owners: @s.lebedev

Use latest versions of geometry and input repositories
  external/InstallGeometry.cmake
  external/InstallInput.cmake
Owners: @f.uhlig

Add mCBM setup 2022_06
  external/InstallGeometry.cmake
  macro/mcbm/geometry/sts/.rootrc
  macro/mcbm/mcbm_transport.C
Owners: @f.uhlig, @p.-a.loizeau

CbmSeedFinderQa: Added histograms and canvas to output.
  reco/eventbuilder/digis/CbmSeedFinderQa.cxx
  reco/eventbuilder/digis/CbmSeedFinderQa.h
Owners: @d.smith

BuildRawEvents (task and algo) now filters T0 digis from the Tof stream using their address (also for QA and seed finder).
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.cxx
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.h
  reco/eventbuilder/digis/CbmBuildEventsQa.cxx
  reco/eventbuilder/digis/CbmTaskBuildRawEvents.cxx
Owners: @d.smith

CbmSeedFinderQa: Added histogram for difference between trigger time and MC event time.
  reco/eventbuilder/digis/CbmSeedFinderQa.cxx
  reco/eventbuilder/digis/CbmSeedFinderQa.h
  reco/eventbuilder/digis/CbmSeedFinderSlidingWindow.h
Owners: @d.smith

CbmSeedFinderQa: Completed implementation of time offset measurement.
  reco/eventbuilder/digis/CbmSeedFinderQa.cxx
  reco/eventbuilder/digis/CbmSeedFinderQa.h
  reco/eventbuilder/digis/CbmSeedFinderSlidingWindow.cxx
  reco/eventbuilder/digis/CbmSeedFinderSlidingWindow.h
  reco/eventbuilder/digis/CbmTaskBuildRawEvents.cxx
Owners: @d.smith

CbmTaskBuildRawEvents: Total number of trigger times per file is now reported when applicable.
  reco/eventbuilder/digis/CbmSeedFinderSlidingWindow.cxx
  reco/eventbuilder/digis/CbmTaskBuildRawEvents.cxx
  reco/eventbuilder/digis/CbmTaskBuildRawEvents.h
Owners: @d.smith

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux
