Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux

algo: Enable OpenMP by default.
  algo/CMakeLists.txt
Owners: none

algo: Specify options for Output types and active detectors.
  algo/CMakeLists.txt
  algo/base/Types.cxx
  algo/base/Types.h
Owners: none

Add STS Unpacker and STS reco to toplevel reco.
  algo/CMakeLists.txt
  algo/global/Reco.cxx
  algo/global/Reco.h
Owners: none

Add parallel unpacker (by Sebastian Heinemann).
  algo/CMakeLists.txt
  algo/base/Options.cxx
  algo/base/Options.h
  algo/base/util/NoInitAlloc.h
  algo/global/ParallelUnpackChain.cxx
  algo/global/ParallelUnpackChain.h
  algo/global/Reco.cxx
  algo/global/Reco.h
Owners: none

Replace 'parallel-unpacker' flag with enum.
  algo/base/Options.cxx
  algo/base/Options.h
  algo/base/RecoParams.h
  algo/global/Reco.cxx
Owners: none

algo: Restructure parallel unpacker.
  algo/CMakeLists.txt
  algo/detectors/sts/MsUnpacker.cxx
  algo/detectors/sts/MsUnpacker.h
  algo/global/ParallelUnpackChain.cxx
  algo/global/ParallelUnpackChain.h
Owners: none

Umstellung paralleler Unpacker auf XPU
  algo/detectors/sts/MsUnpackerOriginal.cxx
  algo/detectors/sts/MsUnpackerOriginal.h
Owners: none

Felix: Fix GPU compilation.
  algo/CMakeLists.txt
  algo/detectors/sts/MsUnpacker.cxx
  algo/detectors/sts/MsUnpacker.h
  core/data/raw/StsXyterMessage.h
Owners: @p.-a.loizeau

Build Error
  algo/detectors/sts/MsUnpacker.h
  algo/global/ParallelUnpackChain.cxx
  algo/params/RecoParams.yaml
Owners: none

Sebastian: Update MsUnpacker.h
  algo/detectors/sts/MsUnpacker.h
Owners: none

Sebastian: Buffer filling changed
  algo/detectors/sts/MsUnpacker.cxx
  algo/detectors/sts/MsUnpacker.h
  algo/global/ParallelUnpackChain.cxx
  algo/global/ParallelUnpackChain.h
Owners: none

Sebastian: Backup of functioning CPU/GPU Code
  algo/detectors/sts/MsUnpacker.cxx
  algo/detectors/sts/MsUnpacker.h
  algo/global/ParallelUnpackChain.cxx
  algo/global/ParallelUnpackChain.h
  algo/global/Reco.cxx
  core/data/raw/StsXyterMessage.h
Owners: @p.-a.loizeau

Sebastian: Working XPU Version
  algo/global/ParallelUnpackChain.cxx
  algo/global/ParallelUnpackChain.h
Owners: none

Sebastian: build delete
  .gitignore
Owners: none

GPU Epoch Unpacker Blocksizes
  algo/detectors/sts/MsUnpacker.cxx
  algo/detectors/sts/MsUnpacker.h
  algo/detectors/sts/MsUnpackerEpochPar.h
  algo/global/ParallelUnpackChain.cxx
  algo/global/ParallelUnpackChainGPU.cxx
  external/CMakeLists.txt
Owners: @f.uhlig

Add Dominik Smith's XPU unpacker.
  algo/CMakeLists.txt
  algo/detectors/sts/UnpackStsXpuChain.cxx
  algo/detectors/sts/UnpackStsXpuChain.h
  algo/global/Reco.cxx
  algo/global/Reco.h
  algo/params/RecoParams.yaml
Owners: none

Add xpu timers to Dominik's unpacker.
  algo/detectors/sts/UnpackStsXpuChain.cxx
Owners: none
