Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

CbmDeviceBuildRawEvents: Switched from root serializer to boost serializer.
  MQ/mcbm/CbmDeviceEventBuilder.cxx
Owners: @f.uhlig, @p.-a.loizeau

Started to implement MQ device for algo::EventBuilder.
  MQ/mcbm/CMakeLists.txt
  MQ/mcbm/CbmDeviceEventBuilder.cxx
  MQ/mcbm/CbmDeviceEventBuilder.h
  MQ/mcbm/runEventBuilder.cxx
  MQ/mcbm/startEventBuilder.sh.in
Owners: @f.uhlig, @p.-a.loizeau

Generalized CbmTaskTriggerDigi from STS to all detectors.
  core/data/base/CbmDigiData.h
  macro/reco/reco_digi.C
  reco/tasks/CbmTaskTriggerDigi.cxx
  reco/tasks/CbmTaskTriggerDigi.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Updated _GTestEventBuilder to account for multiple detectors.
  algo/test/_GTestEventBuilder.cxx
Owners: none

Added CbmDeviceEventSink (MQ device which writes events for CbmDeviceEventBuilder).
  MQ/mcbm/CMakeLists.txt
  MQ/mcbm/CbmDeviceEventSink.cxx
  MQ/mcbm/CbmDeviceEventSink.h
  MQ/mcbm/runEventSink.cxx
Owners: @f.uhlig, @p.-a.loizeau

Added C++17 requirement for compilation of CbmDeviceEventSink and CbmDeviceEventBuilder.
  MQ/mcbm/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

Cleaned up CbmDeviceEventBuilder. Made writing to file switchable.
  MQ/mcbm/CbmDeviceEventBuilder.cxx
  MQ/mcbm/CbmDeviceEventBuilder.h
  MQ/mcbm/runEventBuilder.cxx
Owners: @f.uhlig, @p.-a.loizeau

Generalized diagnostic output in CbmTaskBuildEvents.
  reco/tasks/CbmTaskBuildEvents.cxx
  reco/tasks/CbmTaskBuildEvents.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Generalized algo::EventBuilder and its task to detectors other than STS.
  algo/evbuild/EventBuilder.cxx
  algo/evbuild/EventBuilder.h
  macro/reco/reco_digi.C
  reco/tasks/CbmTaskBuildEvents.cxx
  reco/tasks/CbmTaskBuildEvents.h
Owners: @f.uhlig, @p.-a.loizeau, @v.friese

CbmDeviceEventBuilder: CbmDigiEvent vector is now written to output tree.
  MQ/mcbm/CbmDeviceEventBuilder.cxx
  MQ/mcbm/CbmDeviceEventBuilder.h
  MQ/mcbm/runEventBuilder.cxx
  MQ/mcbm/startEventBuilder.sh.in
Owners: @f.uhlig, @p.-a.loizeau

CbmDeviceEventBuilder: Can send, receive and write TS metadata.
  MQ/mcbm/CbmDeviceEventBuilder.cxx
  MQ/mcbm/CbmDeviceEventBuilder.h
Owners: @f.uhlig, @p.-a.loizeau

Call the correct executable for shmem cleanup
  MQ/hitbuilder/startMQSamplerUnpackerParserverHitBuilder.sh.in
  MQ/hitbuilder/startMQ_Mcbm.sh.in
  MQ/sink/startMQSamplerSink.sh.in
  MQ/source/startMQInfo.sh.in
  MQ/source/startMQSampler.sh.in
  MQ/sts/startTest.sh.in
  MQ/unpacker/startMQSamplerUnpackerParserver.sh.in
Owners: @n.herrmann, @i.deppner, @f.uhlig, @p.-a.loizeau, @v.friese

Install MQ startup scripts
  MQ/histoServer/CMakeLists.txt
  MQ/hitbuilder/CMakeLists.txt
  MQ/mcbm/CMakeLists.txt
  MQ/monitor/CMakeLists.txt
  MQ/parmq/CMakeLists.txt
  MQ/sink/CMakeLists.txt
  MQ/source/CMakeLists.txt
  MQ/unpacker/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau, @n.herrmann, @i.deppner

Correct RPATH information in the executables
  MQ/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

Don't use $VMCWORKDIR
  MQ/mcbm/CMakeLists.txt
  MQ/mcbm/startBuildRawEvents2021.sh.in
  MQ/mcbm/startBuildRawEventsCosmics2021.sh.in
  MQ/mcbm/startEventBuilder.sh.in
  MQ/mcbm/startMQBuildRawEvents.sh.in
  MQ/mcbm/startMQMcbmEvtBuilderWin2020.sh.in
  MQ/mcbm/startMQMcbmPulserMonitor2020.sh.in
  MQ/monitor/startMQSamplerMonitor.sh.in
  MQ/monitor/startMQSamplerPsdMonitor2021.sh.in
  MQ/monitor/startMQSamplerT0Monitor2020.sh.in
  MQ/monitor/startMQSamplerT0Monitor2021.sh.in
  MQ/monitor/startMQSamplerTofMonitor2020.sh.in
  MQ/monitor/startMQSamplerTofMonitor2021.sh.in
Owners: @f.uhlig, @p.-a.loizeau

Added number of linked and matched triggers per MC event to CbmSeedFinderQa.
  reco/eventbuilder/digis/CbmSeedFinderQa.cxx
  reco/eventbuilder/digis/CbmSeedFinderQa.h
  reco/eventbuilder/digis/CbmSeedFinderSlidingWindow.cxx
Owners: @d.smith

CbmSeedFinderQa: Added histogram for difference between true event time and seed time for one-to-one matched cases.
  reco/eventbuilder/digis/CbmSeedFinderQa.cxx
  reco/eventbuilder/digis/CbmSeedFinderQa.h
  reco/eventbuilder/digis/CbmSeedFinderSlidingWindow.cxx
  reco/eventbuilder/digis/CbmSeedFinderSlidingWindow.h
Owners: @d.smith

Added number of linked MC events per trigger to CbmSeedFinderQa.
  reco/eventbuilder/digis/CbmSeedFinderQa.cxx
  reco/eventbuilder/digis/CbmSeedFinderQa.h
Owners: @d.smith

Added time difference to closest MC event per seed to CbmSeedFinderQa.
  reco/eventbuilder/digis/CbmSeedFinderQa.cxx
  reco/eventbuilder/digis/CbmSeedFinderQa.h
Owners: @d.smith

CbmSeedFinderSlidingWindow: Fixed issue whereby seed finder still required digi input to be present in ideal mode.
  reco/eventbuilder/digis/CbmSeedFinderSlidingWindow.cxx
  reco/eventbuilder/digis/CbmSeedFinderSlidingWindow.h
  reco/eventbuilder/digis/CbmTaskBuildRawEvents.cxx
Owners: @d.smith

Don't execute test suite if compilation fails
  CbmRoot_test.cmake
Owners: none

add default mapping for FASP on module 5
  macro/run/run_unpack_tsa.C
Owners: @f.uhlig, @p.-a.loizeau

add default Fasp mapping also for the online unpacker
  macro/run/run_unpack_online.C
Owners: @f.uhlig, @p.-a.loizeau

fix memory leak
  reco/tasks/CbmTaskMakeRecoEvents.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Cleanup of BuildRawEvents and related classes.
  MQ/mcbm/CbmDeviceBuildDigiEvents.cxx
  MQ/mcbm/CbmDeviceBuildRawEvents.cxx
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.h
  reco/eventbuilder/digis/CbmTaskBuildRawEvents.cxx
  reco/eventbuilder/digis/CbmTaskBuildRawEvents.h
Owners: @f.uhlig, @p.-a.loizeau, @d.smith

L1: bug fix
  reco/L1/CbmL1ReadEvent.cxx
Owners: @se.gorbunov, @v.akishina

rename CbmTrdUnpackAlgoFasp2D to CbmTrdUnpackFaspAlgo and same for Config class to align to the naming convention of Cbm and also decouple FEE from read-out design
  MQ/mcbm/CbmDeviceUnpack.cxx
  MQ/mcbm/CbmDeviceUnpack.h
  reco/detectors/trd/CMakeLists.txt
  reco/detectors/trd/CbmTrdRecoLinkDef.h
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.h
  reco/detectors/trd/unpack/CbmTrdUnpackFaspConfig.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackFaspConfig.h
  reco/steer/CbmRecoUnpack.h
Owners: @f.uhlig, @p.-a.loizeau, @a.bercuci, @p.kaehler, @v.friese

first working version of the Fasp unpacker monitoring.
  core/detectors/trd/CbmTrdParFasp.h
  macro/run/run_unpack_online.C
  macro/run/run_unpack_tsa.C
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.h
  reco/detectors/trd/unpack/CbmTrdUnpackFaspConfig.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackFaspMonitor.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackFaspMonitor.h
Owners: @a.bercuci, @p.kaehler, @f.uhlig, @p.-a.loizeau

delete old unpacker files after name changed
  reco/detectors/trd/unpack/CbmTrdUnpackAlgoFasp2D.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackAlgoFasp2D.h
  reco/detectors/trd/unpack/CbmTrdUnpackConfigFasp2D.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackConfigFasp2D.h
Owners: @a.bercuci, @p.kaehler

add monitoring class for Fasp data
  macro/run/run_unpack_online.C
  macro/run/run_unpack_tsa.C
  reco/detectors/trd/CMakeLists.txt
  reco/detectors/trd/CbmTrdRecoLinkDef.h
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.h
  reco/detectors/trd/unpack/CbmTrdUnpackFaspConfig.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackFaspConfig.h
  reco/detectors/trd/unpack/CbmTrdUnpackFaspMonitor.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackFaspMonitor.h
  reco/detectors/trd/unpack/CbmTrdUnpackMonitor.h
Owners: @f.uhlig, @p.-a.loizeau, @a.bercuci, @p.kaehler

Don't automatically download geometry database
  sim/transport/geosetup/CMakeLists.txt
Owners: @e.lavrik

add TRD v22d, with corrected module positions for the carbon run, refs #2462
  macro/mcbm/geometry/trd/Create_TRD_Geometry_v22d.C
Owners: @f.uhlig, @p.-a.loizeau

fine-tune RICH v21b, refs #2459
  macro/mcbm/geometry/rich/create_rich_v21b_mcbm.C
Owners: @f.uhlig, @p.-a.loizeau

preserve style of RICH v21b
  macro/mcbm/geometry/rich/create_rich_v21b_mcbm.C
Owners: @f.uhlig, @p.-a.loizeau

add MUCH v22f, with correct rotation of the RPC module on the TOF frame for the carbon run, refs #2463
  macro/mcbm/geometry/much/create_MUCH_geometry_v22f_mcbm.C
Owners: @f.uhlig, @p.-a.loizeau

add RICH v21b, which is shifted 20 cm along the rails in -x directions, refs #2459
  macro/mcbm/geometry/rich/create_rich_v21b_mcbm.C
  macro/mcbm/mcbm_transport.C
Owners: @f.uhlig, @p.-a.loizeau

make monitoring tasks for the SPADIC (CbmTrdUnpackMonitor) and FASP (CbmTrdUnpackFaspMonitor) work together during the same run
  macro/run/run_unpack_online.C
  macro/run/run_unpack_tsa.C
  reco/detectors/trd/unpack/CbmTrdUnpackAlgoBaseR.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackFaspMonitor.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackFaspMonitor.h
  reco/detectors/trd/unpack/CbmTrdUnpackMonitor.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackMonitor.h
Owners: @f.uhlig, @p.-a.loizeau, @a.bercuci, @p.kaehler

fix code format
  reco/detectors/trd/unpack/CbmTrdUnpackFaspMonitor.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackFaspMonitor.h
  reco/detectors/trd/unpack/CbmTrdUnpackMonitor.h
Owners: @a.bercuci, @p.kaehler

add MUCH v22e with rotated RPC for 2022 setups, refs #2432
  macro/mcbm/geometry/much/create_MUCH_geometry_v22e_mcbm.C
Owners: @f.uhlig, @p.-a.loizeau

add TRD v22e and v22f, which fix the position of the upstream TRD-1D to z=162.2 cm and correct the gibbet material, refs #2306 refs #2433
  macro/mcbm/geometry/trd/Create_TRD_Geometry_v22e.C
  macro/mcbm/geometry/trd/Create_TRD_Geometry_v22f.C
Owners: @f.uhlig, @p.-a.loizeau

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux
