Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux

Update LMVM analysis
  analysis/PWGDIL/dielectron/lmvm/CMakeLists.txt
  analysis/PWGDIL/dielectron/lmvm/LmvmCand.h
  analysis/PWGDIL/dielectron/lmvm/LmvmDef.h
  analysis/PWGDIL/dielectron/lmvm/LmvmDraw.cxx
  analysis/PWGDIL/dielectron/lmvm/LmvmDraw.h
  analysis/PWGDIL/dielectron/lmvm/LmvmDrawAll.cxx
  analysis/PWGDIL/dielectron/lmvm/LmvmDrawAll.h
  analysis/PWGDIL/dielectron/lmvm/LmvmHist.cxx
  analysis/PWGDIL/dielectron/lmvm/LmvmHist.h
  analysis/PWGDIL/dielectron/lmvm/LmvmSimParam.h
  analysis/PWGDIL/dielectron/lmvm/LmvmTask.cxx
  analysis/PWGDIL/dielectron/lmvm/LmvmTask.h
  analysis/PWGDIL/dielectron/lmvm/LmvmUtils.cxx
  analysis/PWGDIL/dielectron/lmvm/LmvmUtils.h
  macro/analysis/dielectron/batch_job.py
  macro/analysis/dielectron/batch_send.py
  macro/analysis/dielectron/draw_all.py
Owners: @i.selyuzhenkov

Apply clang format
  analysis/PWGDIL/dielectron/lmvm/LmvmCand.h
  analysis/PWGDIL/dielectron/lmvm/LmvmDef.h
  analysis/PWGDIL/dielectron/lmvm/LmvmDraw.cxx
  analysis/PWGDIL/dielectron/lmvm/LmvmDrawAll.cxx
  analysis/PWGDIL/dielectron/lmvm/LmvmDrawAll.h
  analysis/PWGDIL/dielectron/lmvm/LmvmHist.cxx
  analysis/PWGDIL/dielectron/lmvm/LmvmHist.h
  analysis/PWGDIL/dielectron/lmvm/LmvmTask.cxx
  analysis/PWGDIL/dielectron/lmvm/LmvmTask.h
  analysis/PWGDIL/dielectron/lmvm/LmvmUtils.cxx
  analysis/PWGDIL/dielectron/lmvm/LmvmUtils.h
Owners: @i.selyuzhenkov

fix
  MQ/hitbuilder/CbmDeviceHitBuilderTof.cxx
  MQ/mcbm/CbmDeviceDigiEventSink.cxx
Owners: @n.herrmann, @i.deppner, @f.uhlig, @p.-a.loizeau

Fix deprecated code
  MQ/hitbuilder/CbmDeviceHitBuilderTof.cxx
  MQ/mcbm/CbmDeviceDigiEventSink.cxx
Owners: @n.herrmann, @i.deppner, @f.uhlig, @p.-a.loizeau

L1: remove option to use homogenious material
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1BaseStationInfo.cxx
  reco/L1/L1Algo/L1BaseStationInfo.h
  reco/L1/L1Algo/L1BranchExtender.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1CloneMerger.cxx
  reco/L1/L1Algo/L1Constants.h
  reco/L1/L1Algo/L1Fit.h
  reco/L1/L1Algo/L1FitMaterial.cxx
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1Material.cxx
  reco/L1/L1Algo/L1Material.h
  reco/L1/L1Algo/L1Parameters.cxx
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/L1Algo/L1Station.cxx
  reco/L1/L1Algo/L1Station.h
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/L1TrackParFit.cxx
  reco/L1/L1Algo/L1TrackParFit.h
  reco/L1/L1Algo/utils/L1AlgoDraw.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1: remove option to use fixed hit errors
  core/base/CbmTrackingDetectorInterfaceBase.cxx
  core/base/CbmTrackingDetectorInterfaceBase.h
  core/detectors/much/CbmMuchTrackingInterface.h
  core/detectors/sts/CbmStsTrackingInterface.h
  core/detectors/tof/CbmTofTrackingInterface.h
  core/detectors/trd/CbmTrdTrackingInterface.h
  macro/L1/run_reco_L1global.C
  macro/beamtime/mcbm2021/mcbm_event_reco.C
  macro/beamtime/mcbm2022/mcbm_digievent_reco.C
  macro/beamtime/mcbm2022/mcbm_event_reco.C
  macro/beamtime/mcbm2022/mcbm_event_reco_L1.C
  macro/mcbm/mcbm_reco.C
  macro/mcbm/mcbm_reco_event.C
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1BaseStationInfo.cxx
  reco/L1/L1Algo/L1BaseStationInfo.h
  reco/L1/L1Algo/L1BranchExtender.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Filtration.h
  reco/L1/L1Algo/L1Station.cxx
  reco/L1/L1Algo/L1Station.h
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/L1TrackParFit.cxx
  reco/L1/L1Algo/L1TrackParFit.h
  reco/L1/L1Algo/L1UMeasurementInfo.cxx
  reco/L1/L1Algo/L1UMeasurementInfo.h
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @v.singhal, @n.herrmann, @i.deppner, @a.bercuci, @p.kaehler, @se.gorbunov, @v.akishina

L1: bugfix
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1: bugfix
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1BaseStationInfo.cxx
Owners: @se.gorbunov, @v.akishina

L1: remove obsolete code
  reco/L1/CMakeLists.txt
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/OffLineInterface/CbmL1MuchFinder.cxx
  reco/L1/OffLineInterface/CbmL1MuchFinder.h
  reco/L1/OffLineInterface/CbmL1MuchFinderQa.cxx
  reco/L1/OffLineInterface/CbmL1MuchFinderQa.h
  reco/L1/OffLineInterface/CbmL1MuchHit.cxx
  reco/L1/OffLineInterface/CbmL1MuchHit.h
  reco/L1/OffLineInterface/CbmL1MuchTrack.cxx
  reco/L1/OffLineInterface/CbmL1MuchTrack.h
  reco/L1/OffLineInterface/CbmL1SttHit.cxx
  reco/L1/OffLineInterface/CbmL1SttHit.h
  reco/L1/OffLineInterface/CbmL1SttTrack.cxx
  reco/L1/OffLineInterface/CbmL1SttTrack.h
  reco/L1/OffLineInterface/CbmL1SttTrackFinder.cxx
  reco/L1/OffLineInterface/CbmL1SttTrackFinder.h
Owners: @se.gorbunov, @v.akishina

L1: remove option to use fixed hit time errors
  core/base/CbmTrackingDetectorInterfaceBase.cxx
  core/base/CbmTrackingDetectorInterfaceBase.h
  core/detectors/much/CbmMuchTrackingInterface.h
  core/detectors/sts/CbmStsTrackingInterface.h
  core/detectors/tof/CbmTofTrackingInterface.h
  core/detectors/trd/CbmTrdTrackingInterface.h
  mvd/CbmMvdTrackingInterface.h
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1BaseStationInfo.cxx
  reco/L1/L1Algo/L1BaseStationInfo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Station.cxx
  reco/L1/L1Algo/L1Station.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @v.singhal, @n.herrmann, @i.deppner, @a.bercuci, @p.kaehler, @c.muentz, @m.deveaux, @se.gorbunov, @v.akishina

L1: check MVD presence via MvdHit branch, not via DigiManager
  reco/L1/CbmL1.cxx
Owners: @se.gorbunov, @v.akishina

L1: cleanup
  reco/L1/CbmL1.cxx
Owners: @se.gorbunov, @v.akishina

L1: plot momentum resolutions in % by request of Anna
  reco/L1/CbmL1Performance.cxx
Owners: @se.gorbunov, @v.akishina

L1: store performance tables in a separate file
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1Performance.cxx
Owners: @se.gorbunov, @v.akishina

Cleaning and Build info Added
  CMakeLists.txt
  cmake/modules/CbmMacros.cmake
Owners: @f.uhlig

[mCBM] Add utils fct for RunId to setup mapping
  core/base/CMakeLists.txt
  core/base/CbmBaseLinkDef.h
  core/base/utils/CbmMcbmUtils.cxx
  core/base/utils/CbmMcbmUtils.h
  macro/beamtime/mcbm2022/mcbm_digievent_reco.C
  macro/beamtime/mcbm2022/mcbm_event_reco.C
  macro/beamtime/mcbm2022/mcbm_event_reco_L1.C
  macro/beamtime/mcbm2022/mcbm_unp_event.C
  macro/run/run_unpack_online.C
  macro/run/run_unpack_online_bmon.C
  macro/run/run_unpack_tsa.C
  macro/run/run_unpack_tsa_bmon.C
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @s.lebedev

Add descr. of how to run same as CI tests for mCBM 2022
  macro/beamtime/mcbm2022/HowToAnalyse.md
Owners: @f.uhlig, @p.-a.loizeau

[mCBM] Add macro to create the setup geo root files based on RunId
  macro/run/.gitignore
  macro/run/CMakeLists.txt
  macro/run/create_mcbm_geo_setup.C
Owners: @f.uhlig, @p.-a.loizeau

Remove usage of ROOTSYS environment variable
  CMakeLists.txt
  external/InstallAnalysisTree.cmake
  external/InstallAnalysisTreeQA.cmake
  external/InstallKFParticle.cmake
  external/InstallNicaFemto.cmake
Owners: @f.uhlig

Include FairRootTargets in FindFairRoot
  CMakeLists.txt
  cmake/modules/FindFairRoot.cmake
Owners: @f.uhlig

Remove unnecessary build dependency
  analysis/PWGDIL/dielectron/conversion/CMakeLists.txt
  analysis/PWGDIL/dielectron/lmvm/CMakeLists.txt
  analysis/PWGDIL/dielectron/papaframework/CMakeLists.txt
  analysis/PWGDIL/dielectron/pi0eta/CMakeLists.txt
  analysis/PWGDIL/dimuon/CMakeLists.txt
Owners: @c.pauly, @i.selyuzhenkov, @a_meye37_AT_uni-muenster.de

Prepare for FairRoot v18.8
  .gitlab-ci.yml
Owners: none

Prepare for FairRoot v18.8
  MQ/hitbuilder/CMakeLists.txt
  MQ/mcbm/CMakeLists.txt
  MQ/source/CMakeLists.txt
  cmake/modules/CheckCompiler.cmake
  cmake/modules/FairRootTargets.cmake
  cmake/modules/FindFairRoot.cmake
  fles/mcbm2018/CMakeLists.txt
  fles/star2019/CMakeLists.txt
  reco/base/CMakeLists.txt
  reco/detectors/trd/CMakeLists.txt
  reco/mq/CMakeLists.txt
  reco/tasks/CMakeLists.txt
  sim/response/CMakeLists.txt
  sim/transport/steer/CMakeLists.txt
Owners: @n.herrmann, @i.deppner, @f.uhlig, @p.-a.loizeau, @v.friese, @a.bercuci, @p.kaehler

Prepare for FairRoot v18.8
  external/InstallKFParticle.cmake
  external/InstallNicaFemto.cmake
Owners: @f.uhlig

Prepare for FairRoot v18.8
  tutorials/CMakeLists.txt
Owners: none

Prepare for FairRoot v18.8
  cmake/modules/CbmMacros.cmake
Owners: @f.uhlig

Par hash update for STS 3+5 matbudget file
  external/InstallParameter.cmake
Owners: @f.uhlig

Par hash update for mCBM TRD2D v22h Z position fix
  external/InstallParameter.cmake
Owners: @f.uhlig

Removes buggy matbudget macros
  macro/mcbm/matbudget_ana_mcbm_mvd.C
  macro/mcbm/matbudget_ana_mcbm_sts.C
  macro/mcbm/matbudget_ana_trd.C
  macro/mcbm/matbudget_mc_mcbm_mvd.C
  macro/mcbm/matbudget_mc_mcbm_sts.C
Owners: @f.uhlig, @p.-a.loizeau

L1: add tofTrackIndex to global track
  core/data/CMakeLists.txt
  core/data/CbmDataLinkDef.h
  core/data/global/CbmGlobalTrack.cxx
  core/data/global/CbmGlobalTrack.h
  core/data/global/CbmTofTrack.cxx
  core/data/much/CbmMuchTrack.h
  core/data/tof/CbmTofTrack.cxx
  core/data/tof/CbmTofTrack.h
  core/data/trd/CbmTrdTrack.h
  reco/L1/OffLineInterface/CbmL1GlobalTrackFinder.cxx
  reco/L1/OffLineInterface/CbmL1GlobalTrackFinder.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @v.singhal, @n.herrmann, @i.deppner, @a.bercuci, @p.kaehler, @se.gorbunov, @v.akishina

Trd Hardware Setup update to generate all parameter files correctly
  core/detectors/trd/CbmTrdHardwareSetupR.cxx
  core/detectors/trd/CbmTrdHardwareSetupR.h
Owners: @a.bercuci, @p.kaehler

Bump geo and par hashes: TRD cleanup of mCBM geometries and parameters + piled-up geo changes
  external/InstallGeometry.cmake
  external/InstallParameter.cmake
Owners: @f.uhlig

Introduce digi container classes for each detector
  algo/data/CMakeLists.txt
  core/data/CMakeLists.txt
  core/data/CbmDataLinkDef.h
  core/data/base/CbmDigiData.h
  core/data/much/CbmMuchDigiData.h
  core/data/psd/CbmPsdDigiData.h
  core/data/rich/CbmRichDigiData.h
  core/data/sts/CbmStsDigiData.h
  core/data/tof/CbmTofDigiData.h
  core/data/trd/CbmTrdDigiData.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @v.singhal, @karpushkin_AT_inr.ru, @s.lebedev, @n.herrmann, @i.deppner, @a.bercuci, @p.kaehler

Fix at converter
  analysis/common/analysis_tree_converter/CbmRecEventHeaderConverter.cxx
  analysis/common/analysis_tree_converter/CbmRecEventHeaderConverter.h
  analysis/common/analysis_tree_converter/CbmRichRingsConverter.cxx
  analysis/common/analysis_tree_converter/CbmRichRingsConverter.h
  analysis/common/analysis_tree_converter/CbmSimEventHeaderConverter.cxx
  analysis/common/analysis_tree_converter/CbmSimEventHeaderConverter.h
  analysis/common/analysis_tree_converter/CbmSimTracksConverter.cxx
  analysis/common/analysis_tree_converter/CbmSimTracksConverter.h
  analysis/common/analysis_tree_converter/CbmStsTracksConverter.cxx
  analysis/common/analysis_tree_converter/CbmStsTracksConverter.h
  analysis/common/analysis_tree_converter/CbmTofHitsConverter.cxx
  analysis/common/analysis_tree_converter/CbmTofHitsConverter.h
  analysis/common/analysis_tree_converter/CbmTrdTracksConverter.cxx
  analysis/common/analysis_tree_converter/CbmTrdTracksConverter.h
Owners: @i.selyuzhenkov

L1: unify extrapolation and filtration for different setups
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Filtration.h
  reco/L1/L1Algo/L1TrackPar.h
Owners: @se.gorbunov, @v.akishina

L1 fit: add analytic extraolation to L1TrackParFit
  reco/L1/L1Algo/L1TrackParFit.cxx
  reco/L1/L1Algo/L1TrackParFit.h
Owners: @se.gorbunov, @v.akishina

L1 fit: cleanup of Runge Kutta extrapolation
  reco/L1/L1Algo/L1TrackParFit.cxx
Owners: @se.gorbunov, @v.akishina

L1 fit: clean up the Runge Kutta extrapolation
  reco/L1/L1Algo/L1TrackParFit.cxx
Owners: @se.gorbunov, @v.akishina

L1 fit: bugfixes in Runge Kutta extrapolation
  reco/L1/L1Algo/L1TrackParFit.cxx
Owners: @se.gorbunov, @v.akishina

New_AT_version
  analysis/common/analysis_tree_converter/CbmPsdModulesConverter.cxx
  analysis/common/analysis_tree_converter/CbmRecEventHeaderConverter.cxx
  analysis/common/analysis_tree_converter/CbmSimEventHeaderConverter.cxx
  analysis/common/at_kfpf_interface/ATKFParticleFinder.cxx
  analysis/common/at_kfpf_interface/ATKFParticleFinder.h
  analysis/common/at_kfpf_interface/CMakeLists.txt
  external/AnalysisTree.patch
  external/AnalysisTreeQA.patch
  external/InstallAnalysisTree.cmake
  external/InstallAnalysisTreeQA.cmake
Owners: @i.selyuzhenkov, @f.uhlig
