Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux

CA: Added canvases to the output qa
  core/qa/CbmQaCmpDrawer.cxx
  core/qa/CbmQaCmpDrawer.h
  core/qa/CbmQaIO.cxx
  core/qa/CbmQaIO.h
  reco/L1/CbmL1Track.h
  reco/L1/catools/CaToolsMCTrack.h
  reco/L1/qa/CbmCaOutputQa.cxx
  reco/L1/qa/CbmCaOutputQa.h
  reco/L1/qa/CbmCaTrackFitQa.h
  reco/L1/qa/CbmCaTrackTypeQa.cxx
  reco/L1/qa/CbmCaTrackTypeQa.h
Owners: @se.gorbunov, @v.akishina

QA-checker: framework introduction
  core/qa/CMakeLists.txt
  core/qa/CbmQaBaseLinkDef.h
  core/qa/checker/CbmQaCheckerCore.cxx
  core/qa/checker/CbmQaCheckerCore.h
  core/qa/checker/CbmQaCheckerFileHandler.cxx
  core/qa/checker/CbmQaCheckerFileHandler.h
  core/qa/checker/CbmQaCheckerHist1DHandler.cxx
  core/qa/checker/CbmQaCheckerHist1DHandler.h
  core/qa/checker/CbmQaCheckerHist2DHandler.cxx
  core/qa/checker/CbmQaCheckerHist2DHandler.h
  core/qa/checker/CbmQaCheckerObjectDB.cxx
  core/qa/checker/CbmQaCheckerObjectDB.h
  core/qa/checker/CbmQaCheckerObjectHandler.cxx
  core/qa/checker/CbmQaCheckerObjectHandler.h
  core/qa/checker/CbmQaCheckerProfile1DHandler.cxx
  core/qa/checker/CbmQaCheckerProfile1DHandler.h
  core/qa/checker/CbmQaCheckerTypedefs.h
  macro/qa/objects.yaml
  macro/qa/qa_compare.C
Owners: @se.gorbunov, @f.uhlig, @p.-a.loizeau

QA-checker: CTest for QA-checker
  core/qa/checker/CbmQaCheckerCore.cxx
  core/qa/checker/CbmQaCheckerCore.h
  core/qa/checker/CbmQaCheckerObjectDB.cxx
  core/qa/checker/CbmQaCheckerObjectHandler.cxx
  core/qa/checker/CbmQaCheckerObjectHandler.h
  core/qa/checker/CbmQaCheckerTypedefs.h
  macro/CMakeLists.txt
  macro/qa/CMakeLists.txt
  macro/qa/objects.yaml
  macro/qa/qa_compare.C
  macro/qa/test_qa.C
Owners: @se.gorbunov, @f.uhlig, @p.-a.loizeau

QA-Checker: fixes
  core/qa/checker/CbmQaCheckerCore.cxx
  core/qa/checker/CbmQaCheckerCore.h
  core/qa/checker/CbmQaCheckerFileHandler.cxx
  core/qa/checker/CbmQaCheckerFileHandler.h
  core/qa/checker/CbmQaCheckerObjectDB.cxx
  core/qa/checker/CbmQaCheckerObjectDB.h
  macro/qa/CMakeLists.txt
  macro/qa/qa_compare.C
Owners: @se.gorbunov, @f.uhlig, @p.-a.loizeau

Fix code for gcc12
  algo/detectors/tof/HitFinderTof.h
Owners: none

Add test for Debian12 using Apptainer
  .gitlab-ci.yml
Owners: none

Minimal changes to the StsSyterMessage class for XPU compatibility.
  core/data/raw/StsXyterMessage.cxx
  core/data/raw/StsXyterMessage.h
Owners: @p.-a.loizeau

CbmTrdUnpackFaspAlgo: Made fMod a local variable and other small changes.
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.h
Owners: @a.bercuci, @p.kaehler

CbmTrdUnpackFaspAlgo: Switched to storage of inverted instead of direct crob map.
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.h
Owners: @a.bercuci, @p.kaehler

CbmTrdUnpackFaspAlgo: Simplified mod/crob mapping in unpack().
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.cxx
Owners: @a.bercuci, @p.kaehler

CbmTrdUnpackFaspAlgo: Simplified digi buffer.
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.h
Owners: @a.bercuci, @p.kaehler

Cleared out CbmTrdUnpackFaspAlgo.
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.cxx
Owners: @a.bercuci, @p.kaehler

Shortened CbmTrdUnpackFaspAlgo::pushDigis().
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.cxx
Owners: @a.bercuci, @p.kaehler

CbmTrdUnpackFaspAlgo: Reintroduced the verbose option in unpack().
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.cxx
Owners: @a.bercuci, @p.kaehler

CbmTrdUnpackFaspAlgo: Reintroduced ResetTimeslice().
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.cxx
Owners: @a.bercuci, @p.kaehler

Extra characters removed.
  core/base/utils/CbmMcbmUtils.cxx
Owners: @f.uhlig, @s.lebedev

Using same Lambda benchmark setup upto run number 2610. Soon we will commit new setup.
  core/base/utils/CbmMcbmUtils.cxx
Owners: @f.uhlig, @s.lebedev

Apply clang-format
  macro/run/run_unpack_tsa.C
  reco/detectors/much/unpack/CbmMuchUnpackAlgo.cxx
  reco/detectors/much/unpack/CbmMuchUnpackAlgo.h
  reco/detectors/much/unpack/CbmMuchUnpackConfig.cxx
  reco/detectors/much/unpack/CbmMuchUnpackConfig.h
Owners: @f.uhlig, @p.-a.loizeau, @v.singhal

Changed cout to LOG(info) and run_unpack_tsa.C
  macro/run/run_unpack_tsa.C
  reco/detectors/much/unpack/CbmMuchUnpackAlgo.cxx
Owners: @f.uhlig, @p.-a.loizeau, @v.singhal

Earlier clang formatting didn't apply though (./scripts/check-apply-format-changes.sh apply) was executed
  core/base/utils/CbmMcbmUtils.cxx
Owners: @f.uhlig, @s.lebedev

Masking of Noisy Channels (based on CbmMuchAddress) in MuCh Unpacker
  core/base/utils/CbmMcbmUtils.cxx
  macro/beamtime/mcbm2022/mMuChNoisyChannelMarch2022.txt
  macro/run/run_unpack_tsa.C
  reco/detectors/much/unpack/CbmMuchUnpackAlgo.cxx
  reco/detectors/much/unpack/CbmMuchUnpackAlgo.h
  reco/detectors/much/unpack/CbmMuchUnpackConfig.cxx
  reco/detectors/much/unpack/CbmMuchUnpackConfig.h
Owners: @f.uhlig, @s.lebedev, @p.-a.loizeau, @v.singhal

Modify temporary buffer class CbmMvdPixelCharge
  sim/detectors/mvd/CbmMvdPixelCharge.cxx
  sim/detectors/mvd/CbmMvdPixelCharge.h
  sim/detectors/mvd/plugins/tasks/CbmMvdSensorDigitizerTask.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Saving temporary changes
  core/detectors/mvd/plugins/CbmMvdSensorPlugin.h
  reco/detectors/mvd/CbmMvdClusterfinder.cxx
  reco/detectors/mvd/plugins/tasks/CbmMvdSensorClusterfinderTask.cxx
  reco/detectors/mvd/plugins/tasks/CbmMvdSensorClusterfinderTask.h
  reco/detectors/mvd/plugins/tasks/CbmMvdSensorFindHitTask.cxx
  reco/detectors/mvd/plugins/tasks/CbmMvdSensorFindHitTask.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

CbmMvdPixelCharge->DigestCharge accepts time information
  sim/detectors/mvd/CbmMvdPixelCharge.cxx
  sim/detectors/mvd/CbmMvdPixelCharge.h
  sim/detectors/mvd/plugins/tasks/CbmMvdSensorDigitizerTask.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Remove mvd directory
  CMakeLists.txt
  core/detectors/mvd/ReadMeMvd.pdf
  core/detectors/mvd/ReadMeMvdPart2.pdf
  mvd/CMakeLists.txt
  mvd/CbmMvdLinkDef.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @c.muentz, @m.deveaux

CbmMvdDetector::DetectPlugin (pluginID) added
  mvd/CbmMvdDetector.cxx
  mvd/CbmMvdDetector.h
  mvd/CbmMvdDigitizer.cxx
  mvd/CbmMvdDigitizer.h
  mvd/CbmMvdSensor.h
  mvd/plugins/tasks/CbmMvdSensorDigitizerTask.cxx
  mvd/plugins/tasks/CbmMvdSensorDigitizerTask.h
Owners: @c.muentz, @m.deveaux

Set proper plugin information in sensors
  reco/detectors/mvd/CbmMvdClusterfinder.cxx
  reco/detectors/mvd/CbmMvdClusterfinderTB.cxx
  reco/detectors/mvd/CbmMvdDigiToHit.cxx
  reco/detectors/mvd/CbmMvdDigiToHitTB.cxx
  reco/detectors/mvd/CbmMvdHitfinder.cxx
  reco/detectors/mvd/CbmMvdHitfinderTB.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Added new namings to PluginNamingConvention.txt file.
  mvd/plugins/PluginNamingConvention.txt
Owners: @c.muentz, @m.deveaux

An identifier added for the different plugin task.
  mvd/plugins/tasks/CbmMvdSensorClusterfinderTask.cxx
  mvd/plugins/tasks/CbmMvdSensorDigiToHitTask.cxx
  mvd/plugins/tasks/CbmMvdSensorDigitizerTBTask.cxx
  mvd/plugins/tasks/CbmMvdSensorFindHitTask.cxx
  mvd/plugins/tasks/CbmMvdSensorHitfinderTask.cxx
  mvd/plugins/tasks/CbmMvdSensorReadoutTask.cxx
  mvd/plugins/tasks/CbmMvdSensorTask.cxx
Owners: @c.muentz, @m.deveaux

Correctly extract sensor number
  core/data/mvd/CbmMvdCluster.h
Owners: @c.muentz, @m.deveaux

Minor debugging. CbmMvdPoints now send as TObjects from CbmMvdDigitizer
  mvd/CbmMvdDigitizer.cxx
  mvd/plugins/tasks/CbmMvdSensorClusterfinderTask.cxx
  mvd/plugins/tasks/CbmMvdSensorDigiToHitTask.cxx
  mvd/plugins/tasks/CbmMvdSensorDigitizerTBTask.cxx
  mvd/plugins/tasks/CbmMvdSensorFindHitTask.cxx
  mvd/plugins/tasks/CbmMvdSensorHitfinderTask.cxx
  mvd/plugins/tasks/CbmMvdSensorReadoutTask.cxx
  mvd/plugins/tasks/CbmMvdSensorTask.cxx
Owners: @c.muentz, @m.deveaux

Removed obsolete Getters from CbmMvdSensor and CbmMvdDetector
  core/detectors/mvd/CbmMvdDetector.cxx
  core/detectors/mvd/CbmMvdDetector.h
  core/detectors/mvd/CbmMvdSensor.cxx
  core/detectors/mvd/CbmMvdSensor.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Samll fixes
  reco/KF/KF.cmake
  sim/detectors/mvd/CbmMvdDigitizer.cxx
Owners: @se.gorbunov, @v.akishina, @f.uhlig, @v.friese, @p.-a.loizeau

Data transfer by TObject added to Clusterfinder and hit finder
  macro/mvd/qa/mvd_qa1_transUrqmd.C
  mvd/CbmMvdClusterfinder.cxx
  mvd/CbmMvdHitfinder.cxx
  mvd/CbmMvdHitfinder.h
  mvd/CbmMvdSensor.h
  mvd/plugins/tasks/CbmMvdSensorClusterfinderTask.cxx
  mvd/plugins/tasks/CbmMvdSensorDigitizerTask.cxx
Owners: @c.muentz, @m.deveaux

Bringing HitFinder into operation.
  macro/mvd/qa/mvd_qa4_reco.C
  reco/detectors/mvd/CbmMvdHitfinder.cxx
  reco/detectors/mvd/CbmMvdHitfinder.h
  reco/detectors/mvd/plugins/tasks/CbmMvdSensorClusterfinderTask.cxx
  reco/detectors/mvd/plugins/tasks/CbmMvdSensorFindHitTask.cxx
  reco/detectors/mvd/plugins/tasks/CbmMvdSensorHitfinderTask.cxx
  reco/detectors/mvd/plugins/tasks/CbmMvdSensorHitfinderTask.h
Owners: @c.muentz, @m.deveaux, @f.uhlig, @v.friese, @p.-a.loizeau

Non-Mandatory FairTasks (e.g. time based) removed from compilation in order to reduce complexity.
  macro/mvd/qa/mvd_qa1_transUrqmd.C
  mvd/CMakeLists.txt
  mvd/CbmMvdLinkDef.h
  mvd/CbmMvdSensor.cxx
Owners: @c.muentz, @m.deveaux

Repaired Clusterfinder and Hitfinder
  macro/mvd/qa/mvd_qa4_reco.C
  reco/detectors/mvd/CMakeLists.txt
  reco/detectors/mvd/CbmMvdClusterfinder.cxx
  reco/detectors/mvd/CbmMvdHitfinder.cxx
  reco/detectors/mvd/CbmMvdRecoLinkDef.h
  reco/detectors/mvd/plugins/tasks/CbmMvdSensorClusterfinderTask.cxx
  reco/detectors/mvd/plugins/tasks/CbmMvdSensorFindHitTask.cxx
  reco/detectors/mvd/plugins/tasks/CbmMvdSensorHitfinderTask.cxx
  sim/detectors/mvd/CbmMvdDigitizer.cxx
  sim/detectors/mvd/plugins/tasks/CbmMvdSensorDigitizerTask.cxx
Owners: @c.muentz, @m.deveaux, @f.uhlig, @v.friese, @p.-a.loizeau

Add missing statement which was removed by accident
  mvd/CbmMvdDigitizer.cxx
Owners: @c.muentz, @m.deveaux

Add the digitizer plugins from digitizer tasks
  mvd/CbmMvdDetector.cxx
  mvd/CbmMvdDetector.h
  mvd/CbmMvdDigitizer.cxx
Owners: @c.muentz, @m.deveaux

Comment out obsolete code in CbmMvdDetector and CbmMvdSensor
  mvd/CbmMvdDetector.cxx
  mvd/CbmMvdDetector.h
  mvd/CbmMvdDigitizer.cxx
  mvd/CbmMvdSensor.cxx
Owners: @c.muentz, @m.deveaux
