Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux

L1: improve the read of unsorted data
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CaTrackFinder.cxx
  reco/L1/L1Algo/L1CaTrackFinderSlice.cxx
  reco/L1/L1Algo/L1Grid.cxx
  reco/L1/L1Algo/L1IODataManager.cxx
  reco/L1/L1Algo/L1IODataManager.h
  reco/L1/L1Algo/L1InputData.cxx
  reco/L1/L1Algo/L1InputData.h
  reco/L1/L1Algo/utils/L1AlgoDraw.cxx
Owners: @se.gorbunov, @v.akishina

L1: new subslice splitting algorithm that searches in partially disordered data
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CaTrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1: cleanup in data structures
  reco/L1/CbmL1ReadEvent.cxx
Owners: @se.gorbunov, @v.akishina

L1: remove legacy event mode
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
Owners: @se.gorbunov, @v.akishina

L1: bugfix in CbmL1PFFitter: protection for non-existing MVD hit array
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1: make tracking independent of the MVD time error
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1CaTrackFinder.cxx
  reco/L1/L1Algo/L1CaTrackFinderSlice.cxx
Owners: @se.gorbunov, @v.akishina

L1: CA MC Module updates
  reco/L1/CMakeLists.txt
  reco/L1/CbmCaMCModule.cxx
  reco/L1/CbmCaPerformance.cxx
  reco/L1/CbmCaPerformance.h
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1DetectorID.h
  reco/L1/CbmL1MCPoint.h
  reco/L1/CbmL1MCTrack.cxx
  reco/L1/CbmL1MCTrack.h
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Constants.h
  reco/L1/L1Algo/L1Material.h
  reco/L1/L1Algo/L1NaN.h
  reco/L1/L1Algo/L1Station.h
  reco/L1/L1Algo/L1UMeasurementInfo.h
  reco/L1/L1Algo/L1XYMeasurementInfo.h
  reco/L1/catools/CaToolsLinkKey.h
  reco/L1/catools/CaToolsMCData.cxx
  reco/L1/catools/CaToolsMCData.h
  reco/L1/catools/CaToolsMCPoint.cxx
  reco/L1/catools/CaToolsMCPoint.h
  reco/L1/catools/CaToolsMcData.cxx
  reco/L1/catools/CaToolsMcData.h
  reco/L1/catools/CaToolsMcDataManager.cxx
  reco/L1/catools/CaToolsMcDataManager.h
  reco/L1/catools/CaToolsPerformance.cxx
  reco/L1/catools/CaToolsPerformance.h
Owners: @se.gorbunov, @v.akishina

L1: L1NaN.h was replaced with L1Undef.h
  reco/L1/CMakeLists.txt
  reco/L1/L1Algo/L1CaTrackFinderSlice.cxx
  reco/L1/L1Algo/L1Constants.h
  reco/L1/L1Algo/L1Material.h
  reco/L1/L1Algo/L1NaN.h
  reco/L1/L1Algo/L1SimdSerializer.h
  reco/L1/L1Algo/L1UMeasurementInfo.cxx
  reco/L1/L1Algo/L1UMeasurementInfo.h
  reco/L1/L1Algo/L1XYMeasurementInfo.h
Owners: @se.gorbunov, @v.akishina

L1: Updates on external MC module for tracking
  reco/L1/CbmCaMCModule.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/catools/CaToolsMCData.cxx
  reco/L1/catools/CaToolsMCData.h
  reco/L1/catools/CaToolsMCPoint.h
Owners: @se.gorbunov, @v.akishina

L1: finalization of tracks and points initialization in the new CA MC module
  reco/L1/CMakeLists.txt
  reco/L1/CbmCaMCModule.cxx
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1Hit.h
  reco/L1/CbmL1MCTrack.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/CbmL1Track.h
  reco/L1/catools/CaToolsLinkKey.h
  reco/L1/catools/CaToolsMCData.cxx
  reco/L1/catools/CaToolsMCData.h
  reco/L1/catools/CaToolsMCPoint.cxx
  reco/L1/catools/CaToolsMCPoint.h
  reco/L1/catools/CaToolsMCTrack.cxx
  reco/L1/catools/CaToolsMCTrack.h
  reco/L1/catools/CaToolsPerformance.h
  reco/L1/catools/CaToolsQa.cxx
  reco/L1/catools/CaToolsQa.h
Owners: @se.gorbunov, @v.akishina

L1: a separate histogrammer for CA tracking
  reco/L1/CbmCaMCModule.cxx
  reco/L1/CbmCaMCModule.h
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1Hit.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/CbmL1Track.h
  reco/L1/CbmL1TrackPar.h
  reco/L1/catools/CaToolsMCData.cxx
  reco/L1/catools/CaToolsMCData.h
  reco/L1/catools/CaToolsMCTrack.cxx
  reco/L1/catools/CaToolsMCTrack.h
  reco/L1/catools/CaToolsQa.cxx
  reco/L1/catools/CaToolsQa.h
Owners: @se.gorbunov, @v.akishina

CA: New MC module was temporarily removed from CbmL1
  reco/L1/CbmCaMCModule.cxx
  reco/L1/CbmCaMCModule.h
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/catools/CaToolsMCData.cxx
Owners: @se.gorbunov, @v.akishina

CA: Time-slice reader class is introduced
  core/qa/CbmQaTask.cxx
  core/qa/CbmQaTask.h
  reco/L1/CMakeLists.txt
  reco/L1/CbmCaTimeSliceReader.cxx
  reco/L1/CbmCaTimeSliceReader.h
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1DetectorID.h
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1IODataManager.cxx
  reco/L1/L1Algo/L1IODataManager.h
  reco/L1/L1LinkDef.h
  reco/L1/qa/CbmCaOutputQa.cxx
  reco/L1/qa/CbmCaOutputQa.h
Owners: @se.gorbunov, @v.akishina

CA: Cleaning up RW of L1Parameters instance; introducing parameters to the OutputQa task
  macro/run/run_qa.C
  macro/run/run_reco.C
  reco/L1/CbmCaTimeSliceReader.h
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/L1Algo/L1IODataManager.cxx
  reco/L1/L1Algo/L1IODataManager.h
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/qa/CbmCaOutputQa.cxx
  reco/L1/qa/CbmCaOutputQa.h
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina

CA: output qa, updated MC initialization
  reco/L1/CbmCaMCModule.cxx
  reco/L1/CbmCaMCModule.h
  reco/L1/CbmCaTimeSliceReader.cxx
  reco/L1/CbmCaTimeSliceReader.h
  reco/L1/qa/CbmCaOutputQa.cxx
  reco/L1/qa/CbmCaOutputQa.h
Owners: @se.gorbunov, @v.akishina

CA: setting up of matching in the MC module, add examples of histograms
  core/qa/CMakeLists.txt
  core/qa/CbmQaTask.cxx
  core/qa/CbmQaTask.h
  macro/run/CMakeLists.txt
  macro/run/qa_config.cbm.yaml
  macro/run/run_qa.C
  reco/L1/CbmCaMCModule.cxx
  reco/L1/CbmCaMCModule.h
  reco/L1/CbmCaTimeSliceReader.cxx
  reco/L1/CbmCaTimeSliceReader.h
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1Hit.h
  reco/L1/catools/CaToolsMCData.cxx
  reco/L1/catools/CaToolsMCData.h
  reco/L1/catools/CaToolsMCTrack.cxx
  reco/L1/catools/CaToolsMCTrack.h
  reco/L1/catools/CaToolsQa.cxx
  reco/L1/qa/CbmCaOutputQa.cxx
  reco/L1/qa/CbmCaOutputQa.h
Owners: @se.gorbunov, @f.uhlig, @p.-a.loizeau, @v.akishina

CA: Output QA updates
  core/qa/CMakeLists.txt
  core/qa/CbmQaConstants.h
  core/qa/CbmQaIO.cxx
  core/qa/CbmQaIO.h
  core/qa/CbmQaTask.cxx
  core/qa/CbmQaTask.h
  macro/run/qa_config.cbm.yaml
  macro/run/run_qa.C
  reco/L1/CMakeLists.txt
  reco/L1/CbmCaMCModule.cxx
  reco/L1/CbmCaTimeSliceReader.cxx
  reco/L1/CbmCaTimeSliceReader.h
  reco/L1/CbmL1Hit.h
  reco/L1/CbmL1MCTrack.cxx
  reco/L1/CbmL1MCTrack.h
  reco/L1/CbmL1Track.cxx
  reco/L1/CbmL1Track.h
  reco/L1/L1Algo/L1Constants.h
  reco/L1/L1Algo/L1Field.cxx
  reco/L1/L1Algo/L1Fit.h
  reco/L1/L1Algo/L1TrackPar.h
  reco/L1/catools/CaToolsMCPoint.h
  reco/L1/qa/CbmCaOutputQa.cxx
  reco/L1/qa/CbmCaOutputQa.h
  reco/L1/qa/CbmCaTrackFitQa.cxx
  reco/L1/qa/CbmCaTrackFitQa.h
  reco/L1/qa/CbmCaTrackTypeQa.cxx
  reco/L1/qa/CbmCaTrackTypeQa.h
Owners: @se.gorbunov, @f.uhlig, @p.-a.loizeau, @v.akishina

CA: efficiencies were added to external QA
  core/qa/CbmQaConstants.h
  reco/L1/CbmCaMCModule.cxx
  reco/L1/CbmL1.cxx
  reco/L1/catools/CaToolsMCTrack.h
  reco/L1/qa/CbmCaOutputQa.cxx
  reco/L1/qa/CbmCaOutputQa.h
  reco/L1/qa/CbmCaTrackTypeQa.cxx
  reco/L1/qa/CbmCaTrackTypeQa.h
Owners: @se.gorbunov, @v.akishina

CA: mCBM (globalTrack) case was added to the output QA task
  core/detectors/tof/CbmTofTrackingInterface.h
  macro/mcbm/mcbm_qa.C
  macro/mcbm/mcbm_reco_event.C
  macro/run/run_qa.C
  macro/run/run_reco.C
  reco/L1/CbmCaMCModule.cxx
  reco/L1/CbmCaMCModule.h
  reco/L1/CbmCaTimeSliceReader.cxx
  reco/L1/CbmCaTimeSliceReader.h
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1Hit.h
  reco/L1/CbmL1MCPoint.h
  reco/L1/catools/CaToolsMCData.cxx
Owners: @n.herrmann, @i.deppner, @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina

CA: track type selection in cbm::ca::CaOutputQa; bugfix in macro/mcbm/mcbm_qa.C
  core/qa/CbmQaTask.cxx
  macro/mcbm/mcbm_qa.C
  reco/L1/CbmCaMCModule.cxx
  reco/L1/L1LinkDef.h
  reco/L1/catools/CaToolsMCData.cxx
  reco/L1/qa/CbmCaOutputQa.cxx
  reco/L1/qa/CbmCaOutputQa.h
  reco/L1/qa/CbmCaTrackTypeQa.cxx
  reco/L1/qa/CbmCaTrackTypeQa.h
Owners: @se.gorbunov, @f.uhlig, @p.-a.loizeau, @v.akishina

UnpackMuch: Removed fNumAsicsPerModule and fNumChansPerAsic parameters as they don't appear to be needed.
  algo/detectors/much/UnpackMuch.h
  reco/tasks/CbmTaskUnpack.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

compiler warning fixes
  analysis/PWGDIL/dielectron/lmvm/LmvmUtils.cxx
  reco/littrack/cbm/qa/tracking/CbmLitTrackingQa.h
Owners: @i.selyuzhenkov, @s.lebedev, @andrey.lebedev

Externals: Add build time folder for bba to git ignores
  external/.gitignore
Owners: @f.uhlig

StsSetup: replace BBox recompute fct w/ one proposed by ROOT expert, #2620
  core/detectors/sts/CbmStsSetup.cxx
Owners: @v.friese

Fix compiler warnings
  fles/mcbm2018/monitor/CbmMcbm2018MonitorMuch.cxx
  reco/detectors/much/CbmMuchFindHitsGem.cxx
  sim/detectors/much/qa/CbmMuchDigitizerQa.cxx
Owners: @f.uhlig, @p.-a.loizeau, @v.singhal

UnpackBmon: Removed some debug code.
  algo/detectors/bmon/UnpackBmon.cxx
Owners: none

Added TOF unpacker in algo namespace. Modified CMakeLists to compile new TOF and T0 unpackers.
  algo/CMakeLists.txt
  algo/detectors/tof/TofReadoutConfig.cxx
  algo/detectors/tof/TofReadoutConfig.h
  algo/detectors/tof/UnpackTof.cxx
  algo/detectors/tof/UnpackTof.h
Owners: none

UnpackTof: Removed special address remapping.
  algo/detectors/tof/TofReadoutConfig.cxx
  algo/detectors/tof/UnpackTof.cxx
Owners: none

Added T0 unpacker in algo namespace.
  algo/detectors/t0/T0ReadoutConfig.cxx
  algo/detectors/t0/T0ReadoutConfig.h
  algo/detectors/t0/UnpackT0.cxx
  algo/detectors/t0/UnpackT0.h
Owners: none

Added new unpackers to CbmTaskUnpack.
  algo/CMakeLists.txt
  algo/data/CMakeLists.txt
  reco/tasks/CbmTaskUnpack.cxx
  reco/tasks/CbmTaskUnpack.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

UnpackTof/T0: Changed nomenclature from T0 to Bmon.
  algo/CMakeLists.txt
  algo/detectors/bmon/BmonReadoutConfig.cxx
  algo/detectors/bmon/BmonReadoutConfig.h
  algo/detectors/bmon/UnpackBmon.cxx
  algo/detectors/bmon/UnpackBmon.h
  reco/tasks/CbmTaskUnpack.cxx
  reco/tasks/CbmTaskUnpack.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

UnpackT0/Tof: Fixed error counters. Updated address computation.
  algo/detectors/t0/UnpackT0.cxx
  algo/detectors/tof/TofReadoutConfig.cxx
  algo/detectors/tof/UnpackTof.cxx
Owners: none

UnpackTof/T0: removed fNumChansPerAsic and fNumAsicsPerModule from parameter structs, as they don't appear to be needed.
  algo/detectors/t0/UnpackT0.h
  algo/detectors/tof/UnpackTof.h
  reco/tasks/CbmTaskUnpack.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

fix memory leak in timebased simulations of TRD2D (A.Nan)
  sim/detectors/trd/CbmTrdModuleSim2D.cxx
Owners: @a.bercuci, @p.kaehler

replace hard-codded value by significant parameter
  sim/detectors/trd/CbmTrdModuleSim2D.cxx
Owners: @a.bercuci, @p.kaehler

Fix compilation with gcc 11.
  algo/detectors/bmon/BmonReadoutConfig.h
  algo/detectors/tof/TofReadoutConfig.h
Owners: none

Handle more than one beampipe
  macro/mvd/mvd_sim.C
  macro/run/modules/registerSetup.C
Owners: @c.muentz, @m.deveaux, @f.uhlig, @p.-a.loizeau

Geometry and parameter hash update
  external/InstallGeometry.cmake
  external/InstallParameter.cmake
Owners: @f.uhlig

BUGFIX: CbmMuchHitFinderQa.cxx: Added a nullptr check in the "stats" pave accessing
  core/qa/CMakeLists.txt
  macro/mcbm/mcbm_qa.C
  reco/detectors/much/qa/CbmMuchHitFinderQa.cxx
Owners: @se.gorbunov, @f.uhlig, @p.-a.loizeau, @v.singhal

CA: added input QA to the mCBM macro
  macro/mcbm/mcbm_qa.C
  macro/run/run_qa.C
  reco/L1/qa/CbmCaInputQaMuch.cxx
  reco/L1/qa/CbmCaInputQaSts.cxx
  reco/L1/qa/CbmCaInputQaTof.cxx
  reco/L1/qa/CbmCaInputQaTrd.cxx
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina
