Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux

Clean build system
  CMakeLists.txt
  cmake/modules/CbmCompilerSettings.cmake
Owners: @f.uhlig

Clean build system
  CMakeLists.txt
Owners: none

Clean build system
  CMakeLists.txt
  cmake/modules/CbmChecks.cmake
Owners: @f.uhlig

Clean build system
  CMakeLists.txt
  cmake/modules/CbmGenerateConfig.cmake
  cmake/modules/CbmTargets.cmake
Owners: @f.uhlig

Clean build system
  external/InstallFlesnet.cmake
  external/InstallNicaFemto.cmake
Owners: @f.uhlig

Fix CI installation test
  cmake/scripts/execute_installation_test.sh
Owners: @f.uhlig

Fix mismatch in old MQ samplers with current flesnet IPC, removing warnings
  MQ/source/CbmMQTsaMultiSamplerTof.cxx
  MQ/source/CbmMQTsaSampler.cxx
  MQ/source/CbmMQTsaSamplerTof.cxx
Owners: @f.uhlig, @p.-a.loizeau

Fix deprecation warning for ROOT serdes method in old Histo MQ device
  MQ/histoServer/CbmHistoServer.cxx
Owners: @f.uhlig, @p.-a.loizeau

Fix unused variable warnings introduced by mCBM MRs
  reco/detectors/rich/mcbm/CbmRichMCbmQaReal.cxx
  reco/detectors/rich/unpack/CbmRichUnpackAlgo2022.cxx
Owners: @s.lebedev

Fix new sign warnings introduced by mCBM MRs
  MQ/mcbm/CbmDeviceUnpack.cxx
  macro/run/run_unpack_online.C
  macro/run/run_unpack_tsa.C
  reco/detectors/much/unpack/CbmMuchUnpackAlgo.cxx
Owners: @f.uhlig, @p.-a.loizeau, @v.singhal

[CI] Add mCBM 2022 typ. runs 2391 and 2488 to tests used in CI and Nightly
  macro/run/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

gitignore: Add vscode folder.
  .gitignore
Owners: none

StsReco: Add GPU Hitfinder besides existing local reconstruction.
  CMakeLists.txt
  MQ/mcbm/CMakeLists.txt
  MQ/source/CMakeLists.txt
  algo/data/CMakeLists.txt
  core/data/sts/CbmStsDigi.h
  core/detectors/sts/CbmStsPhysics.h
  external/.gitignore
  external/CMakeLists.txt
  macro/run/run_reco.C
  reco/CMakeLists.txt
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/detectors/sts/CMakeLists.txt
  reco/detectors/sts/CbmRecoSts.cxx
  reco/detectors/sts/CbmRecoSts.h
  reco/detectors/sts/CbmStsAlgoAnaCluster.cxx
  reco/detectors/sts/CbmStsAlgoFindHits.cxx
  reco/detectors/sts/CbmStsFindTracks.cxx
  reco/detectors/sts/CbmStsRecoModule.cxx
  reco/detectors/sts/CbmStsRecoModule.h
  reco/detectors/sts/experimental/CbmGpuRecoSts.cxx
  reco/detectors/sts/experimental/CbmGpuRecoSts.h
  reco/detectors/sts/experimental/CbmStsGpuHitFinder.cxx
  reco/detectors/sts/experimental/CbmStsGpuHitFinder.h
  reco/detectors/sts/experimental/CbmStsGpuRecoDevice.cxx
  reco/detectors/sts/experimental/CbmStsGpuRecoDevice.h
  reco/mq/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau, @v.friese, @se.gorbunov, @v.akishina

Updated README.md to include instructions regarding the -p and -a options of config.sh and config.csh.
  README.md
Owners: none

Fix schema evolution
  core/data/CbmTsEventHeader.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Correct order of include statements
  reco/app/cbmreco_fairrun/Application.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Bump flesnet version, include monitoring library
  external/InstallFlesnet.cmake
  reco/app/cbmreco_fairrun/Application.cxx
  reco/app/cbmreco_fairrun/Application.h
  reco/app/cbmreco_fairrun/CMakeLists.txt
  reco/app/cbmreco_fairrun/ProgramOptions.cxx
  reco/app/cbmreco_fairrun/ProgramOptions.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Add dummy targets to make CI happy
  external/CMakeLists.txt
Owners: @f.uhlig

Remove direct std::cout access from reco/task classes
  reco/tasks/CbmReco.cxx
  reco/tasks/CbmSourceTs.cxx
  reco/tasks/CbmTaskBuildEvents.cxx
  reco/tasks/CbmTaskDigiEventQa.cxx
  reco/tasks/CbmTaskMakeRecoEvents.cxx
  reco/tasks/CbmTaskTriggerDigi.cxx
  reco/tasks/CbmTaskUnpack.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Bump flesnet version
  external/InstallFlesnet.cmake
Owners: @f.uhlig

Bump flesnet version
  external/InstallFlesnet.cmake
Owners: @f.uhlig

Fix sign warning in algo much config, all vars are unsigned
  algo/detectors/much/MuchReadoutConfig.cxx
Owners: none

Event matching for time based mode
  analysis/common/analysis_tree_converter/CMakeLists.txt
  analysis/common/analysis_tree_converter/CbmAnalysisTreeInterfaceLinkDef.h
  analysis/common/analysis_tree_converter/CbmConverterManager.cxx
  analysis/common/analysis_tree_converter/CbmConverterManager.h
  analysis/common/analysis_tree_converter/CbmConverterTask.h
  analysis/common/analysis_tree_converter/CbmMatchEvents.cxx
  analysis/common/analysis_tree_converter/CbmMatchEvents.h
  analysis/common/analysis_tree_converter/CbmPsdModulesConverter.cxx
  analysis/common/analysis_tree_converter/CbmPsdModulesConverter.h
  analysis/common/analysis_tree_converter/CbmRecEventHeaderConverter.cxx
  analysis/common/analysis_tree_converter/CbmRecEventHeaderConverter.h
  analysis/common/analysis_tree_converter/CbmRichRingsConverter.cxx
  analysis/common/analysis_tree_converter/CbmRichRingsConverter.h
  analysis/common/analysis_tree_converter/CbmSimEventHeaderConverter.cxx
  analysis/common/analysis_tree_converter/CbmSimEventHeaderConverter.h
  analysis/common/analysis_tree_converter/CbmSimTracksConverter.cxx
  analysis/common/analysis_tree_converter/CbmSimTracksConverter.h
  analysis/common/analysis_tree_converter/CbmStsTracksConverter.cxx
  analysis/common/analysis_tree_converter/CbmStsTracksConverter.h
  analysis/common/analysis_tree_converter/CbmTofHitsConverter.cxx
  analysis/common/analysis_tree_converter/CbmTofHitsConverter.h
  analysis/common/analysis_tree_converter/CbmTrdTracksConverter.cxx
  analysis/common/analysis_tree_converter/CbmTrdTracksConverter.h
  external/InstallAnalysisTree.cmake
  external/InstallAnalysisTreeQA.cmake
  macro/analysis/common/analysis_tree_converter/run_analysis_tree_maker.C
  macro/analysis/common/qa/run_analysistree_qa.C
Owners: @i.selyuzhenkov, @f.uhlig

Hide warnings from external packages
  analysis/common/analysis_tree_converter/CMakeLists.txt
Owners: @i.selyuzhenkov

Add several compiler warnings
  MQ/mcbm/CbmDeviceDigiEventSink.cxx
  MQ/mcbm/CbmDeviceDigiEventSink.h
  analysis/PWGDIL/dielectron/lmvm/LmvmTask.cxx
  analysis/common/analysis_tree_converter/CbmTofHitsConverter.cxx
  core/data/raw/AccDataSis18.h
  core/detectors/trd/CbmTrdFASP.cxx
  reco/L1/CbmL1.h
  reco/L1/L1Algo/L1MaterialInfo.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.h
  reco/detectors/rich/unpack/CbmRichUnpackMonitor.cxx
  reco/mq/CbmDevBuildEvents.h
  reco/mq/CbmDevTrigger.h
Owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @a.bercuci, @p.kaehler, @se.gorbunov, @v.akishina, @s.lebedev, @v.friese

Use isfinite function instead of finite function
  reco/KF/CbmKFFieldMath.cxx
  reco/KF/CbmKFMath.cxx
  reco/KF/CbmKFPixelMeasurement.cxx
  reco/KF/CbmKFUMeasurement.cxx
  reco/KF/Interface/CbmPVFinderKF.cxx
  reco/KF/Interface/CbmStsFitPerformanceTask.cxx
  reco/KF/Interface/CbmStsKFTrackFitter.cxx
  reco/KF/KFQA/CbmKFTrackFitQa.cxx
Owners: @se.gorbunov, @v.akishina

L1: fix bug in TOF performance
  reco/L1/CbmL1ReadEvent.cxx
Owners: @se.gorbunov, @v.akishina

L1: Prototype for L1 configuration (yaml) reader
  core/detectors/much/CbmMuchTrackingInterface.h
  core/detectors/sts/CbmStsTrackingInterface.h
  core/detectors/tof/CbmTofTrackingInterface.h
  core/detectors/trd/CbmTrdTrackingInterface.h
  core/qa/CbmQaHist.h
  macro/run/run_reco.C
  mvd/CbmMvdTrackingInterface.h
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1BaseStationInfo.cxx
  reco/L1/L1Algo/L1BaseStationInfo.h
  reco/L1/L1Algo/L1CAIteration.cxx
  reco/L1/L1Algo/L1CAIteration.h
  reco/L1/L1Algo/L1ConfigExample.yaml
  reco/L1/L1Algo/L1ConfigRW.cxx
  reco/L1/L1Algo/L1ConfigRW.h
  reco/L1/L1Algo/L1Constants.h
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/qa/CbmTrackingInputQaSts.cxx
  reco/L1/qa/CbmTrackingInputQaSts.h
Owners: @v.singhal, @v.friese, @n.herrmann, @i.deppner, @a.bercuci, @p.kaehler, @se.gorbunov, @f.uhlig, @p.-a.loizeau, @c.muentz, @m.deveaux, @v.akishina

L1QA: added tracking QA base class and Sts class (experimental), added station index getters to the tracking detector interface classes
  core/base/CbmTrackingDetectorInterfaceBase.h
  core/detectors/much/CbmMuchTrackingInterface.h
  core/detectors/sts/CbmStsTrackingInterface.h
  core/detectors/tof/CbmTofTrackingInterface.h
  core/detectors/trd/CbmTrdTrackingInterface.h
  macro/run/run_qa.C
  mvd/CbmMvdTrackingInterface.h
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1LinkDef.h
  reco/L1/qa/CbmTrackingInputQaBase.cxx
  reco/L1/qa/CbmTrackingInputQaBase.h
  reco/L1/qa/CbmTrackingInputQaSts.cxx
  reco/L1/qa/CbmTrackingInputQaSts.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @v.singhal, @n.herrmann, @i.deppner, @a.bercuci, @p.kaehler, @c.muentz, @m.deveaux, @se.gorbunov, @v.akishina

L1: Updates for STS tracking input QA
  core/base/CbmTrackingDetectorInterfaceBase.h
  core/detectors/much/CbmMuchTrackingInterface.h
  core/detectors/sts/CbmStsTrackingInterface.h
  core/detectors/tof/CbmTofTrackingInterface.h
  core/detectors/trd/CbmTrdTrackingInterface.h
  core/qa/CbmQaHist.h
  mvd/CbmMvdTrackingInterface.h
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1LinkDef.h
  reco/L1/qa/CbmTrackingInputQaBase.cxx
  reco/L1/qa/CbmTrackingInputQaBase.h
  reco/L1/qa/CbmTrackingInputQaSts.cxx
  reco/L1/qa/CbmTrackingInputQaSts.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @v.singhal, @n.herrmann, @i.deppner, @a.bercuci, @p.kaehler, @se.gorbunov, @c.muentz, @m.deveaux, @v.akishina

L1: bugfix in CbmTrackingInputQaSts
  reco/L1/qa/CbmTrackingInputQaSts.cxx
  reco/L1/qa/CbmTrackingInputQaSts.h
Owners: @se.gorbunov, @v.akishina

In unp macros, put unpackers config in order along mCBM beamline
  macro/run/run_unpack_online.C
  macro/run/run_unpack_tsa.C
Owners: @f.uhlig, @p.-a.loizeau

[mCBM 2022] Add evt building only macro and synchronize unpack+evt macro
  macro/beamtime/mcbm2022/mcbm_event.C
Owners: @f.uhlig, @p.-a.loizeau

[MQ] update par file list vs run ID for MQ par server in 2022 scripts
  MQ/mcbm/CbmDeviceUnpack.cxx
  MQ/mcbm/startBuildRawEvents2022.sh.in
  macro/beamtime/mcbm2022/online/mq_parserv.sbatch
  macro/beamtime/mcbm2022/online/mq_processing_node.sbatch
  macro/beamtime/mcbm2022/online/mq_processing_node_array.sbatch
  macro/beamtime/mcbm2022/online/mq_processing_node_dev.sbatch
  macro/beamtime/mcbm2022/online/mq_servers.sbatch
Owners: @f.uhlig, @p.-a.loizeau

[CI] add test of mCBM 2022 event building (task version)
  macro/run/CMakeLists.txt
  macro/run/run_unpack_tsa.C
Owners: @f.uhlig, @p.-a.loizeau

[mCBM] explicit default par files for mMUCH and mTOF + TOF default nh sync
  macro/beamtime/mcbm2022/mTofCriPar.par
  macro/beamtime/mcbm2022/mcbm_unp_event.C
  macro/run/run_unpack_online.C
  macro/run/run_unpack_tsa.C
Owners: @f.uhlig, @p.-a.loizeau

Remove Unused Variables dist and links
  analysis/PWGDIL/dielectron/papaframework/PairAnalysisVarManager.h
Owners: @a_meye37_AT_uni-muenster.de

Fix failing test on CentOS7
  macro/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

L1: trd2d update
  reco/L1/CbmL1.cxx
Owners: @se.gorbunov, @v.akishina

L1: bugfix
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina
