Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux

Move AddPlugins from MvdDetector to tasks
  mvd/CbmMvd.h
  mvd/CbmMvdClusterfinder.cxx
  mvd/CbmMvdDetector.cxx
  mvd/CbmMvdDigiToHit.cxx
  mvd/CbmMvdDigitizer.cxx
  mvd/CbmMvdDigitizerTB.cxx
  mvd/CbmMvdHitfinder.cxx
Owners: @c.muentz, @m.deveaux

First adaptations for a time based digitizer. Methods added but not used in CbmMvdDigitizerTask and CbmMvdDataSheet
  core/detectors/mvd/CbmMvdStationPar.cxx
  core/detectors/mvd/SensorDataSheets/CbmMvdMimosis.cxx
  core/detectors/mvd/SensorDataSheets/CbmMvdSensorDataSheet.cxx
  core/detectors/mvd/SensorDataSheets/CbmMvdSensorDataSheet.h
  sim/detectors/mvd/plugins/tasks/CbmMvdSensorDigitizerTask.cxx
  sim/detectors/mvd/plugins/tasks/CbmMvdSensorDigitizerTask.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Use fSensorMap when forwarding data to plugin
  mvd/CbmMvdDigitizer.cxx
Owners: @c.muentz, @m.deveaux

Output Data transport from Plugin to Task modified to become format independent
  mvd/CbmMvdClusterfinder.cxx
  mvd/CbmMvdDetector.cxx
  mvd/CbmMvdDetector.h
  mvd/CbmMvdDigitizer.cxx
  mvd/CbmMvdHitfinder.cxx
  mvd/CbmMvdSensor.cxx
  mvd/CbmMvdSensor.h
Owners: @c.muentz, @m.deveaux

added an empty directory
  sim/detectors/mvd/test.txt
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Unique Identifier for CbmMvdSensor Plugins added. This is to allow for giving the implementations of the plugins a unique ID. See /plugins/PluginNamingConvention.txt for details.
  mvd/CMakeLists.txt
  mvd/CbmMvdDetector.cxx
  mvd/CbmMvdDetector.h
  mvd/CbmMvdSensor.cxx
  mvd/CbmMvdSensor.h
  mvd/plugins/CbmMvdSensorPlugin.cxx
  mvd/plugins/CbmMvdSensorPlugin.h
  mvd/plugins/PluginNamingConvention.txt
  mvd/plugins/tasks/CbmMvdSensorDigitizerTask.cxx
Owners: @c.muentz, @m.deveaux

Add map to directly link detectorId to mvd sensor
  mvd/CbmMvdDetector.cxx
  mvd/CbmMvdDetector.h
  mvd/tools/CbmMvdGeoHandler.cxx
Owners: @c.muentz, @m.deveaux

Send data to correct sensor
  reco/detectors/mvd/CbmMvdHitfinder.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Cleanup dependencies in CbmMvdSensor
  core/detectors/mvd/CbmMvdDetector.cxx
  core/detectors/mvd/CbmMvdDetector.h
  core/detectors/mvd/CbmMvdSensor.cxx
  core/detectors/mvd/CbmMvdSensor.h
  sim/detectors/mvd/CbmMvdDigitizer.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Remove obsolete data transfer classes from CbmMvdDetector
  mvd/CbmMvdClusterfinder.cxx
  mvd/CbmMvdDetector.cxx
  mvd/CbmMvdDetector.h
  mvd/CbmMvdDigitizer.cxx
  mvd/CbmMvdHitfinder.cxx
  mvd/CbmMvdReadout.cxx
Owners: @c.muentz, @m.deveaux

Cleanup MVD code
  analysis/detectors/mvd/CbmMvdReadout.cxx
  analysis/detectors/mvd/CbmMvdReadoutCluster.cxx
  analysis/detectors/mvd/CbmMvdReadoutSimple.cxx
  analysis/detectors/mvd/plugins/tasks/CbmMvdSensorReadoutTask.cxx
  analysis/detectors/mvd/qa/CbmMvdClusterAna.cxx
  analysis/detectors/mvd/qa/CbmMvdQa.cxx
  core/detectors/mvd/CbmMvdPileupManager.cxx
  core/detectors/mvd/CbmMvdSensor.cxx
  core/detectors/mvd/CbmMvdSensor.h
  core/detectors/mvd/SensorDataSheets/CbmMvdMimosa34.cxx
  core/detectors/mvd/SensorDataSheets/CbmMvdSensorDataSheet.cxx
  core/detectors/mvd/SensorDataSheets/CbmMvdSensorDataSheet.h
  core/detectors/mvd/plugins/buffers/CbmMvdSensorFrameBuffer.cxx
  core/detectors/mvd/plugins/buffers/CbmMvdSensorTrackingBuffer.cxx
  core/detectors/mvd/tools/CbmMvdGeoHandler.cxx
  reco/detectors/mvd/CbmMvdClusterfinder.cxx
  reco/detectors/mvd/CbmMvdClusterfinder.h
  reco/detectors/mvd/CbmMvdClusterfinderTB.cxx
  reco/detectors/mvd/CbmMvdClusterfinderTB.h
  reco/detectors/mvd/CbmMvdDigiToHit.cxx
  reco/detectors/mvd/CbmMvdDigiToHit.h
  reco/detectors/mvd/CbmMvdDigiToHitTB.cxx
  reco/detectors/mvd/CbmMvdDigiToHitTB.h
  reco/detectors/mvd/CbmMvdHitfinder.cxx
  reco/detectors/mvd/CbmMvdHitfinder.h
  reco/detectors/mvd/CbmMvdHitfinderTB.cxx
  reco/detectors/mvd/CbmMvdHitfinderTB.h
  reco/detectors/mvd/plugins/tasks/CbmMvdSensorClusterfinderTask.cxx
  reco/detectors/mvd/plugins/tasks/CbmMvdSensorDigiToHitTask.cxx
  reco/detectors/mvd/plugins/tasks/CbmMvdSensorFindHitTask.cxx
  reco/detectors/mvd/plugins/tasks/CbmMvdSensorHitfinderTask.cxx
  sim/detectors/mvd/CbmMvdDigitizer.cxx
  sim/detectors/mvd/CbmMvdDigitizer.h
  sim/detectors/mvd/CbmMvdDigitizerTB.cxx
  sim/detectors/mvd/CbmMvdDigitizerTB.h
  sim/detectors/mvd/CbmMvdPixelCharge.cxx
  sim/detectors/mvd/CbmMvdPixelCharge.h
  sim/detectors/mvd/plugins/tasks/CbmMvdSensorDigitizerTBTask.cxx
  sim/detectors/mvd/plugins/tasks/CbmMvdSensorDigitizerTask.cxx
  sim/detectors/mvd/plugins/tasks/CbmMvdSensorDigitizerTask.h
Owners: @i.selyuzhenkov, @f.uhlig, @v.friese, @p.-a.loizeau

CA/KF: Warning fixes
  reco/KF/CbmKFTrackInterface.h
  reco/KF/Interface/CbmKFTrack.h
  reco/L1/CbmL1TrackPar.h
  reco/L1/qa/CbmTofInteraction.cxx
  reco/L1/qa/CbmTofInteraction.h
Owners: @se.gorbunov, @v.akishina

New TRD Unpacker in cbm::algo.
  algo/CMakeLists.txt
  algo/data/CMakeLists.txt
  algo/detectors/trd/TrdReadoutConfig.cxx
  algo/detectors/trd/TrdReadoutConfig.h
  algo/detectors/trd/UnpackTrd.cxx
  algo/detectors/trd/UnpackTrd.h
  core/data/trd/CbmTrdRawMessageSpadic.cxx
  core/data/trd/CbmTrdRawMessageSpadic.h
  reco/tasks/CMakeLists.txt
  reco/tasks/CbmTaskUnpack.cxx
  reco/tasks/CbmTaskUnpack.h
Owners: @a.bercuci, @p.kaehler, @f.uhlig, @v.friese, @p.-a.loizeau

Unpacker for STS using XPU
  algo/CMakeLists.txt
  algo/detectors/sts/StsReadoutConfig.cxx
  algo/detectors/sts/StsReadoutConfig.h
  algo/detectors/sts/UnpackStsXpu.cxx
  algo/detectors/sts/UnpackStsXpu.h
  reco/tasks/CMakeLists.txt
  reco/tasks/CbmRecoTasksLinkDef.h
  reco/tasks/CbmTaskUnpackXpu.cxx
  reco/tasks/CbmTaskUnpackXpu.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Added new MUCH unpacker to CbmDevUnpack (MQ device).
  reco/mq/CbmDevUnpack.cxx
  reco/mq/CbmDevUnpack.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Move CI from Singularity to Apptainer
  .gitlab-ci.yml
Owners: none

CbmTrdUnpackFaspAlgo: Removed catching of multiply defined equipment IDs (sometimes multiple entries are passed for invalid eq_id = 0).
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.cxx
Owners: @a.bercuci, @p.kaehler

algo: Add common device image for all GPU code.
  algo/CMakeLists.txt
  algo/base/gpu/DeviceImage.cxx
  algo/base/gpu/DeviceImage.h
  algo/detectors/sts/UnpackStsXpu.cxx
  algo/detectors/sts/UnpackStsXpu.h
Owners: none

Sts Reco: Temporarily disable GPU version.
  reco/detectors/sts/CbmRecoSts.cxx
  reco/detectors/sts/CbmRecoSts.h
Owners: @v.friese

Sts Reco: Move GPU Hitfinder into algo namespace.
  algo/CMakeLists.txt
  algo/detectors/sts/StsHitfinder.cxx
  algo/detectors/sts/StsHitfinder.h
  algo/detectors/sts/StsHitfinderChain.cxx
  algo/detectors/sts/StsHitfinderChain.h
  core/detectors/sts/CMakeLists.txt
  core/detectors/sts/CbmStsParSensorCond.h
  reco/detectors/sts/CMakeLists.txt
  reco/detectors/sts/CbmRecoSts.cxx
  reco/detectors/sts/CbmRecoSts.h
  reco/detectors/sts/experimental/CbmGpuRecoSts.cxx
  reco/detectors/sts/experimental/CbmGpuRecoSts.h
  reco/detectors/sts/experimental/CbmStsGpuHitFinder.h
  reco/detectors/sts/experimental/CbmStsGpuRecoDevice.cxx
  reco/detectors/sts/experimental/CbmStsGpuRecoDevice.h
  reco/tasks/CMakeLists.txt
Owners: @v.friese, @f.uhlig, @p.-a.loizeau

algo: Use common GPU identifier in STS Hitfinder.
  algo/detectors/sts/StsHitfinder.cxx
  algo/detectors/sts/StsHitfinder.h
Owners: none

StsPhysics: Add getter for landau table.
  core/detectors/sts/CbmStsPhysics.cxx
  core/detectors/sts/CbmStsPhysics.h
Owners: @v.friese

StsDigi: Fix GPU compilation.
  core/data/sts/CbmStsDigi.h
Owners: @v.friese

RecoSts: Improvements to logging / benchmarking.
  reco/detectors/sts/CbmRecoSts.cxx
  reco/detectors/sts/CbmRecoSts.h
  reco/detectors/sts/CbmStsRecoModule.cxx
  reco/detectors/sts/CbmStsRecoModule.h
Owners: @v.friese

CA: QA: Added resolution profiles for momentum, theta and phi
  reco/L1/L1Algo/L1TrackPar.h
  reco/L1/catools/CaToolsMCPoint.h
  reco/L1/qa/CbmCaTrackFitQa.cxx
  reco/L1/qa/CbmCaTrackFitQa.h
Owners: @se.gorbunov, @v.akishina

CA: QA updates
  core/base/CbmTrackingDetectorInterfaceBase.h
  core/qa/CMakeLists.txt
  core/qa/CbmQaCmpDrawer.cxx
  core/qa/CbmQaCmpDrawer.h
  core/qa/CbmQaTask.h
  reco/L1/CMakeLists.txt
  reco/L1/CbmCaMCModule.cxx
  reco/L1/CbmCaMCModule.h
  reco/L1/CbmCaTimeSliceReader.cxx
  reco/L1/CbmCaTimeSliceReader.h
  reco/L1/CbmL1.h
  reco/L1/CbmL1DetectorID.h
  reco/L1/L1Algo/L1EArray.h
  reco/L1/L1Algo/L1TrackPar.h
  reco/L1/catools/CaToolsMCData.cxx
  reco/L1/catools/CaToolsMCData.h
  reco/L1/qa/CbmCaInputQaSts.cxx
  reco/L1/qa/CbmCaOutputQa.cxx
  reco/L1/qa/CbmCaOutputQa.h
  reco/L1/qa/CbmCaTrackFitQa.cxx
  reco/L1/qa/CbmCaTrackFitQa.h
  reco/L1/qa/CbmCaTrackTypeQa.cxx
  reco/L1/qa/CbmCaTrackTypeQa.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @se.gorbunov, @v.akishina

external: Add dev mode for xpu to use local version.
  external/CMakeLists.txt
Owners: @f.uhlig

Update sts noise removal during unpacking (macro level)
  macro/beamtime/mcbm2022/sts_mask_channels.par
  macro/run/run_unpack_tsa.C
Owners: @f.uhlig, @p.-a.loizeau

STS time walk: fix container size to 31
  core/detectors/sts/CbmStsParAsic.h
  macro/run/run_unpack_tsa.C
  reco/detectors/sts/unpack/CbmStsUnpackAlgoBase.cxx
Owners: @v.friese, @f.uhlig, @p.-a.loizeau

Update sts time walk correction
  core/detectors/sts/CbmStsParAsic.h
  macro/beamtime/mcbm2022/mStsAsicTimeWalk.par
  macro/run/run_unpack_tsa.C
  reco/detectors/sts/unpack/CbmStsUnpackAlgo.cxx
  reco/detectors/sts/unpack/CbmStsUnpackAlgoBase.cxx
Owners: @v.friese, @f.uhlig, @p.-a.loizeau

CLAG formatting
  core/detectors/sts/CbmStsParAsic.h
  macro/run/run_unpack_tsa.C
  reco/detectors/sts/unpack/CbmStsUnpackAlgo.cxx
Owners: @v.friese, @f.uhlig, @p.-a.loizeau

CLANG formatting
  core/detectors/sts/CbmStsParAsic.h
  macro/run/run_unpack_tsa.C
Owners: @v.friese, @f.uhlig, @p.-a.loizeau

Adding timeslice and T0 informations to AT
  analysis/common/analysis_tree_converter/CbmConverterManager.cxx
  analysis/common/analysis_tree_converter/CbmConverterManager.h
  analysis/common/analysis_tree_converter/CbmRecEventHeaderConverter.cxx
  analysis/common/analysis_tree_converter/CbmRecEventHeaderConverter.h
  external/InstallAnalysisTree.cmake
  macro/PWG/common/production/config.json
  macro/PWG/common/production/run_analysis_tree_maker_json_config.C
  macro/PWG/common/production/run_sim_reco_json.sh
Owners: @i.selyuzhenkov, @f.uhlig, @p.-a.loizeau

Default construct and destroy the object
  core/detectors/mvd/SensorDataSheets/CbmMvdSensorDataSheet.cxx
  core/detectors/mvd/SensorDataSheets/CbmMvdSensorDataSheet.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Remove usage of sprintf
  reco/detectors/mvd/plugins/tasks/CbmMvdSensorClusterfinderTask.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Clang-format
  core/detectors/mvd/SensorDataSheets/CbmMvdSensorDataSheet.h
  reco/detectors/mvd/plugins/tasks/CbmMvdSensorClusterfinderTask.cxx
  sim/detectors/mvd/plugins/tasks/CbmMvdSensorDigitizerTask.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Remove unused variables and parameters
  core/detectors/mvd/plugins/buffers/CbmMvdSensorFrameBuffer.cxx
  sim/detectors/mvd/plugins/tasks/CbmMvdSensorDigitizerTask.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Remove wrong pragma statement
  reco/detectors/mvd/CbmMvdRecoLinkDef.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

algo: Add skeleton for cbmreco app.
  algo/CMakeLists.txt
  algo/base/.gitignore
  algo/base/ChainContext.h
  algo/base/Options.cxx
  algo/base/Options.h
  algo/base/SubChain.h
  algo/global/Reco.cxx
  algo/global/Reco.h
  reco/app/CMakeLists.txt
  reco/app/cbmreco/CMakeLists.txt
  reco/app/cbmreco/main.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

algo: Add config micro-library to read YAML files and map to C++ classes.
  algo/base/Prelude.h
  algo/base/RecoParams.h
  algo/base/config/BaseTypes.h
  algo/base/config/Property.h
  algo/base/config/Yaml.h
  algo/params/RecoParams.yaml
Owners: none
