Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

add digi buffering to fix asynchronous ADC read-out. Restore PRF for TRD2D clusters (hint by C.Schiaua)
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.h
Owners: @a.bercuci, @p.kaehler

Add Message Rate Timeplots to TRD Monitor
  reco/detectors/trd/unpack/CbmTrdUnpackAlgoR.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackMonitor.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackMonitor.h
Owners: @a.bercuci, @p.kaehler

update for TRD reco also in the mCBM fork
  reco/detectors/trd/CbmTrdModuleRec2D.cxx
Owners: @a.bercuci, @p.kaehler

Add NT Correlation Plot to TRD Online Monitor
  reco/detectors/trd/unpack/CbmTrdUnpackAlgoBaseR.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackMonitor.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackMonitor.h
Owners: @a.bercuci, @p.kaehler

add support for multiple CRI boards in the TRD2D detectors
  core/detectors/trd/CbmTrdParFasp.h
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.h
  reco/detectors/trd/unpack/CbmTrdUnpackFaspConfig.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackFaspConfig.h
Owners: @a.bercuci, @p.kaehler

In macro/mcbm/matbudget_sim.C, change default setup and fix line offsets
  macro/mcbm/matbudget_sim.C
Owners: @f.uhlig, @p.-a.loizeau

Changes to mcbm_transport macro:
  macro/mcbm/mcbm_transport.C
Owners: @f.uhlig, @p.-a.loizeau

[Evt Builder] Restore and expand support for T0 digis in TOF vector
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.cxx
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.h
  reco/eventbuilder/digis/CbmTaskBuildRawEvents.cxx
  reco/eventbuilder/digis/CbmTaskBuildRawEvents.h
  reco/steer/CbmRecoUnpack.cxx
Owners: @d.smith, @f.uhlig, @v.friese, @p.-a.loizeau

[Evt Builder] in BuildRawEvent algo + task, add setter per det for max Digi Nb in histos
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.cxx
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.h
  reco/eventbuilder/digis/CbmTaskBuildRawEvents.h
Owners: @d.smith

In EventBuilderAlgo, fix bug preventing to use max Digi Nb for anti-trigger
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.cxx
Owners: @d.smith

[Evt Builder] in AlgoBuildRawEvent, check each det directly after building it and reject early
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.cxx
Owners: @d.smith

[Evt Builder] Fix string comp in filling of separate histos for TRD 1D and 2D
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.cxx
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.h
Owners: @d.smith

[Evt Builder] in AlgoBuildRawEvent, add performance plots (time and data red.)
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.cxx
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.h
Owners: @d.smith

In EventBuildRawTask, add setter for min nb of layers
  reco/eventbuilder/digis/CbmTaskBuildRawEvents.h
Owners: @d.smith

[Evt Builder] in BuildRawEvent algo, fix unwanted FATAL if ref det set to undef for external seed list (+ a warning)
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.cxx
Owners: @d.smith

In UnpackConfig templ, make GetUnpacker return native type ptr instead of specialized base ptr
  reco/base/CbmRecoUnpackConfig.tmpl
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

[mBMON] Fix/adapt to the new 16ch diamond while keeping old data support
  core/detectors/tof/CbmMcbm2018TofPar.cxx
  reco/detectors/tof/unpack/CbmTofUnpackAlgo.cxx
  reco/detectors/tof/unpack/CbmTofUnpackConfig.h
  reco/detectors/tof/unpack/CbmTofUnpackMonitor.cxx
  reco/detectors/tof/unpack/CbmTofUnpackMonitor.h
Owners: @n.herrmann, @i.deppner

more plots in RICH QA
  macro/rich/mcbm/beamtime/run_reco_mcbm_real_wToF_mar22_iron_T0ref.C
  reco/detectors/rich/mcbm/CbmRichMCbmQaReal.cxx
  reco/detectors/rich/mcbm/CbmRichMCbmQaReal.h
Owners: @s.lebedev

[Task unpacker] in steering class, add performance plots (time and data exp.)
  reco/steer/CbmRecoUnpack.cxx
  reco/steer/CbmRecoUnpack.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

add updated rich analysis + macros
  macro/rich/mcbm/beamtime/.gitignore
  macro/rich/mcbm/beamtime/create_alignment_2022_03_22_iron.C
  macro/rich/mcbm/beamtime/create_alignment_2022_05_23_nickel.C
  macro/rich/mcbm/beamtime/run_reco_mcbm_real_wToF_mar22_iron.C
  macro/rich/mcbm/beamtime/run_reco_mcbm_real_wToF_mar22_iron_T0ref.C
  macro/rich/mcbm/beamtime/run_reco_mcbm_real_wToF_mar22_iron_T0refnoTof.C
  macro/rich/mcbm/beamtime/run_reco_mcbm_real_wToF_mar22_iron_Tofref_wT0.C
  macro/rich/mcbm/beamtime/run_reco_mcbm_real_wToF_may22_Nickel_Bmon.C
  macro/rich/mcbm/beamtime/run_reco_mcbm_richOnly2022.C
  reco/detectors/rich/mcbm/CbmRichMCbmQaReal.cxx
  reco/detectors/rich/mcbm/CbmRichMCbmQaReal.h
  reco/detectors/rich/mcbm/CbmRichMCbmQaRichOnly.cxx
  reco/detectors/rich/mcbm/CbmRichMCbmQaRichOnly.h
  reco/detectors/rich/mcbm/CbmRichMCbmSEDisplay.cxx
  reco/detectors/rich/mcbm/CbmRichMCbmSEDisplay.h
Owners: @s.lebedev

[TOF] Add TimeOffset getters and direct setter in Unpack templates
  reco/base/CbmRecoUnpackAlgo.tmpl
  reco/base/CbmRecoUnpackConfig.tmpl
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

[mCBM 2022] Add macro and script for DigiEvent based reco (from NH)
  macro/beamtime/mcbm2022/ana_digi_cal_evt.C
  macro/beamtime/mcbm2022/mcbm_digievent_reco.C
  macro/beamtime/mcbm2022/reco_digievents.sh
Owners: @f.uhlig, @p.-a.loizeau

SIS18 timing events macros: check macro + new default paths
  macro/beamtime/mcbm2022/CheckTimingSis18.C
  macro/beamtime/mcbm2022/ListSpills.C
  macro/beamtime/mcbm2022/UnpackTimingSis18.C
Owners: @f.uhlig, @p.-a.loizeau

[MQ] in BuildDigiEvent device, add setter per det for max Digi Nb in histos
  MQ/mcbm/CbmDeviceBuildDigiEvents.cxx
  MQ/mcbm/CbmDeviceBuildDigiEvents.h
  MQ/mcbm/runBuildDigiEvents.cxx
Owners: @f.uhlig, @p.-a.loizeau

add short howTo of common analysis
  macro/beamtime/mcbm2022/HowToAnalyse.md
Owners: @f.uhlig, @p.-a.loizeau

Changes to HadronAnalysis from NH version
  analysis/PWGHAD/hadron/CbmHadronAnalysis.cxx
Owners: @i.selyuzhenkov

Fix mapping in TOF par file for NI and Au data (changes from A.Weber)
  macro/beamtime/mcbm2022/mTofCriParNickel.par
Owners: @f.uhlig, @p.-a.loizeau

Add automatic setup choice from runId for Au bench runs in unpack macros
  macro/run/run_unpack_online.C
  macro/run/run_unpack_online_bmon.C
  macro/run/run_unpack_tsa.C
  macro/run/run_unpack_tsa_bmon.C
Owners: @f.uhlig, @p.-a.loizeau

[TOF MQ] TOF MQ devices, NH versions, 2 modifs to avoid changes in common files
  MQ/hitbuilder/CMakeLists.txt
  MQ/hitbuilder/CbmDeviceHitBuilderTof.cxx
  MQ/hitbuilder/CbmDeviceHitBuilderTof.h
  MQ/hitbuilder/runHitBuilderTof.cxx
  MQ/hitbuilder/runMQ_Cri2021.sh
  MQ/hitbuilder/runMQ_Mcbm2021.sh
  MQ/hitbuilder/startMQ_Mcbm2022.sh
  MQ/hitbuilder/startMQ_cosmicMcbm.sh
  MQ/unpacker/CMakeLists.txt
  MQ/unpacker/CbmDeviceUnpackTofCri.cxx
  MQ/unpacker/CbmDeviceUnpackTofCri.h
  MQ/unpacker/runUnpackTofCri.cxx
Owners: @n.herrmann, @i.deppner, @f.uhlig, @p.-a.loizeau

Updated mRICH Tot offset corrections
  macro/beamtime/mcbm2021/mRichPar_70.par
Owners: @f.uhlig, @p.-a.loizeau

mMUCH: Different runs parameter files named with date + related unpack macro changes
  macro/beamtime/mcbm2022/MonitorMuchBinning.C
  macro/beamtime/mcbm2022/mMuchPar.par
  macro/beamtime/mcbm2022/mMuchParUpto03042022.par
  macro/beamtime/mcbm2022/mMuchParUpto10042022.par
  macro/beamtime/mcbm2022/mMuchParUpto23052022.par
  macro/beamtime/mcbm2022/mMuchParUpto26052022.par
  macro/run/run_unpack_tsa.C
Owners: @f.uhlig, @p.-a.loizeau

[TOF] add special mapping for 2 ch of BUC in Ni and Au data
  core/detectors/tof/CbmMcbm2018TofPar.cxx
Owners: @n.herrmann, @i.deppner

[mCBM] Install all par files, macros and scripts for 2021 and 2022
  macro/beamtime/CMakeLists.txt
  macro/beamtime/mcbm2022/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

Fix mMUCH unpack Algo and Config classes for compat. w/ 2 GEM + RPC readout
  reco/detectors/much/unpack/CbmMuchUnpackAlgo.cxx
  reco/detectors/much/unpack/CbmMuchUnpackConfig.h
Owners: @v.singhal

Fixes to mMUCH par files for Ni and Au for compat. with 2 GEM + RPC readout
  macro/beamtime/mcbm2022/mMuchPar.par
  macro/beamtime/mcbm2022/mMuchParUpto23052022.par
  macro/beamtime/mcbm2022/mMuchParUpto26052022.par
Owners: @f.uhlig, @p.-a.loizeau

[TOF] Add Vertex and min vrtx tracks nb empty setters in base CbmTofTrackFinder
  reco/base/CbmTofTrackFinder.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Add mTOF Iron 2022 par file including BMon and unpack+Evt build test macro
  macro/beamtime/mcbm2022/data/.gitignore
  macro/beamtime/mcbm2022/mTofCriParIron_withBmon.par
  macro/beamtime/mcbm2022/mcbm_unp_event.C
Owners: @f.uhlig, @p.-a.loizeau

add a common event reconstruction macro, tested for run 2391, with the required files
  macro/beamtime/mcbm2022/create_alignment_2022_05_23_nickel.C
  macro/beamtime/mcbm2022/icd_offset_it_0.data
  macro/beamtime/mcbm2022/mcbm_event_reco.C
Owners: @f.uhlig, @p.-a.loizeau

Support for Nickel runs + BMon-in-Tof in unpacking macros
  macro/beamtime/mcbm2022/mMuchParNickel_23052022.par
  macro/beamtime/mcbm2022/mMuchParNickel_25052022.par
  macro/beamtime/mcbm2022/mTofCriParNickel.par
  macro/beamtime/mcbm2022/mTofCriParNickel_withBmon.par
  macro/run/run_unpack_online.C
  macro/run/run_unpack_tsa.C
Owners: @f.uhlig, @p.-a.loizeau

[mCBM] Run unpack macros: Ni 2022 setup auto-sel + fix + NH offsets for Ni
  macro/run/run_unpack_online.C
  macro/run/run_unpack_online_bmon.C
  macro/run/run_unpack_tsa.C
  macro/run/run_unpack_tsa_bmon.C
Owners: @f.uhlig, @p.-a.loizeau

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux
