Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

Fix event loop in RecoTzero. Refs #2689.
  reco/global/CbmRecoTzero.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Improve build system
  cmake/modules/CbmCompilerSettings.cmake
  fles/cosy2019/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

Add tests for latests FairSoft/FairRoot versions
  .gitlab-ci.yml
Owners: none

L1: estimated search windows are introduced to tracking
  macro/run/run_reco.C
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1MCTrack.cxx
  reco/L1/CbmL1MCTrack.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Constants.h
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Parameters.cxx.orig
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/L1Algo/L1SearchWindow.cxx
  reco/L1/L1Algo/L1SearchWindow.h
  reco/L1/L1LinkDef.h
  reco/L1/catools/CaToolsWindowFinder.cxx
  reco/L1/catools/CaToolsWindowFinder.h
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina

L1: added writer for reconstructable MC tracks
  macro/run/run_reco.C
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1Performance.cxx
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina

L1: a framework for search window estimation is introduced
  macro/L1/search_window.C
  macro/run/run_reco.C
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1CAIteration.cxx
  reco/L1/L1Algo/L1CAIteration.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1ConfigExample.yaml
  reco/L1/L1Algo/L1ConfigRW.cxx
  reco/L1/L1Algo/L1ConfigRW.h
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1Parameters.cxx
  reco/L1/L1Algo/L1Parameters.cxx.orig
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/L1Algo/L1SearchWindow.cxx
  reco/L1/L1Algo/L1SearchWindow.h
  reco/L1/catools/CaToolsWFExpression.cxx
  reco/L1/catools/CaToolsWFExpression.h
  reco/L1/catools/CaToolsWindowFinder.cxx
  reco/L1/catools/CaToolsWindowFinder.h
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina

L1: fit cleanup
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1TrackParFit.cxx
  reco/L1/L1Algo/L1TrackParFit.h
Owners: @se.gorbunov, @v.akishina

L1: fit: moving to L1TrackParFit utility..
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/L1TrackParFit.cxx
  reco/L1/L1Algo/L1TrackParFit.h
Owners: @se.gorbunov, @v.akishina

L1: bugfix in removing suspicious triplets
  reco/L1/L1Algo/L1BranchExtender.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1HitPoint.h
Owners: @se.gorbunov, @v.akishina

L1: fit: prepare fo L1Fit removal
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1 fit: bugfix for IgnoreHitSearchAreas mode
  reco/L1/L1Algo/L1BranchExtender.cxx
Owners: @se.gorbunov, @v.akishina

L1: suppress hits in the overlaps
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Parameters.cxx
  reco/L1/L1Algo/L1Parameters.h
Owners: @se.gorbunov, @v.akishina

Fix implicit fallthrough warning in switch statement.
  core/detectors/tof/CbmMcbm2018TofPar.cxx
Owners: @n.herrmann, @i.deppner

fix negative ToF hit errors
  reco/detectors/tof/CbmTofSimpClusterizer.cxx
Owners: @n.herrmann, @i.deppner

L1: bugfix in CbmTrackerInputQaTof
  macro/run/run_qa.C
  reco/L1/qa/CbmTrackerInputQaTof.cxx
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina

L1: clean up CbmTrackerInputQaTof
  reco/L1/qa/CbmTrackerInputQaTof.cxx
  reco/L1/qa/CbmTrackerInputQaTof.h
Owners: @se.gorbunov, @v.akishina

Changed ClassDef version to 2.
  core/data/base/CbmDigiData.h
  core/data/global/CbmDigiEvent.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Make CbmDigiData, CbmDigiEvent and CbmDigiTimeslice classes (previously structs) with ROOT streamers
  core/data/base/CbmDigiData.h
  core/data/global/CbmDigiEvent.h
  core/data/global/CbmDigiTimeslice.h
  core/data/tof/CbmTofDigiData.h
  reco/mq/CbmDevTrigger.h
  reco/mq/CbmDevUnpack.h
  reco/tasks/CbmTaskTriggerDigi.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @n.herrmann, @i.deppner

Use latest version of the parameter repository
  external/InstallParameter.cmake
Owners: @f.uhlig

Bugfix for STS unpacker in algo namespace: Fixed channel mapping and adc calibration.
  algo/detectors/sts/StsReadoutConfig.cxx
  algo/detectors/sts/UnpackSts.cxx
  reco/tasks/CbmTaskUnpack.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Fix problem with empty PsdHits
  sim/detectors/psd/CbmPsdSimpleDigitizer.cxx
Owners: @karpushkin_AT_inr.ru

Fix preexisting bugs/features in RecoUnpackAlgo template
  reco/base/CbmRecoUnpackAlgo.tmpl
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Prepare TOF and TZD digis for switch to TZD in unpack, event build and reco
  core/data/global/CbmTzdDigi.cxx
  core/data/global/CbmTzdDigi.h
  core/data/tof/CbmTofDigi.cxx
  core/data/tof/CbmTofDigi.h
  sim/detectors/tzd/CbmTzdDigitize.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @n.herrmann, @i.deppner

Add old-style TZD unpacker algo & config encapsulating the TOF algo
  reco/detectors/CMakeLists.txt
  reco/detectors/tof/unpack/CbmTofUnpackAlgo.h
  reco/detectors/tzd/CMakeLists.txt
  reco/detectors/tzd/CbmTzdRecoLinkDef.h
  reco/detectors/tzd/unpack/CbmTzdUnpackAlgo.cxx
  reco/detectors/tzd/unpack/CbmTzdUnpackAlgo.h
  reco/detectors/tzd/unpack/CbmTzdUnpackConfig.cxx
  reco/detectors/tzd/unpack/CbmTzdUnpackConfig.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @n.herrmann, @i.deppner

Convert TOF reco classes to TZD digi as T0 storage (instead of TOF)
  reco/detectors/tof/CbmTofEventClusterizer.cxx
  reco/detectors/tof/CbmTofEventClusterizer.h
  reco/detectors/tof/CbmTofHitMaker.cxx
  reco/detectors/tof/CbmTofHitMaker.h
Owners: @n.herrmann, @i.deppner

Use the TZD unpacker instead of BMon one in Reco steering class
  reco/steer/CMakeLists.txt
  reco/steer/CbmRecoUnpack.cxx
  reco/steer/CbmRecoUnpack.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

switch unpack macro from BMON to TZD
  macro/run/run_unpack_tsa.C
Owners: @f.uhlig, @p.-a.loizeau

[MQ mcbm]: Switch to TZD unpacker and Digis in Unpack device
  MQ/mcbm/CMakeLists.txt
  MQ/mcbm/CbmDeviceUnpack.cxx
  MQ/mcbm/CbmDeviceUnpack.h
Owners: @f.uhlig, @p.-a.loizeau

Changed event-time computation from mean of Tzd digis to earliest Tzd digi in CbmAlgoBuildRawEvents.
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.cxx
Owners: @d.smith

[MQ mcbm]: Switch to TZD Digis in DigiEventSink device
  MQ/mcbm/CbmDeviceDigiEventSink.cxx
  MQ/mcbm/CbmDeviceDigiEventSink.h
Owners: @f.uhlig, @p.-a.loizeau

Added support for new CbmBmonDigi class to CbmAlgoBuildRawEvents and CbmTaskBuildRawEvents. Dropped support for T0 digis in TOF stream.
  MQ/mcbm/CMakeLists.txt
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.cxx
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.h
  reco/eventbuilder/digis/CbmTaskBuildRawEvents.cxx
  reco/eventbuilder/digis/CbmTaskBuildRawEvents.h
Owners: @f.uhlig, @p.-a.loizeau, @d.smith

Updated CbmDeviceBuildDigiEvents and CbmDeviceBuildRawEvents to use CbmTzdDigi.
  MQ/mcbm/CMakeLists.txt
  MQ/mcbm/CbmDeviceBuildDigiEvents.cxx
  MQ/mcbm/CbmDeviceBuildDigiEvents.h
  MQ/mcbm/CbmDeviceBuildRawEvents.cxx
  MQ/mcbm/CbmDeviceBuildRawEvents.h
Owners: @f.uhlig, @p.-a.loizeau

Added event time computation from Bmon digis to CbmAlgoBuildRawEvents.
  MQ/mcbm/CMakeLists.txt
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.cxx
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.h
  reco/eventbuilder/digis/CbmSeedFinderSlidingWindow.cxx
Owners: @f.uhlig, @p.-a.loizeau, @d.smith

Replaced CbmBmonDigi by CbmTzdDigi in CbmAlgoBuildRawEvents and related classes.
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.cxx
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.h
  reco/eventbuilder/digis/CbmSeedFinderSlidingWindow.cxx
  reco/eventbuilder/digis/CbmTaskBuildRawEvents.h
Owners: @d.smith

Switch DigiEvent/DigiData from TOF to TZD digis for T0 + fix online data lib <breaks 2 tasks!>
  algo/data/CMakeLists.txt
  core/data/CMakeLists.txt
  core/data/CbmDataLinkDef.h
  core/data/base/CbmDigiData.h
  core/data/global/CbmTzdDigiData.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Updated CbmTaskBuildEvents, CbmTaskMakeRecoEvents and _GTestEventBuilder to support CbmTzdDigi.
  algo/test/_GTestEventBuilder.cxx
  reco/tasks/CbmTaskBuildEvents.cxx
  reco/tasks/CbmTaskMakeRecoEvents.cxx
  reco/tasks/CbmTaskMakeRecoEvents.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Fix + improve stats per evt/TS/run for debug output in L1GlobalTrackFinder evt mode
  reco/L1/OffLineInterface/CbmL1GlobalFindTracksEvents.cxx
  reco/L1/OffLineInterface/CbmL1GlobalFindTracksEvents.h
  reco/L1/OffLineInterface/CbmL1GlobalTrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

[L1] In CA Trk finder, replace std print for max triplet limit w/ LOG(debug)
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

[L1] convert printout per TS/Evt to LOG, set to debug as default
  reco/L1/CbmL1.cxx
Owners: @se.gorbunov, @v.akishina

Fix name of TZD branch in TaskMakeRecoEvents class
  reco/tasks/CbmTaskMakeRecoEvents.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux
