Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

L1 remove time correction for MUCH hit, correct create_mcbm_geo_setup.C
  macro/run/create_mcbm_geo_setup.C
  reco/L1/CbmL1ReadEvent.cxx
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina

L1: remove time sorting when event is present, remove zero detector hits, bug in global track - duplicated hits
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/OffLineInterface/CbmL1GlobalTrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

update AT version (bug corrected)
  external/InstallAnalysisTree.cmake
Owners: @f.uhlig

L1 fit: change in interfaces
  reco/L1/L1Algo/L1TrackPar.h
  reco/L1/L1Algo/L1TrackParFit.h
Owners: @se.gorbunov, @v.akishina

L1 fit: unify fit routines
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1Hit.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1BranchExtender.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1CloneMerger.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/L1TrackPar.h
  reco/L1/L1Algo/L1TrackParFit.cxx
  reco/L1/L1Algo/L1TrackParFit.h
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1 fit: improve L1Fit interface
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1BranchExtender.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1CloneMerger.cxx
  reco/L1/L1Algo/L1Field.h
  reco/L1/L1Algo/L1Fit.cxx
  reco/L1/L1Algo/L1Fit.h
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1 fit: make L1Fit members private
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1BranchExtender.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1CloneMerger.cxx
  reco/L1/L1Algo/L1Fit.h
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1 fit: remove obsolete files
  reco/L1/CMakeLists.txt
  reco/L1/L1Algo/L1Extrapolation.cxx
  reco/L1/L1Algo/L1Extrapolation.h
  reco/L1/L1Algo/L1Fit.cxx
  reco/L1/L1Algo/L1Fit.h
  reco/L1/L1Algo/L1FitMaterial.cxx
Owners: @se.gorbunov, @v.akishina

L1 fit: rename L1TrackParFit -> L1Fit
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1BranchExtender.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1CloneMerger.cxx
  reco/L1/L1Algo/L1Filtration.h
  reco/L1/L1Algo/L1Fit.cxx
  reco/L1/L1Algo/L1Fit.h
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1 fit: improve ms and energy loss interface
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1BranchExtender.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/L1TrackParFit.cxx
  reco/L1/L1Algo/L1TrackParFit.h
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1 fit: improve extrapolation interface
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1BranchExtender.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1CloneMerger.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/L1TrackParFit.cxx
  reco/L1/L1Algo/L1TrackParFit.h
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1: macosx compilation fix
  reco/KF/CbmKFParticleFinderPID.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1Fit.cxx
Owners: @se.gorbunov, @v.akishina

In STS unpack config, fix flag disabling binning FW in legacy unpckr
  reco/detectors/sts/unpack/CbmStsUnpackConfig.cxx
  reco/detectors/sts/unpack/CbmStsUnpackConfig.h
Owners: @v.friese

In digi evt build task, re-add cleanly digi evt fill loop for TRD
  reco/eventbuilder/digis/CbmTaskBuildRawEvents.cxx
  reco/eventbuilder/digis/CbmTaskBuildRawEvents.h
Owners: @d.smith

[MQ] in DigiEvent Sink, re-add cleanly digi evt fill loop for TRD
  MQ/mcbm/CbmDeviceDigiEventSink.cxx
  MQ/mcbm/CbmDeviceDigiEventSink.h
  MQ/mcbm/runDigiEventSink.cxx
Owners: @f.uhlig, @p.-a.loizeau

Fixes to mCBM 2022 event and reco macros for digievent L1 support
  macro/beamtime/mcbm2022/mcbm_event.C
  macro/beamtime/mcbm2022/mcbm_reco.C
Owners: @f.uhlig, @p.-a.loizeau

[CI] Enable mCBM 2022 L1 reco (was only in Weekly)
  macro/run/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

[mCBM CI] use only 2391 in CI + tune 2022 runtimes & evt nb dep. on CDASH modes
  macro/run/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

In unpack macros, auto map setup also if empty setup name given
  macro/beamtime/mcbm2022/mcbm_unp_event.C
  macro/run/run_unpack_online.C
  macro/run/run_unpack_online_bmon.C
  macro/run/run_unpack_tsa.C
  macro/run/run_unpack_tsa_bmon.C
Owners: @f.uhlig, @p.-a.loizeau

cmake: Use CMAKE_LIBRARY_OUTPUT_DIRECTORY instead of LIBRARY_OUTPUT_PATH.
  CMakeLists.txt
  cmake/modules/CbmMacros.cmake
  cmake/modules/ROOTMacros.cmake
Owners: @f.uhlig

external: Bump xpu version.
  external/CMakeLists.txt
Owners: @f.uhlig

In BuildRawEvent algo, add 3 histos for overlap stats in AllowOverlap mode
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.cxx
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.h
Owners: @d.smith

CA: QA task for tracking input from MuCh, TRD and TOF (v.2)
  core/detectors/tof/CbmTofTrackingInterface.h
  core/qa/CMakeLists.txt
  core/qa/CbmQaEff.cxx
  core/qa/CbmQaEff.h
  core/qa/CbmQaTable.cxx
  core/qa/CbmQaTable.h
  core/qa/CbmQaTask.cxx
  core/qa/CbmQaTask.h
  macro/run/run_reco_qa.C
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Constants.h
  reco/L1/L1Algo/L1Undef.h
  reco/L1/L1LinkDef.h
  reco/L1/catools/CaToolsLinkKey.h
  reco/L1/qa/CbmCaInputQaBase.h
  reco/L1/qa/CbmCaInputQaMuch.cxx
  reco/L1/qa/CbmCaInputQaMuch.h
  reco/L1/qa/CbmCaInputQaTof.cxx
  reco/L1/qa/CbmCaInputQaTof.h
  reco/L1/qa/CbmCaInputQaTrd.cxx
  reco/L1/qa/CbmCaInputQaTrd.h
  reco/L1/qa/CbmCaQaCuts.h
  reco/L1/qa/CbmTofInteraction.cxx
  reco/L1/qa/CbmTofInteraction.h
Owners: @n.herrmann, @i.deppner, @se.gorbunov, @f.uhlig, @p.-a.loizeau, @v.akishina

CA: QA task for tracking input from STS (v.2)
  core/qa/CMakeLists.txt
  core/qa/CbmQaBaseLinkDef.h
  core/qa/CbmQaCanvas.h
  core/qa/CbmQaHist.h
  core/qa/CbmQaTask.cxx
  core/qa/CbmQaTask.h
  macro/run/run_reco_qa.C
  reco/L1/CMakeLists.txt
  reco/L1/CbmCaMCModule.h
  reco/L1/L1LinkDef.h
  reco/L1/qa/CbmCaInputQaSts.cxx
  reco/L1/qa/CbmCaInputQaSts.h
  reco/L1/qa/CbmCaQaCuts.h
  reco/L1/qa/CbmTrackerInputQaTrd.cxx
  reco/L1/qa/CbmTrackingInputQaSts.cxx
Owners: @se.gorbunov, @f.uhlig, @p.-a.loizeau, @v.akishina

QA: Improvements to CbmQaEff (integrated efficiency and drawing methods)
  core/qa/CbmQaEff.cxx
  core/qa/CbmQaEff.h
  macro/qa/test_qa.C
  reco/L1/CMakeLists.txt
  reco/L1/qa/CbmCaInputQaMuch.cxx
  reco/L1/qa/CbmCaInputQaSts.cxx
  reco/L1/qa/CbmCaInputQaTof.cxx
  reco/L1/qa/CbmCaInputQaTof.h
  reco/L1/qa/CbmCaInputQaTrd.cxx
  reco/L1/qa/CbmCaInputQaTrd.h
  reco/L1/qa/CbmCaQaCuts.h
Owners: @se.gorbunov, @f.uhlig, @p.-a.loizeau, @v.akishina

[CI] Increase timeout for mCBM weekly reco tests
  macro/run/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

T0 introduced to AT converter
  analysis/common/analysis_tree_converter/CbmRecEventHeaderConverter.cxx
  analysis/common/analysis_tree_converter/CbmRecEventHeaderConverter.h
  analysis/common/analysis_tree_converter/CbmSimEventHeaderConverter.cxx
  analysis/common/analysis_tree_converter/CbmSimEventHeaderConverter.h
  analysis/common/analysis_tree_converter/CbmTofHitsConverter.cxx
Owners: @i.selyuzhenkov

Fix operator++ for moduleId enum
  core/data/CbmDefs.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

L1: correction to mc event time in performance
  reco/L1/CbmL1.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
Owners: @se.gorbunov, @v.akishina

L1: macosx compilation fix
  reco/L1/CbmL1Performance.cxx
Owners: @se.gorbunov, @v.akishina

L1 fit: unify track guess routines
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1Fit.cxx
  reco/L1/L1Algo/L1Fit.h
  reco/L1/L1Algo/L1TrackFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1: remove a hardcoded cut for mcbm/global tracker
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1 fit: introduce a new track parameter vi (not yet in use)
  reco/L1/CMakeLists.txt
  reco/L1/L1Algo/L1BranchExtender.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1CloneMerger.cxx
  reco/L1/L1Algo/L1Fit.cxx
  reco/L1/L1Algo/L1Fit.h
  reco/L1/L1Algo/L1Track.h
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/L1TrackPar.cxx
  reco/L1/L1Algo/L1TrackPar.h
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1 fit: switch to the new track model in the final fit
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/CbmL1Track.h
  reco/L1/CbmL1TrackPar.h
  reco/L1/L1Algo/L1BranchExtender.cxx
  reco/L1/L1Algo/L1CloneMerger.cxx
  reco/L1/L1Algo/L1Fit.cxx
  reco/L1/L1Algo/L1Fit.h
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/L1TrackPar.h
Owners: @se.gorbunov, @v.akishina

Improve build system
  CMakeLists.txt
  cmake/modules/CbmMacros.cmake
  cmake/modules/ROOTMacros.cmake
Owners: @f.uhlig

Fix BMon not being selected by real event builder in copies of main macro
  macro/L1/run_reco_L1global.C
  macro/L1/run_reco_LITglobal.C
  macro/mcbm/mcbm_reco.C
  macro/mcbm/mcbm_reco_event_tb_nh.C
  macro/rich/run/run_reco.C
Owners: @f.uhlig, @p.-a.loizeau, @s.lebedev

T0 fix for real EB in json chain
  macro/PWG/common/production/run_reco_json_config.C
Owners: @f.uhlig, @p.-a.loizeau

Fix BMon not being selected by real event builder in main CBM simulations
  macro/run/run_reco.C
Owners: @f.uhlig, @p.-a.loizeau

Fix weekly tests
  macro/PWG/common/production/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

Add safety check for empty match in TrdHitProducerQa, fix #2736
  reco/detectors/trd/qa/CbmTrdHitProducerQa.cxx
Owners: @a.bercuci, @p.kaehler

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux
