Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux

add support for multiple CRI boards in the TRD2D detectors in run unpack macros
  macro/run/run_unpack_online.C
  macro/run/run_unpack_tsa.C
Owners: @f.uhlig, @p.-a.loizeau

New mStsTimeWalkPar file vs T0(2160)
  macro/beamtime/mcbm2022/mStsAsicTimeWalk.par
Owners: @f.uhlig, @p.-a.loizeau

[MQ] Add BMon monitor device
  MQ/mcbm/CMakeLists.txt
  MQ/mcbm/CbmDeviceBmonMonitor.cxx
  MQ/mcbm/CbmDeviceBmonMonitor.h
  MQ/mcbm/runBmonMonitor.cxx
  MQ/mcbm/startBmonMoni2022.sh.in
  MQ/source/CbmMQTsSamplerRepReq.cxx
  MQ/source/CbmMQTsSamplerRepReq.h
Owners: @f.uhlig, @p.-a.loizeau

[MQ] in event builder device, add option to skip sending the events + fixes
  MQ/mcbm/CbmDeviceBuildDigiEvents.cxx
  MQ/mcbm/CbmDeviceBuildDigiEvents.h
  MQ/mcbm/runBuildDigiEvents.cxx
Owners: @f.uhlig, @p.-a.loizeau

deactivate hist generation + new calib selection
  macro/beamtime/mcbm2022/mcbm_event_reco.C
Owners: @f.uhlig, @p.-a.loizeau

[TOF] changes to calibrator and event clusterizer from NH version
  reco/detectors/tof/CbmTofCalibrator.cxx
  reco/detectors/tof/CbmTofCalibrator.h
  reco/detectors/tof/CbmTofEventClusterizer.cxx
  reco/detectors/tof/CbmTofEventClusterizer.h
Owners: @n.herrmann, @i.deppner

[TOF] changes to TOF tracking from NH version
  reco/detectors/tof/CbmTofExtendTracks.cxx
  reco/detectors/tof/CbmTofFindTracks.cxx
  reco/detectors/tof/CbmTofFindTracks.h
  reco/detectors/tof/CbmTofTrackFinderNN.cxx
  reco/detectors/tof/CbmTofTrackFinderNN.h
  reco/detectors/tof/CbmTofTrackletTools.cxx
  reco/detectors/tof/CbmTofTrackletTools.h
Owners: @n.herrmann, @i.deppner

Fix/adapt to the new 16ch diamond while keeping old data support in par and macro files
  macro/beamtime/.gitignore
  macro/beamtime/mcbm2022/mBmonCriPar.par
  macro/beamtime/mcbm2022/mTofCriParIron_withBmon.par
  macro/run/run_unpack_online_bmon.C
  macro/run/run_unpack_tsa_bmon.C
Owners: @f.uhlig, @p.-a.loizeau

[TOF] Fix init with wrong data type in CbmTofDigiBdfPar::GetTrackingStation
  core/detectors/tof/CbmTofDigiBdfPar.cxx
Owners: @n.herrmann, @i.deppner

[MQ] in unpacker device, synchronize parameter settigns with unpack macros (fix TRD2D warning)
  MQ/mcbm/CbmDeviceUnpack.cxx
Owners: @f.uhlig, @p.-a.loizeau

[MQ] In ReqRep sampler, fix missing HWM propag. and too verbose missed TS detection
  MQ/source/CbmMQTsSamplerRepReq.cxx
Owners: @f.uhlig, @p.-a.loizeau

[MQ] in DigiEventSink, add flag to control Missing TS empty writing if consecutive check is ON, false by default
  MQ/mcbm/CbmDeviceDigiEventSink.cxx
  MQ/mcbm/CbmDeviceDigiEventSink.h
  MQ/mcbm/runDigiEventSink.cxx
Owners: @f.uhlig, @p.-a.loizeau

[MQ] in sbatch scripts, add usage of histo suffixes when relevant
  macro/beamtime/mcbm2022/online/mq_processing_node_dev.sbatch
  macro/beamtime/mcbm2022/online/mq_sink.sbatch
  macro/beamtime/mcbm2022/online/mq_source.sbatch
Owners: @f.uhlig, @p.-a.loizeau

[MQ] Sbatch scripts fixes following investigation of problems seen online in Au runs
  macro/beamtime/mcbm2022/online/HowTo.md
  macro/beamtime/mcbm2022/online/create_log_folder_dev.sbatch
  macro/beamtime/mcbm2022/online/mq_processing_node_array.sbatch
  macro/beamtime/mcbm2022/online/mq_processing_node_dev.sbatch
  macro/beamtime/mcbm2022/online/mq_sink.sbatch
  macro/beamtime/mcbm2022/online/replay.sbatch
  macro/beamtime/mcbm2022/online/start_topology_dev.sh
Owners: @f.uhlig, @p.-a.loizeau

[MQ] add slurm and sh scripts for 2022 mFLES online + install them
  macro/beamtime/mcbm2022/CMakeLists.txt
  macro/beamtime/mcbm2022/online/.gitignore
  macro/beamtime/mcbm2022/online/HowTo.md
  macro/beamtime/mcbm2022/online/create_log_folder.sbatch
  macro/beamtime/mcbm2022/online/mq_builders.sbatch
  macro/beamtime/mcbm2022/online/mq_histoserv.sbatch
  macro/beamtime/mcbm2022/online/mq_parserv.sbatch
  macro/beamtime/mcbm2022/online/mq_processing_node.sbatch
  macro/beamtime/mcbm2022/online/mq_processing_node_array.sbatch
  macro/beamtime/mcbm2022/online/mq_servers.sbatch
  macro/beamtime/mcbm2022/online/mq_shutdown.sbatch
  macro/beamtime/mcbm2022/online/mq_sink.sbatch
  macro/beamtime/mcbm2022/online/mq_source.sbatch
  macro/beamtime/mcbm2022/online/mq_unpackers.sbatch
  macro/beamtime/mcbm2022/online/start_topology.sh
  macro/beamtime/mcbm2022/online/start_topology_array.sh
  macro/beamtime/mcbm2022/online/start_topology_servers.sh
  macro/beamtime/mcbm2022/online/stop_topology.sh
Owners: @f.uhlig, @p.-a.loizeau

[MQ] in DigiEventSink, add options to set root file max size and to disable file compression
  MQ/mcbm/CbmDeviceDigiEventSink.cxx
  MQ/mcbm/CbmDeviceDigiEventSink.h
  MQ/mcbm/runDigiEventSink.cxx
Owners: @f.uhlig, @p.-a.loizeau

[MQ] Fix bugs in DigiEventSink device
  MQ/mcbm/CbmDeviceDigiEventSink.cxx
  MQ/mcbm/CbmDeviceDigiEventSink.h
Owners: @f.uhlig, @p.-a.loizeau

[MQ] Add monitoring histogram in DigiEventSink
  MQ/mcbm/CMakeLists.txt
  MQ/mcbm/CbmDeviceDigiEventSink.cxx
  MQ/mcbm/CbmDeviceDigiEventSink.h
Owners: @f.uhlig, @p.-a.loizeau

[MQ] in RepReqSampler and DigiEventSink, add option adding suffix to histos name and folder
  MQ/mcbm/CbmDeviceBuildDigiEvents.cxx
  MQ/mcbm/CbmDeviceDigiEventSink.cxx
  MQ/mcbm/CbmDeviceDigiEventSink.h
  MQ/mcbm/runDigiEventSink.cxx
  MQ/source/CbmMQTsSamplerRepReq.cxx
  MQ/source/CbmMQTsSamplerRepReq.h
  MQ/source/runTsSamplerRepReq.cxx
Owners: @f.uhlig, @p.-a.loizeau

[MQ] Devices fixes following investigation of problems seen online in Au runs
  MQ/mcbm/CbmDeviceBuildDigiEvents.cxx
  MQ/mcbm/CbmDeviceBuildDigiEvents.h
  MQ/mcbm/CbmDeviceDigiEventSink.cxx
  MQ/mcbm/CbmDeviceDigiEventSink.h
  MQ/mcbm/runBuildDigiEvents.cxx
  MQ/mcbm/runDigiEventSink.cxx
Owners: @f.uhlig, @p.-a.loizeau

[MQ] In histo server device, save histos to root file on shutdown (from NH changes)
  MQ/histoServer/CbmMqHistoServer.cxx
  MQ/histoServer/CbmMqHistoServer.h
Owners: @f.uhlig, @p.-a.loizeau

Extend help section for CVMFS installation on Debian 10
  autoinstall_framework.sh
Owners: none

[BMon] in Tof unpack monitor, use vector as input for the SetBmonChannelMap
  reco/detectors/tof/unpack/CbmTofUnpackMonitor.cxx
  reco/detectors/tof/unpack/CbmTofUnpackMonitor.h
Owners: @n.herrmann, @i.deppner

Fix segfault on exit in CbmDigitization: source deletion already/also in FairRootManager
  sim/response/base/CbmDigitization.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

In unpack monitors, protect hist/canv creation from current root folder pb
  reco/detectors/much/unpack/CbmMuchUnpackMonitor.cxx
  reco/detectors/rich/unpack/CbmRichUnpackMonitor.cxx
  reco/detectors/sts/unpack/CbmStsUnpackConfig.cxx
  reco/detectors/sts/unpack/CbmStsUnpackMonitor.cxx
  reco/detectors/tof/unpack/CbmTofUnpackMonitor.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackFaspMonitor.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackMonitor.cxx
Owners: @v.singhal, @s.lebedev, @v.friese, @n.herrmann, @i.deppner, @a.bercuci, @p.kaehler

In StsParAsic/Module, rem move methods + avoid storing TF1 in ROOT global list of fctns
  core/detectors/sts/CbmStsParAsic.cxx
  core/detectors/sts/CbmStsParAsic.h
  core/detectors/sts/CbmStsParModule.cxx
  core/detectors/sts/CbmStsParModule.h
Owners: @v.friese

Fix segfault at exit of unpacking macros
  macro/beamtime/mcbm2022/mcbm_unp_event.C
  macro/run/.gitignore
  macro/run/run_unpack_online.C
  macro/run/run_unpack_online_bmon.C
  macro/run/run_unpack_tsa.C
  macro/run/run_unpack_tsa_bmon.C
  reco/steer/CbmRecoUnpack.h
  reco/steer/CbmSourceTsArchive.h
Owners: @f.uhlig, @p.-a.loizeau, @v.friese

Added segmentation fault error condition to cmake tests.
  macro/reco/CMakeLists.txt
  macro/run/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

Don't store function in the global list of functions
  sim/response/base/CbmMCInputSet.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

In TOF unpacker algo, add count of hit message rejected due to bad epoch + final printout
  reco/detectors/tof/unpack/CbmTofUnpackAlgo.cxx
  reco/detectors/tof/unpack/CbmTofUnpackAlgo.h
Owners: @n.herrmann, @i.deppner

Integrated 2022 MUCH parameters into MuchReadoutConfig.
  algo/detectors/much/MuchReadoutConfig.cxx
  algo/detectors/much/MuchReadoutConfig.h
  algo/detectors/much/UnpackMuch.h
Owners: none

Started to implement new Much unpacker in algo namespace.
  algo/CMakeLists.txt
  algo/detectors/much/MuchReadoutConfig.cxx
  algo/detectors/much/MuchReadoutConfig.h
  algo/detectors/much/UnpackMuch.cxx
  algo/detectors/much/UnpackMuch.h
Owners: none

Started to integrate algo::UnpackMuch into CbmTaskUnpack.
  algo/detectors/much/MuchReadoutConfig.cxx
  algo/detectors/much/MuchReadoutConfig.h
  algo/detectors/much/UnpackMuch.cxx
  algo/detectors/much/UnpackMuch.h
  reco/tasks/CMakeLists.txt
  reco/tasks/CbmTaskUnpack.cxx
  reco/tasks/CbmTaskUnpack.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

CbmTaskUnpack(): Added data format assert() statement for MUCH.
  reco/tasks/CbmTaskUnpack.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Included CreateMuchAddress() in MuchReadoutConfig.
  algo/detectors/much/MuchReadoutConfig.cxx
  algo/detectors/much/MuchReadoutConfig.h
Owners: none

Unpack Much: Applied Epoch cycle fix. Fixed MacOS compilation (variable-sized array). Fixed missing Elink parameters.
  algo/detectors/much/MuchReadoutConfig.h
  algo/detectors/much/UnpackMuch.cxx
  reco/tasks/CbmTaskUnpack.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Ported MUCH unpacker logic to UnpackMuch.
  algo/detectors/much/MuchReadoutConfig.cxx
  algo/detectors/much/MuchReadoutConfig.h
  algo/detectors/much/UnpackMuch.cxx
Owners: none

MuchReadoutConfig: Started to implement address map initialization.
  algo/detectors/much/MuchReadoutConfig.cxx
  algo/detectors/much/MuchReadoutConfig.h
Owners: none

Clean build system
  CMakeLists.txt
  CbmRoot_test.cmake
  analysis/PWGDIL/dielectron/papaframework/CMakeLists.txt
  analysis/PWGDIL/dielectron/papaframework/PairAnalysisHistos.h
  fles/cosy2019/CMakeLists.txt
  fles/flestools/CMakeLists.txt
  fles/mcbm2018/CMakeLists.txt
  fles/star2019/CMakeLists.txt
Owners: @a_meye37_AT_uni-muenster.de, @f.uhlig, @p.-a.loizeau, @n.herrmann, @i.deppner

Clean build system
  CMakeLists.txt
  cmake/modules/CbmMacros.cmake
Owners: @f.uhlig
