Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

Mask crash dumps and unpack out in main and run gitignore files
  .gitignore
  macro/run/.gitignore
Owners: @f.uhlig, @p.-a.loizeau

[MQ] In digi evt sink, add an option to bypass the buffer to write TS in order with no holes
  MQ/histoServer/CbmMqHistoServer.cxx
  MQ/mcbm/CbmDeviceDigiEventSink.cxx
  MQ/mcbm/CbmDeviceDigiEventSink.h
  MQ/mcbm/runDigiEventSink.cxx
  MQ/mcbm/startBuildRawEvents2022.sh.in
Owners: @f.uhlig, @p.-a.loizeau

Add data class + unpacking macro for the SIS18 timing events
  core/data/CMakeLists.txt
  core/data/DataLinkDef.h
  core/data/raw/AccDataSis18.cxx
  core/data/raw/AccDataSis18.h
  macro/beamtime/mcbm2022/UnpackTimingSis18.C
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

[Evt Builder] Add selection with min nb of fired layers in Digi Evt builder, TOF only for now
  core/data/tof/CbmTofAddress.cxx
  core/data/tof/CbmTofAddress.h
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.cxx
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.h
Owners: @n.herrmann, @i.deppner, @d.smith

[mTOF,mBmon] In unpack macro and device, prepare support for different mTOF maps for C, Fe and Ur files
  MQ/mcbm/CbmDeviceUnpack.cxx
  macro/beamtime/mcbm2022/mTofCriParCarbon.par
  macro/beamtime/mcbm2022/mTofCriParIron.par
  macro/beamtime/mcbm2022/mTofCriParUranium.par
  macro/run/run_unpack_tsa.C
Owners: @f.uhlig, @p.-a.loizeau

[MQ] Add Bmon and Much support to unpack and event building + various fixes and improvements
  MQ/mcbm/CMakeLists.txt
  MQ/mcbm/CbmDeviceBuildDigiEvents.cxx
  MQ/mcbm/CbmDeviceBuildDigiEvents.h
  MQ/mcbm/CbmDeviceUnpack.cxx
  MQ/mcbm/CbmDeviceUnpack.h
  MQ/mcbm/runBuildDigiEvents.cxx
  MQ/mcbm/runUnpack.cxx
  MQ/mcbm/startBuildRawEvents2022.sh.in
  MQ/parmq/ParameterMQServer.cxx
Owners: @f.uhlig, @p.-a.loizeau

[MQ] In startBuildRawEvents2022.sh, various improvement + add Add selection with min nb of fired TOF RPC
  MQ/mcbm/startBuildRawEvents2022.sh.in
Owners: @f.uhlig, @p.-a.loizeau

[Evt Builder] In AlgoBuildRawEvent, add STS support in layers nb cut
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.cxx
Owners: @d.smith

[MQ] In startBuildRawEvents2022.sh, add STS support in layers nb cut
  MQ/mcbm/startBuildRawEvents2022.sh.in
Owners: @f.uhlig, @p.-a.loizeau

[mCBM] Add offsets for 2160 in unpack macro + dt plotting macros
  macro/beamtime/mcbm2022/pulser_dt.C
  macro/beamtime/mcbm2022/pulser_dt_full.C
  macro/run/run_unpack_tsa.C
Owners: @f.uhlig, @p.-a.loizeau

[mMUCH] Use proper parameter file for runs 2060 to 2062 in main unpack macro
  macro/run/run_unpack_tsa.C
Owners: @f.uhlig, @p.-a.loizeau

Add autoset of setup based on run ID for 03/22 beams in macro + MQ
  MQ/mcbm/startBuildRawEvents2022.sh.in
  macro/run/run_unpack_online.C
  macro/run/run_unpack_online_bmon.C
  macro/run/run_unpack_tsa.C
  macro/run/run_unpack_tsa_bmon.C
Owners: @f.uhlig, @p.-a.loizeau

[MQ] Fixes for memory leaks
  MQ/histoServer/CbmMqHistoServer.cxx
  MQ/mcbm/CbmDeviceBuildDigiEvents.cxx
  MQ/mcbm/CbmDeviceDigiEventSink.cxx
  MQ/mcbm/CbmDeviceEventSink.cxx
  MQ/mcbm/CbmDeviceUnpack.cxx
  MQ/source/CbmMQTsSamplerRepReq.cxx
  MQ/source/CbmMQTsSamplerRepReq.h
Owners: @f.uhlig, @p.-a.loizeau

[mMUCH] fix mapping of a few pads for MUCH RPC for runs after 2062
  macro/beamtime/mcbm2022/mMuchPar.par
Owners: @f.uhlig, @p.-a.loizeau

L1: bugfix in performance file name
  reco/L1/CbmL1.cxx
Owners: @se.gorbunov, @v.akishina

update of the material budget macros
  macro/mcbm/matbudget_ana_trd.C
  macro/mcbm/matbudget_sim.C
Owners: @f.uhlig, @p.-a.loizeau

L1: skip stations before the target
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1Algo: replaced preproc. macro USE_RL_TABLE with constexpr flag L1Parameters::kIfUseRadLengthTable
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1Algo: replaced THitI, TStripI typedefs with L1HitIndex_t, L1StripIndex_t, respectively; changed verbosity for L1Station::ToString function in L1Algo::Init()
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1Hit.h
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1AlgoTBB.h
  reco/L1/L1Algo/L1BaseStationInfo.cxx
  reco/L1/L1Algo/L1Branch.h
  reco/L1/L1Algo/L1CAMergeClones.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Def.h
  reco/L1/L1Algo/L1Grid.cxx
  reco/L1/L1Algo/L1Grid.h
  reco/L1/L1Algo/L1Hit.h
  reco/L1/L1Algo/L1HitArea.h
  reco/L1/L1Algo/L1HitsSortHelper.cxx
  reco/L1/L1Algo/L1HitsSortHelper.h
  reco/L1/L1Algo/L1Station.cxx
  reco/L1/L1Algo/L1TrackExtender.cxx
  reco/L1/L1Algo/L1Triplet.h
  reco/L1/L1Algo/utils/L1AlgoDraw.cxx
  reco/L1/L1Algo/utils/L1AlgoDraw.h
  reco/L1/L1Algo/utils/L1AlgoEfficiencyPerformance.h
  reco/L1/L1Algo/utils/L1AlgoPulls.cxx
  reco/L1/L1Algo/utils/L1AlgoPulls.h
  reco/L1/L1AlgoInputData.cxx
  reco/L1/L1AlgoInputData.h
Owners: @se.gorbunov, @v.akishina

L1Algo: added documentation to L1AlgoInputData class
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1AlgoInputData.cxx
  reco/L1/L1AlgoInputData.h
Owners: @se.gorbunov, @v.akishina

L1Algo: minor documentation updates
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CAIteration.cxx
  reco/L1/L1Algo/L1CAIteration.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/L1Algo/L1Track.h
Owners: @se.gorbunov, @v.akishina

L1Algo: new station init is applied
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/CbmL1TrackFitter.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CAMergeClones.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Filtration.h
  reco/L1/L1Algo/L1Fit.h
  reco/L1/L1Algo/L1FitMaterial.h
  reco/L1/L1Algo/L1TrackExtender.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/utils/L1AlgoDraw.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1Algo: geo vector was removed from init
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1TrackExtender.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1Algo: added fTrackingLevel, fGhostSuppression and fMomentumCutOff fields initialization
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
Owners: @se.gorbunov, @v.akishina

L1Algo: fMinLevelTripletStart iteration added
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CAIteration.cxx
  reco/L1/L1Algo/L1CAIteration.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1Algo: removed direct initialization of target position
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1TrackExtender.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1Algo: added fieldStatus field to the L1Station structure
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1BaseStationInfo.cxx
  reco/L1/L1Algo/L1BaseStationInfo.h
  reco/L1/L1Algo/L1Station.cxx
  reco/L1/L1Algo/L1Station.h
Owners: @se.gorbunov, @v.akishina

L1Algo: updated geometry init for MuCh, TRD and TOF
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1BaseStationInfo.cxx
  reco/L1/L1Algo/L1BaseStationInfo.h
Owners: @se.gorbunov, @v.akishina

L1Algo: removed geo vector from CbmL1::Init()
  reco/L1/CbmL1.cxx
Owners: @se.gorbunov, @v.akishina

code format fix
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1Hit.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1AlgoTBB.h
  reco/L1/L1Algo/L1CAIteration.cxx
  reco/L1/L1Algo/L1CAIteration.h
  reco/L1/L1Algo/L1CAMergeClones.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Def.h
  reco/L1/L1Algo/L1Filtration.h
  reco/L1/L1Algo/L1Grid.cxx
  reco/L1/L1Algo/L1Grid.h
  reco/L1/L1Algo/L1Hit.h
  reco/L1/L1Algo/L1HitArea.h
  reco/L1/L1Algo/L1HitsSortHelper.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/L1Algo/L1Station.cxx
  reco/L1/L1Algo/L1Station.h
  reco/L1/L1Algo/L1Track.h
  reco/L1/L1Algo/L1Triplet.h
  reco/L1/L1Algo/utils/L1AlgoDraw.cxx
  reco/L1/L1Algo/utils/L1AlgoDraw.h
  reco/L1/L1AlgoInputData.cxx
  reco/L1/L1AlgoInputData.h
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1Algo: added possibility for active stations selection
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1BaseStationInfo.cxx
  reco/L1/L1Algo/L1BaseStationInfo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
Owners: @se.gorbunov, @v.akishina

L1Algo: added possibility for active stations selection (part 2)
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1Algo: bugfix
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1InitManager.h
Owners: @se.gorbunov, @v.akishina

L1Algo: reorganised station number containers in L1InitManager
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

codeformat bugfix
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1Algo: unified reading mat budget tables (except TRD)
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
Owners: @se.gorbunov, @v.akishina

L1Algo: replaced ad-hoc TRD station skipping for mcbm_beam_2021_07_surveyed setup with accunting it as inactive (+ bug fixed); cleaned up stations management in MCPoint matching
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1ReadEvent.cxx
Owners: @se.gorbunov, @v.akishina

L1Algo: unified code for material map reading (TRD is also included)
  reco/L1/CbmL1.cxx
Owners: @se.gorbunov, @v.akishina

codeformat fix
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1ReadEvent.cxx
Owners: @se.gorbunov, @v.akishina

Add HttpServer and configuration to cbmreco_fairrun
  reco/app/cbmreco_fairrun/Application.cxx
  reco/app/cbmreco_fairrun/ProgramOptions.cxx
  reco/app/cbmreco_fairrun/ProgramOptions.h
  reco/tasks/CbmReco.cxx
  reco/tasks/CbmReco.h
  reco/tasks/CbmRecoConfigExample.yaml
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux
