Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux

Remove leftovers which were needed for ROOT 5
  cmake/modules/ROOTMacros.cmake
Owners: @f.uhlig

Improve installation instructions
  README.md
Owners: none

Revise the build environment
  CMakeLists.txt
Owners: none

Revise the build environment
  CbmRoot_test.cmake
  MQ/CMakeLists.txt
  MQ/base/CbmMQDefs.h
  MQ/histoServer/CMakeLists.txt
  MQ/histoServer/CbmHistoServer.cxx
  MQ/mcbm/CMakeLists.txt
  core/base/CMakeLists.txt
  core/base/utils/CbmGeometryUtils.cxx
  macro/CMakeLists.txt
  reco/CMakeLists.txt
  tutorials/TaskToAlgo/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau, @v.friese, @s.lebedev

Revise autoinstall script
  autoinstall_framework.sh
Owners: none

Cleanup CI
  .gitlab-ci.yml
  external/CMakeLists.txt
Owners: @f.uhlig

L1: warnings & bugfix in performance
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1CAMergeClones.cxx
  reco/L1/L1Algo/L1Parameters.cxx
Owners: @se.gorbunov, @v.akishina

update default setup names, number of events and set time based mode as default
  macro/mcbm/mcbm_digi.C
  macro/mcbm/mcbm_reco.C
  macro/mcbm/mcbm_reco_event.C
  macro/mcbm/mcbm_transport.C
Owners: @f.uhlig, @p.-a.loizeau

In mcbm_transport.C, change some commented test tracks for mTOF double stack, refs #2483
  macro/mcbm/mcbm_transport.C
Owners: @f.uhlig, @p.-a.loizeau

Add transport macro and adapt event display macros for CBM at SIS18, refs #2482
  macro/run/eventDisplay.C
  macro/run/run_tra_file_sis18.C
Owners: @f.uhlig, @p.-a.loizeau

CBM at SIS18: correct target position to z = 12.5 cm, refs #2482
  macro/run/run_tra_file_sis18.C
Owners: @f.uhlig, @p.-a.loizeau

Add transport macro for SIS19, refs #2482
  macro/run/run_tra_file_sis19.C
Owners: @f.uhlig, @p.-a.loizeau

Fix in unpacker for incorrectly assigned digi times
  reco/detectors/trd/unpack/CbmTrdUnpackAlgoR.cxx
Owners: @a.bercuci, @p.kaehler

Update mTOF unpack par class + use 2022 par file to support new modules for runs from 2060 on
  core/detectors/tof/CbmMcbm2018TofPar.cxx
  macro/beamtime/mcbm2022/mTofCriPar.par
  macro/run/.gitignore
  macro/run/run_unpack_online.C
  macro/run/run_unpack_tsa.C
Owners: @n.herrmann, @i.deppner, @f.uhlig, @p.-a.loizeau

Unpacking: add BMon unpacking based on TOF one + BMon/TOF monitoring
  core/data/CbmTsEventHeader.cxx
  core/data/CbmTsEventHeader.h
  core/detectors/tof/CbmMcbm2018TofPar.cxx
  core/detectors/tof/CbmMcbm2018TofPar.h
  macro/beamtime/mcbm2022/mBmonCriPar.par
  macro/run/run_unpack_online.C
  macro/run/run_unpack_online_bmon.C
  macro/run/run_unpack_tsa.C
  macro/run/run_unpack_tsa_bmon.C
  reco/detectors/tof/CMakeLists.txt
  reco/detectors/tof/CbmTofRecoLinkDef.h
  reco/detectors/tof/unpack/CbmBmonUnpackConfig.cxx
  reco/detectors/tof/unpack/CbmBmonUnpackConfig.h
  reco/detectors/tof/unpack/CbmTofUnpackAlgo.cxx
  reco/detectors/tof/unpack/CbmTofUnpackAlgo.h
  reco/detectors/tof/unpack/CbmTofUnpackConfig.cxx
  reco/detectors/tof/unpack/CbmTofUnpackConfig.h
  reco/detectors/tof/unpack/CbmTofUnpackMonitor.cxx
  reco/detectors/tof/unpack/CbmTofUnpackMonitor.h
  reco/steer/CbmRecoUnpack.cxx
  reco/steer/CbmRecoUnpack.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @n.herrmann, @i.deppner

[BMon-TOF] Fix time offseting and monitor mapping for Bmon
  reco/detectors/tof/unpack/CbmTofUnpackAlgo.cxx
  reco/detectors/tof/unpack/CbmTofUnpackMonitor.cxx
  reco/detectors/tof/unpack/CbmTofUnpackMonitor.h
Owners: @n.herrmann, @i.deppner

[mTOF,mBmon] Fixes mBmon and mTOF Buc mapping
  core/detectors/tof/CbmMcbm2018TofPar.cxx
  macro/beamtime/mcbm2022/mBmonCriPar.par
  reco/detectors/tof/unpack/CbmTofUnpackAlgo.cxx
  reco/detectors/tof/unpack/CbmTofUnpackMonitor.h
Owners: @n.herrmann, @i.deppner, @f.uhlig, @p.-a.loizeau

[mBmon] Add Tof unpack par Alias for BMon + related flags and conversions
  core/detectors/tof/CbmMcbm2018TofPar.h
  core/detectors/tof/CbmTofBaseLinkDef.h
  core/detectors/tof/CbmTofContFact.cxx
  macro/beamtime/mcbm2022/mBmonCriPar.par
  reco/detectors/tof/unpack/CbmBmonUnpackConfig.cxx
  reco/detectors/tof/unpack/CbmTofUnpackAlgo.cxx
  reco/detectors/tof/unpack/CbmTofUnpackAlgo.h
  reco/detectors/tof/unpack/CbmTofUnpackConfig.cxx
  reco/detectors/tof/unpack/CbmTofUnpackConfig.h
Owners: @n.herrmann, @i.deppner, @f.uhlig, @p.-a.loizeau

[MQ] Fix re-use of same variable for binary dependency list
  MQ/CMakeLists.txt
  MQ/eTOF/CMakeLists.txt
  MQ/histoServer/CMakeLists.txt
  MQ/hitbuilder/CMakeLists.txt
  MQ/mcbm/CMakeLists.txt
  MQ/monitor/CMakeLists.txt
  MQ/parmq/CMakeLists.txt
  MQ/sink/CMakeLists.txt
  MQ/source/CMakeLists.txt
  MQ/sts/CMakeLists.txt
  MQ/unpacker/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau, @n.herrmann, @i.deppner, @v.friese

New unpacker device
  reco/CMakeLists.txt
  reco/mq/CMakeLists.txt
  reco/mq/CbmDevUnpack.cxx
  reco/mq/CbmDevUnpack.h
  reco/mq/runUnpack.cxx
  reco/mq/startUnpack.sh.in
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Integrate reconstruction from timeslice data and from digi data (simulation).
  macro/reco/CMakeLists.txt
  macro/reco/reco_digi.C
  macro/reco/reco_fairroot.C
  macro/reco/reco_ts.C
  reco/tasks/CbmReco.cxx
Owners: @f.uhlig, @p.-a.loizeau, @v.friese

[mRICH] Register histos and canvases in top folder rich
  reco/detectors/rich/unpack/CbmRichUnpackMonitor.cxx
Owners: @s.lebedev

[mMuch] Fix par file setting in unpack algo-conf + fix par file
  macro/beamtime/mcbm2022/mMuchParUpto26032022.par
  reco/detectors/much/unpack/CbmMuchUnpackAlgo.cxx
  reco/detectors/much/unpack/CbmMuchUnpackConfig.cxx
Owners: @f.uhlig, @p.-a.loizeau, @v.singhal

Add MUCH unpacking
  core/data/CbmTsEventHeader.cxx
  core/data/CbmTsEventHeader.h
  core/data/much/CbmMuchDigi.h
  core/detectors/much/CMakeLists.txt
  core/detectors/much/CbmMuchBaseLinkDef.h
  core/detectors/much/CbmMuchContFact.cxx
  core/detectors/much/CbmMuchContFact.h
  core/detectors/much/CbmMuchUnpackPar.cxx
  core/detectors/much/CbmMuchUnpackPar.h
  macro/beamtime/mcbm2022/MonitorMuchBinning.C
  macro/beamtime/mcbm2022/mMuchParMoni.par
  macro/run/run_unpack_online.C
  macro/run/run_unpack_tsa.C
  reco/detectors/much/CMakeLists.txt
  reco/detectors/much/CbmMuchRecoLinkDef.h
  reco/detectors/much/unpack/CbmMuchUnpackAlgo.cxx
  reco/detectors/much/unpack/CbmMuchUnpackAlgo.cxx.org
  reco/detectors/much/unpack/CbmMuchUnpackAlgo.h
  reco/detectors/much/unpack/CbmMuchUnpackConfig.cxx
  reco/detectors/much/unpack/CbmMuchUnpackConfig.h
  reco/detectors/much/unpack/CbmMuchUnpackMonitor.cxx
  reco/detectors/much/unpack/CbmMuchUnpackMonitor.h
  reco/steer/CMakeLists.txt
  reco/steer/CbmRecoUnpack.cxx
  reco/steer/CbmRecoUnpack.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @v.singhal

[mSTS][mMUCH] Fixes to get the monitors running
  reco/detectors/much/unpack/CbmMuchUnpackAlgo.cxx
  reco/detectors/much/unpack/CbmMuchUnpackMonitor.cxx
  reco/detectors/much/unpack/CbmMuchUnpackMonitor.h
  reco/detectors/sts/unpack/CbmStsUnpackMonitor.cxx
  reco/detectors/sts/unpack/CbmStsUnpackMonitor.h
Owners: @v.singhal, @v.friese

Add missing dict for error msg vector + improve error flag handling in mSTS unp
  core/data/DataLinkDef.h
  reco/detectors/sts/unpack/CbmStsUnpackAlgo.cxx
  reco/detectors/sts/unpack/CbmStsUnpackMonitor.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

[mSTS] Add new parameter files for 2022
  macro/beamtime/mcbm2022/mStsAsicTimeWalk.par
  macro/beamtime/mcbm2022/mStsPar.par
  macro/run/run_unpack_online.C
  macro/run/run_unpack_tsa.C
Owners: @f.uhlig, @p.-a.loizeau

[mMUCH] In unp algo, do not print address warning for pulser digis
  reco/detectors/much/unpack/CbmMuchUnpackAlgo.cxx
Owners: @v.singhal

[mMUCH] Added Pulser branch support and new Par File with Par File setter in MuchConfig
  macro/beamtime/mcbm2022/mMuchPar.par
  macro/beamtime/mcbm2022/mMuchParUpto26032022.par
  macro/run/much_run_unpack_tsa.C
  reco/detectors/much/unpack/CbmMuchUnpackAlgo.cxx
  reco/detectors/much/unpack/CbmMuchUnpackAlgo.cxx.org
  reco/detectors/much/unpack/CbmMuchUnpackAlgo.h
  reco/detectors/much/unpack/CbmMuchUnpackConfig.h
Owners: @f.uhlig, @p.-a.loizeau, @v.singhal

speed up the TRD2D hit reco by making TGraph fit an option for improved perfs
  reco/detectors/trd/CbmTrdClusterFinder.h
  reco/detectors/trd/CbmTrdHitProducer.cxx
  reco/detectors/trd/CbmTrdModuleRec2D.cxx
  reco/detectors/trd/CbmTrdModuleRec2D.h
Owners: @a.bercuci, @p.kaehler

add temporary DAQ time calibration for FASP
  macro/beamtime/mcbm2022/check_timing_any.C
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.cxx
Owners: @f.uhlig, @p.-a.loizeau, @a.bercuci, @p.kaehler

[TRD1D unp] Add missing transmission of System offset from config to algo
  reco/detectors/trd/unpack/CbmTrdUnpackConfig.cxx
Owners: @a.bercuci, @p.kaehler

increase verbosity and time evolution time resolution
  fles/mcbm2018/tasks/CbmMcbmCheckTimingAlgo.cxx
  fles/mcbm2018/tasks/CbmMcbmCheckTimingAlgo.h
Owners: @f.uhlig, @p.-a.loizeau

[mSTS][mMUCH] Fixes to get the evolution plots in the monitors running
  reco/detectors/much/unpack/CbmMuchUnpackAlgo.cxx
  reco/detectors/much/unpack/CbmMuchUnpackAlgo.h
  reco/detectors/much/unpack/CbmMuchUnpackMonitor.cxx
  reco/detectors/much/unpack/CbmMuchUnpackMonitor.h
  reco/detectors/sts/unpack/CbmStsUnpackAlgo.cxx
  reco/detectors/sts/unpack/CbmStsUnpackAlgo.h
  reco/detectors/sts/unpack/CbmStsUnpackMonitor.cxx
  reco/detectors/sts/unpack/CbmStsUnpackMonitor.h
Owners: @v.singhal, @v.friese

Switch VM runtime
  .gitlab-ci.yml
Owners: none

Add trd2d support + much digi flag autoset + per det plot and canvases in AlgoBuildRawEvent
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.cxx
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.h
Owners: @d.smith

[Evt Builder] Remove extendable axis in histos of CbmAlgoBuildRawEvents as cannot be merged in MQ
  reco/eventbuilder/digis/CbmAlgoBuildRawEvents.cxx
  reco/steer/CbmRecoUnpack.cxx
Owners: @d.smith, @f.uhlig, @v.friese, @p.-a.loizeau

[MQ] slightly improve DigiEventSink by copying blocks of digis instead of looping through indices
  MQ/mcbm/CbmDeviceDigiEventSink.cxx
  core/data/CbmEvent.cxx
  core/data/CbmEvent.h
Owners: @f.uhlig, @p.-a.loizeau, @v.friese

update TRD2D offset wrt T0
  macro/run/run_unpack_tsa.C
Owners: @f.uhlig, @p.-a.loizeau

[MQ] Add selection with min nb of fired layers in Digi Evt builder device
  MQ/mcbm/CbmDeviceBuildDigiEvents.cxx
  MQ/mcbm/CbmDeviceBuildDigiEvents.h
  MQ/mcbm/runBuildDigiEvents.cxx
Owners: @f.uhlig, @p.-a.loizeau
