Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

Trigger fatal if Match invalid in CbmMatchRecoToMC::CbmMatchRecoToMC::MatchClusters, #2737
  core/base/CbmMatchRecoToMC.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Use at accessor instead of [] in CbmMatch to throw in case of invalid access, #2003
  core/data/CbmMatch.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

fix format
  reco/detectors/trd/CbmTrdHitProducer.h
  reco/detectors/trd/CbmTrdModuleRec2D.h
Owners: @a.bercuci, @p.kaehler

add phys geo node init to Calib tracker QA
  core/detectors/trd/CbmTrdParModGeo.cxx
  reco/detectors/trd/qa/CbmTrdCalibTracker.cxx
Owners: @a.bercuci, @p.kaehler

add GetSize accessor to account for signal count in TRD2D
  core/data/trd/CbmTrdCluster.cxx
  core/data/trd/CbmTrdCluster.h
Owners: @a.bercuci, @p.kaehler

add hit time synchronization as derived from 2391 run.
  macro/beamtime/mcbm2022/mcbm_event_reco_L1.C
  reco/detectors/trd/CbmTrdClusterFinder.cxx
  reco/detectors/trd/CbmTrdHitProducer.cxx
  reco/detectors/trd/CbmTrdHitProducer.h
  reco/detectors/trd/CbmTrdModuleRec2D.cxx
  reco/detectors/trd/CbmTrdModuleRec2D.h
Owners: @f.uhlig, @p.-a.loizeau, @a.bercuci, @p.kaehler

correct documentation of the FASP word description to match the TRD-2D TDR Addendum
  reco/detectors/trd/unpack/CbmTrdUnpackFaspAlgo.h
Owners: @a.bercuci, @p.kaehler

streamline the usage of TrdParGeo to align it to the rest of parameter sets and to take into account the alignment
  core/detectors/trd/CbmTrdParManager.cxx
  core/detectors/trd/CbmTrdParManager.h
  core/detectors/trd/CbmTrdParModGeo.cxx
  core/detectors/trd/CbmTrdParModGeo.h
  core/detectors/trd/CbmTrdParSetGeo.cxx
  core/detectors/trd/CbmTrdParSetGeo.h
  reco/detectors/trd/CbmTrdClusterFinder.cxx
  reco/detectors/trd/CbmTrdHitProducer.cxx
  reco/detectors/trd/CbmTrdHitProducer.h
Owners: @a.bercuci, @p.kaehler

add hit time offset also here for availability in TOF tracking and the L1 tracking during the Nightly tests
  macro/mcbm/mcbm_reco.C
Owners: @f.uhlig, @p.-a.loizeau

CA: Introduced partial sorting of hits by stations in L1IODataManager
  reco/L1/L1Algo/L1IODataManager.cxx
  reco/L1/L1Algo/L1IODataManager.h
  reco/L1/L1Algo/L1InputData.cxx
  reco/L1/L1Algo/L1InputData.h
Owners: @se.gorbunov, @v.akishina

L1: cleanup in data structures
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1Hit.h
  reco/L1/CbmL1MCTrack.cxx
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Track.h
  reco/L1/L1Algo/utils/L1AlgoEfficiencyPerformance.h
  reco/L1/OffLineInterface/CbmL1GlobalTrackFinder.cxx
  reco/L1/OffLineInterface/CbmL1StsTrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

build hash record and report
  CMakeLists.txt
  cmake/scripts/config.sh.in
Owners: @f.uhlig

Add macosx13 as new system for CI
  .gitlab-ci.yml
Owners: none

BBA: a library and a dummy task for the alignment
  external/CMakeLists.txt
  external/InstallBBA.cmake
  macro/alignment/run_BbaAlignment.C
  reco/CMakeLists.txt
  reco/alignment/CMakeLists.txt
  reco/alignment/CbmAlignmentLinkDef.h
  reco/alignment/CbmBbaAlignmentTask.cxx
  reco/alignment/CbmBbaAlignmentTask.h
Owners: @f.uhlig, @p.-a.loizeau, @v.friese

bba: draft version of the alignmnet task
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.h
  reco/alignment/CMakeLists.txt
  reco/alignment/CbmBbaAlignmentTask.cxx
  reco/alignment/CbmBbaAlignmentTask.h
Owners: @se.gorbunov, @v.akishina, @f.uhlig, @v.friese, @p.-a.loizeau

bba: cosmetics
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
  reco/alignment/CbmBbaAlignmentTask.cxx
  reco/alignment/CbmBbaAlignmentTask.h
Owners: @se.gorbunov, @v.akishina, @f.uhlig, @v.friese, @p.-a.loizeau

LmvmTask: Fix compiler warning.
  analysis/PWGDIL/dielectron/lmvm/LmvmTask.cxx
Owners: @i.selyuzhenkov

TrdCluster: Add missing copy assignment-operator to fix compiler warning.
  core/data/trd/CbmTrdCluster.cxx
  core/data/trd/CbmTrdCluster.h
Owners: @a.bercuci, @p.kaehler

Ignore TSA files in macro/run/data
  macro/run/.gitignore
Owners: @f.uhlig, @p.-a.loizeau

Move the flestool library to core/base/utils
  core/base/CMakeLists.txt
  core/base/utils/flestools/CMakeLists.txt
  core/base/utils/flestools/CbmFlesCanvasTools.cxx
  core/base/utils/flestools/CbmFlesCanvasTools.h
  core/base/utils/flestools/CbmFlesHistosTools.cxx
  core/base/utils/flestools/CbmFlesHistosTools.h
  core/base/utils/flestools/CbmFormatDecHexPrintout.cxx
  core/base/utils/flestools/CbmFormatDecHexPrintout.h
  core/base/utils/flestools/CbmFormatMsBufferPrintout.cxx
  core/base/utils/flestools/CbmFormatMsBufferPrintout.h
  core/base/utils/flestools/CbmFormatMsHeaderPrintout.cxx
  core/base/utils/flestools/CbmFormatMsHeaderPrintout.h
  core/base/utils/flestools/CbmFormatTsPrintout.cxx
  core/base/utils/flestools/CbmFormatTsPrintout.h
  fles/CMakeLists.txt
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @s.lebedev

Remove depr. CbmRawEvent and all related classes and macros
  core/data/CMakeLists.txt
  core/data/CbmDataLinkDef.h
  core/data/CbmRawEvent.cxx
  core/data/CbmRawEvent.h
  macro/beamtime/mcbm2021/run_reco_mcbm_nh.C
  macro/run/run_reco_mcbm.C
  reco/eventbuilder/CMakeLists.txt
  reco/eventbuilder/CbmEventBuilderLinkDef.h
  reco/eventbuilder/digis/CbmEvbuildRawAlgo.cxx
  reco/eventbuilder/digis/CbmEvbuildRawAlgo.h
  reco/eventbuilder/digis/CbmEvbuildRawTask.cxx
  reco/eventbuilder/digis/CbmEvbuildRawTask.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @d.smith

Set nb TRD stations in QA macro for SIS300, fixes warning in weekly tests
  macro/run/run_qa.C
  reco/detectors/trd/qa/CbmTrdHitProducerQa.cxx
Owners: @f.uhlig, @p.-a.loizeau, @a.bercuci, @p.kaehler

Remove usage of sprintf
  core/detectors/trd/CbmTrdRadiator.cxx
  core/eventdisplay/CbmRecoTracks.cxx
  fles/mcbm2018/unpacker/CbmMcbm2018UnpackerUtilRich2020.cxx
  reco/detectors/trd/pid/CbmTrdElectronsTrainAnn.cxx
  reco/tracking/lx/CalcStats/CalcStats.cxx
  reco/tracking/lx/GenNoiseElectrons/GenNoiseElectrons.cxx
  reco/tracking/lx/TBBinned/LxTBTask.cxx
  reco/tracking/lx/TBBinned/LxTBTrdTask.cxx
  sim/detectors/much/CbmGeoMuch.cxx
  sim/detectors/sts/qa/CbmStsDigitizeQaReport.cxx
  sim/detectors/trd/qa/CbmTrdHitRateFastQa.cxx
  sim/detectors/trd/qa/CbmTrdHitRateQa.cxx
  sim/transport/generators/CbmBeamGenerator.cxx
  sim/transport/generators/CbmShieldGenerator.cxx
  sim/transport/generators/pluto/PDataBase.cxx
  sim/transport/generators/pluto/PStdData.cxx
  sim/transport/steer/CbmGeant4Settings.cxx
Owners: @a.bercuci, @p.kaehler, @f.uhlig, @v.friese, @p.-a.loizeau, @v.singhal

Allow fixed random seed for all transport macros
  macro/dimuon/CMakeLists.txt
  macro/dimuon/dimuon_transport.C
  macro/mcbm/CMakeLists.txt
  macro/mcbm/mcbm_transport.C
  macro/much/CMakeLists.txt
  macro/much/run_transport.C
Owners: @f.uhlig, @p.-a.loizeau, @v.singhal

Fix warnings about deprecated code
  analysis/PWGHAD/hadron/CbmHadronAnalysis.cxx
  core/field/CbmFieldCreator.cxx
  sim/response/base/CbmDigitization.cxx
  sim/transport/steer/CbmTransport.cxx
Owners: @i.selyuzhenkov, @f.uhlig, @v.friese, @p.-a.loizeau

StsAddress: Make constants compile-time expressions.
  core/data/sts/CbmStsAddress.cxx
  core/data/sts/CbmStsAddress.h
Owners: @v.friese

StsDigi: Make address-functions callable on GPU.
  core/data/CbmDefs.h
  core/data/sts/CbmStsAddress.cxx
  core/data/sts/CbmStsAddress.h
  core/data/sts/CbmStsDigi.cxx
  core/data/sts/CbmStsDigi.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

StsAddress: Move internal constants into Detail subnamespace.
  core/data/sts/CbmStsAddress.cxx
Owners: @v.friese

L1: make sub-timeslices inside the tracker core
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1MCTrack.cxx
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CaTrackFinder.cxx
  reco/L1/L1Algo/L1CaTrackFinderSlice.cxx
  reco/L1/L1Algo/L1CloneMerger.cxx
  reco/L1/L1Algo/L1Grid.cxx
  reco/L1/L1Algo/L1Grid.h
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/utils/L1AlgoDraw.cxx
Owners: @se.gorbunov, @v.akishina

L1: cleanup Mvd hit indexing
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/OffLineInterface/CbmL1GlobalTrackFinder.cxx
  reco/L1/OffLineInterface/CbmL1GlobalTrackFinder.h
  reco/L1/OffLineInterface/CbmL1StsTrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1: clean up reading of Mvd hits
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1CaTrackFinderSlice.cxx
Owners: @se.gorbunov, @v.akishina

L1: cleanup in data structures
  reco/L1/CMakeLists.txt
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1BranchExtender.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Grid.cxx
  reco/L1/L1Algo/L1Grid.h
  reco/L1/L1Algo/L1HitsSortHelper.cxx
  reco/L1/L1Algo/L1HitsSortHelper.h
  reco/L1/L1Algo/L1TrackPar.h
  reco/L1/L1Algo/L1Vector.h
Owners: @se.gorbunov, @v.akishina

L1: remove sub-timeslices at CbmL1 level
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1CaTrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1: ignore hit search areas in mcbm mode, as it affects the results
  reco/L1/CbmL1.cxx
Owners: @se.gorbunov, @v.akishina

L1: optimise reading of MC data in debug mode
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1MCTrack.cxx
  reco/L1/CbmL1MCTrack.h
  reco/L1/L1Algo/L1CaTrackFinder.cxx
  reco/L1/OffLineInterface/CbmL1StsTrackFinder.h
Owners: @se.gorbunov, @v.akishina

L1: cleanup grid classes
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CaTrackFinderSlice.cxx
  reco/L1/L1Algo/L1Grid.cxx
  reco/L1/L1Algo/L1Grid.h
  reco/L1/L1Algo/L1HitArea.h
Owners: @se.gorbunov, @v.akishina

L1: clean up reading of Mvd hits
  reco/L1/CbmL1ReadEvent.cxx
Owners: @se.gorbunov, @v.akishina

L1: suppress obsolete input performance method
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1Performance.cxx
Owners: @se.gorbunov, @v.akishina

L1: bugfixes in performance calculation
  reco/L1/CbmL1Constants.h
  reco/L1/CbmL1MCTrack.cxx
  reco/L1/CbmL1MCTrack.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/CbmL1Track.h
Owners: @se.gorbunov, @v.akishina

L1: fixes for mcbm
  macro/beamtime/mcbm2021/mcbm_event_reco.C
  macro/mcbm/mcbm_reco.C
  macro/mcbm/mcbm_reco_event.C
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1CaTrackFinder.cxx
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux
