Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux

Apply clang format
  analysis/PWGDIL/dielectron/lmvm/LmvmCuts.h
  analysis/PWGDIL/dielectron/lmvm/LmvmDraw.cxx
  analysis/PWGDIL/dielectron/lmvm/LmvmDraw.h
  analysis/PWGDIL/dielectron/lmvm/LmvmDrawAll.cxx
  analysis/PWGDIL/dielectron/lmvm/LmvmSimParam.h
  analysis/PWGDIL/dielectron/lmvm/LmvmTask.cxx
  analysis/PWGDIL/dielectron/lmvm/LmvmUtils.cxx
  reco/littrack/cbm/elid/CbmLitGlobalElectronId.cxx
  reco/littrack/cbm/qa/tracking/CbmLitTrackingQa.cxx
Owners: @i.selyuzhenkov, @s.lebedev, @andrey.lebedev

LMVM: restructure comb. BG procedure
  analysis/PWGDIL/dielectron/lmvm/LmvmDraw.cxx
  analysis/PWGDIL/dielectron/lmvm/LmvmDrawAll.cxx
  analysis/PWGDIL/dielectron/lmvm/LmvmDrawAll.h
  analysis/PWGDIL/dielectron/lmvm/LmvmTask.cxx
  macro/analysis/dielectron/draw_all.py
Owners: @i.selyuzhenkov

Fix Continuous Integration
  .gitlab-ci.yml
  CMakeLists.txt
Owners: none

Release the current timeslice before receiving the next one
  reco/tasks/CbmSourceTs.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Fix code format checker
  external/CMakeLists.txt
Owners: @f.uhlig

Improve autoinstall script
  autoinstall_framework.sh
Owners: none

Renamed TrackerIF classes
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1.cxx
  reco/L1/CbmMvdTrackerIF.cxx
  reco/L1/CbmMvdTrackerIF.h
  reco/L1/CbmStsTrackerIF.cxx
  reco/L1/CbmStsTrackerIF.h
  reco/L1/CbmTrackerDetInitializer.cxx
  reco/L1/CbmTrackerInterfaceSts.cxx
  reco/L1/L1LinkDef.h
Owners: @se.gorbunov, @v.akishina

CbmTrackerInterface is introduced for STS and MVD
  macro/run/run_reco.C
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmTrackerDetInitializer.cxx
  reco/L1/CbmTrackerDetInitializer.h
  reco/L1/CbmTrackerInterfaceMvd.cxx
  reco/L1/CbmTrackerInterfaceMvd.h
  reco/L1/CbmTrackerInterfaceSts.cxx
  reco/L1/CbmTrackerInterfaceSts.h
  reco/L1/L1Algo/L1Def.h
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1LinkDef.h
  reco/L1/L1TrackerInterfaceBase.h
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina

L1: add consistency checkers for L1Parameters, L1Station, L1UMeasurementInfo, L1XYMeasurementInfo, L1MaterialInfo, L1Material, L1FieldSlice, L1FieldRegion, L1FieldValue classes
  reco/L1/CbmL1.cxx
  reco/L1/CbmMvdTrackerIF.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1Field.cxx
  reco/L1/L1Algo/L1Field.h
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1MaterialInfo.cxx
  reco/L1/L1Algo/L1MaterialInfo.h
  reco/L1/L1Algo/L1Parameters.cxx
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/L1Algo/L1Station.cxx
  reco/L1/L1Algo/L1Station.h
  reco/L1/L1Algo/L1UMeasurementInfo.cxx
  reco/L1/L1Algo/L1UMeasurementInfo.h
  reco/L1/L1Algo/L1Utils.h
  reco/L1/L1Algo/L1XYMeasurementInfo.cxx
  reco/L1/L1Algo/L1XYMeasurementInfo.h
  reco/L1/vectors/P4_F32vec4.h
Owners: @se.gorbunov, @v.akishina

L1Algo: constexpr constants moved from L1Parameters class to the L1Constants namespace (L1Constants.h)
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1BaseStationInfo.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Constants.h
  reco/L1/L1Algo/L1Field.cxx
  reco/L1/L1Algo/L1Field.h
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Parameters.cxx
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1AlgoInputData.h
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1: CbmMuchTrackerIF added
  macro/run/run_reco.C
  reco/KF/CbmKF.cxx
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1.cxx
  reco/L1/CbmMuchTrackerIF.cxx
  reco/L1/CbmMuchTrackerIF.h
  reco/L1/CbmMvdTrackerIF.cxx
  reco/L1/CbmMvdTrackerIF.h
  reco/L1/CbmStsTrackerIF.cxx
  reco/L1/CbmTrackerDetInitializer.cxx
  reco/L1/CbmTrackerDetInitializer.h
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1MaterialInfo.cxx
  reco/L1/L1Algo/L1Parameters.cxx
  reco/L1/L1Algo/L1Station.cxx
  reco/L1/L1LinkDef.h
  reco/L1/L1TrackerInterfaceBase.h
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina

L1: Changed L1Algo initialization logic, moved geometry parameters to L1Parameters
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CAMergeClones.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Constants.h
  reco/L1/L1Algo/L1Field.h
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Parameters.cxx
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/L1Algo/L1TrackExtender.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/L1TrackParFit.cxx
  reco/L1/L1Algo/L1TrackParFit.h
  reco/L1/L1Algo/utils/L1AlgoDraw.cxx
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

L1: tracking interface moved to KF.lib (tmp), TRD interface was added
  macro/mcbm/mcbm_reco_event.C
  macro/run/run_reco.C
  reco/KF/CbmMuchTrackerIF.cxx
  reco/KF/CbmMuchTrackerIF.h
  reco/KF/CbmMvdTrackerIF.cxx
  reco/KF/CbmMvdTrackerIF.h
  reco/KF/CbmStsTrackerIF.cxx
  reco/KF/CbmStsTrackerIF.h
  reco/KF/CbmTrackerDetInitializer.cxx
  reco/KF/CbmTrackerDetInitializer.h
  reco/KF/CbmTrdTrackerIF.cxx
  reco/KF/CbmTrdTrackerIF.h
  reco/KF/KF.cmake
  reco/KF/KFLinkDef.h
  reco/KF/L1TrackerInterfaceBase.h
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/L1LinkDef.h
Owners: @f.uhlig, @p.-a.loizeau, @se.gorbunov, @v.akishina

L1: tracking interfaces: the interface classes were moved to the '$VMCWORKDIR/core/detector/' directory
  core/base/CbmTrackingDetectorInterfaceBase.h
  core/detectors/much/CMakeLists.txt
  core/detectors/much/CbmMuchBaseLinkDef.h
  core/detectors/much/CbmMuchTrackingInterface.cxx
  core/detectors/much/CbmMuchTrackingInterface.h
  core/detectors/sts/CMakeLists.txt
  core/detectors/sts/CbmStsBaseLinkDef.h
  core/detectors/sts/CbmStsTrackingInterface.cxx
  core/detectors/sts/CbmStsTrackingInterface.h
  core/detectors/trd/CMakeLists.txt
  core/detectors/trd/CbmTrdBaseLinkDef.h
  core/detectors/trd/CbmTrdTrackingInterface.cxx
  core/detectors/trd/CbmTrdTrackingInterface.h
  mvd/CMakeLists.txt
  mvd/CbmMvdLinkDef.h
  mvd/CbmMvdTrackingInterface.cxx
  mvd/CbmMvdTrackingInterface.h
  reco/KF/CbmMvdTrackingInterface.cxx
  reco/KF/CbmTrackingDetectorInterfaceInit.cxx
  reco/KF/CbmTrackingDetectorInterfaceInit.h
  reco/KF/KF.cmake
  reco/KF/KFLinkDef.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @v.singhal, @a.bercuci, @p.kaehler, @c.muentz, @m.deveaux, @se.gorbunov, @v.akishina

code-format + license fix
  core/base/CbmTrackingDetectorInterfaceBase.h
  core/detectors/much/CbmMuchTrackingInterface.cxx
  core/detectors/much/CbmMuchTrackingInterface.h
  core/detectors/sts/CbmStsTrackingInterface.cxx
  core/detectors/sts/CbmStsTrackingInterface.h
  core/detectors/trd/CbmTrdTrackingInterface.cxx
  core/detectors/trd/CbmTrdTrackingInterface.h
  macro/L1/run_reco_L1global.C
  macro/analysis/opencharm/PairSelection.C
  macro/dilept/CbmDileptRecUrqmdOmegaEe.C
  macro/rich/geotest/legacy/TransPMT/Run_Reco_GeoOpt_Batch.C
  macro/run/run_reco.C
  mvd/CbmMvdTrackingInterface.cxx
  mvd/CbmMvdTrackingInterface.h
  reco/KF/CbmKF.cxx
  reco/KF/CbmTrackingDetectorInterfaceInit.cxx
  reco/KF/CbmTrackingDetectorInterfaceInit.h
  reco/L1/L1Algo/L1Assert.h
  reco/L1/L1Algo/L1BaseStationInfo.cxx
  reco/L1/L1Algo/L1BaseStationInfo.h
  reco/L1/L1Algo/L1Constants.h
  reco/L1/L1Algo/L1Field.cxx
  reco/L1/L1Algo/L1Field.h
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1MaterialInfo.cxx
  reco/L1/L1Algo/L1MaterialInfo.h
  reco/L1/L1Algo/L1ObjectInitController.h
  reco/L1/L1Algo/L1Parameters.cxx
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/L1Algo/L1Station.cxx
  reco/L1/L1Algo/L1Station.h
  reco/L1/L1Algo/L1UMeasurementInfo.cxx
  reco/L1/L1Algo/L1UMeasurementInfo.h
  reco/L1/L1Algo/L1Utils.h
  reco/L1/L1Algo/L1XYMeasurementInfo.cxx
  reco/L1/L1Algo/L1XYMeasurementInfo.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @v.singhal, @a.bercuci, @p.kaehler, @i.selyuzhenkov, @s.lebedev, @c.muentz, @m.deveaux, @se.gorbunov, @v.akishina

macro/much/run_ana.C: added MuCh digi parameters initialization
  core/detectors/much/CbmMuchTrackingInterface.cxx
  macro/much/run_ana.C
Owners: @v.singhal

code-format fix
  macro/much/run_ana.C
Owners: @v.singhal

/core/base/CMakeLists.txt patch
  core/base/CMakeLists.txt
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

reco/KF/KF.cmake: added dependency on CbmTrdBase lib (bugfix)
  reco/KF/KF.cmake
Owners: @se.gorbunov, @v.akishina

reco/KF/KF.cmake: added dependency on CbmTrdBase, CbmSimSteer lib (bugfix)
  reco/KF/KF.cmake
Owners: @se.gorbunov, @v.akishina

L1: cleanup, fix MacOsX compilation
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Parameters.h
Owners: @se.gorbunov, @v.akishina

L1: rename f* methods
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1: remove obsolete Sts prefixes from the algorithm core
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1MCTrack.cxx
  reco/L1/CbmL1MCTrack.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/CbmL1Track.h
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1AlgoTBB.h
  reco/L1/L1Algo/L1Branch.h
  reco/L1/L1Algo/L1CAMergeClones.cxx
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Event.cxx
  reco/L1/L1Algo/L1Event.h
  reco/L1/L1Algo/L1HitsSortHelper.cxx
  reco/L1/L1Algo/L1HitsSortHelper.h
  reco/L1/L1Algo/L1TrackExtender.cxx
  reco/L1/L1Algo/L1TrackFitter.cxx
  reco/L1/L1Algo/L1Triplet.h
  reco/L1/L1Algo/utils/L1AlgoDraw.cxx
  reco/L1/L1Algo/utils/L1AlgoDraw.h
  reco/L1/L1Algo/utils/L1AlgoEfficiencyPerformance.h
  reco/L1/L1Algo/utils/L1AlgoPulls.cxx
  reco/L1/L1AlgoInputData.cxx
  reco/L1/L1AlgoInputData.h
  reco/L1/OffLineInterface/CbmL1GlobalTrackFinder.cxx
  reco/L1/OffLineInterface/CbmL1StsTrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

L1: development flag: match doublets with mc
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1Hit.h
  reco/L1/CbmL1Performance.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Parameters.h
Owners: @se.gorbunov, @v.akishina

L1: improve hit creation from mc points
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1BaseStationInfo.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Station.cxx
  reco/L1/L1Algo/L1Station.h
Owners: @se.gorbunov, @v.akishina

L1: bugfix in parameter class
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1Parameters.cxx
Owners: @se.gorbunov, @v.akishina

L1: introduced electron flag to ca iterations, added L1Constants::phys namespace
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CAIteration.cxx
  reco/L1/L1Algo/L1CAIteration.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Constants.h
  reco/L1/L1Algo/L1TrackExtender.cxx
Owners: @se.gorbunov, @v.akishina

L1: L1NaN.h introduced
  reco/L1/CMakeLists.txt
  reco/L1/L1Algo/L1MaterialInfo.cxx
  reco/L1/L1Algo/L1MaterialInfo.h
  reco/L1/L1Algo/L1NaN.h
  reco/L1/L1Algo/L1Station.h
  reco/L1/L1Algo/L1UMeasurementInfo.h
  reco/L1/L1Algo/L1Utils.h
  reco/L1/L1Algo/L1XYMeasurementInfo.h
Owners: @se.gorbunov, @v.akishina

L1: minor cosmetic changes
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/L1Algo/L1Constants.h
  reco/L1/L1Algo/L1Extrapolation.h
  reco/L1/L1Algo/L1Fit.h
  reco/L1/L1Algo/L1Hit.h
  reco/L1/L1Algo/L1Parameters.cxx
  reco/L1/L1Algo/L1Station.h
  reco/L1/L1AlgoInputData.h
Owners: @se.gorbunov, @v.akishina

L1: added tracking interface for TOF
  core/detectors/tof/CMakeLists.txt
  core/detectors/tof/CbmTofBaseLinkDef.h
  core/detectors/tof/CbmTofTrackingInterface.cxx
  core/detectors/tof/CbmTofTrackingInterface.h
  reco/KF/CbmTrackingDetectorInterfaceInit.cxx
  reco/KF/CbmTrackingDetectorInterfaceInit.h
  reco/KF/KF.cmake
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CAIteration.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Constants.h
  reco/L1/L1Algo/L1Extrapolation.h
  reco/L1/L1Algo/L1Fit.h
  reco/L1/L1Algo/L1MaterialInfo.cxx
  reco/L1/L1Algo/L1MaterialInfo.h
  reco/L1/L1Algo/L1NaN.h
  reco/L1/L1Algo/L1Station.h
  reco/L1/L1Algo/L1UMeasurementInfo.h
  reco/L1/L1Algo/L1Utils.h
  reco/L1/L1Algo/L1XYMeasurementInfo.h
  reco/L1/L1AlgoInputData.h
Owners: @n.herrmann, @i.deppner, @se.gorbunov, @v.akishina

New eventbuilder and eventsink device. Includes new trigger device from closed MR.
  MQ/mcbm/CMakeLists.txt
  MQ/mcbm/CbmDeviceEventBuilder.h
  MQ/mcbm/runEventBuilder.cxx
  MQ/mcbm/startEventBuilder.sh.in
  reco/CMakeLists.txt
  reco/mq/CMakeLists.txt
  reco/mq/CbmDevBuildEvents.cxx
  reco/mq/CbmDevBuildEvents.h
  reco/mq/CbmDevEventSink.cxx
  reco/mq/CbmDevEventSink.h
  reco/mq/CbmDevTrigger.cxx
  reco/mq/CbmDevTrigger.h
  reco/mq/CbmDevUnpack.cxx
  reco/mq/CbmDevUnpack.h
  reco/mq/runBuildEvents.cxx
  reco/mq/runEventSink.cxx
  reco/mq/runTrigger.cxx
  reco/mq/startUnpack.sh.in
Owners: @f.uhlig, @p.-a.loizeau, @v.friese

RICH updates: * RICH QA code updates * Updates of run macros and scripts * Remove obsolete macro from rich macro directories * Updates in RICH event display
  core/base/CbmHistManager.cxx
  core/base/CbmHistManager.h
  macro/rich/CbmRichHitsProd.C
  macro/rich/CbmRichTestHits.C
  macro/rich/CbmRichTestSim.C
  macro/rich/RICH_readme.txt
  macro/rich/cbmlibs.C
  macro/rich/create_RICH_geo_file.C
  macro/rich/geotest/run_many.py
  macro/rich/geotest/run_one.py
  macro/rich/geotest/run_qa.C
  macro/rich/geotest/run_reco.C
  macro/rich/geotest/run_transport.C
  macro/rich/rich_compact.dat
  macro/rich/run/run_digi.C
  macro/rich/run/run_many.py
  macro/rich/run/run_one.py
  macro/rich/run/run_qa.C
  macro/rich/run/run_reco.C
  macro/rich/run/run_transport.C
  macro/rich/run_radius_correction.C
  reco/detectors/rich/qa/CbmRichGeoTest.cxx
  reco/detectors/rich/qa/CbmRichGeoTest.h
  reco/detectors/rich/qa/CbmRichRecoQa.cxx
  reco/detectors/rich/qa/CbmRichRecoQa.h
  reco/detectors/rich/qa/CbmRichUrqmdTest.cxx
  reco/detectors/rich/qa/CbmRichUrqmdTest.h
  reco/littrack/cbm/qa/tof/CbmLitTofQa.cxx
  reco/littrack/cbm/qa/tof/CbmLitTofQaReport.cxx
  sim/detectors/rich/CbmRichDigitizer.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau, @s.lebedev, @andrey.lebedev

Fix for overflow counting issue in trd1d timing
  reco/detectors/trd/unpack/CbmTrdUnpackAlgoR.cxx
Owners: @a.bercuci, @p.kaehler

L1: Fix unused variable warning.
  reco/L1/CbmL1.h
Owners: @se.gorbunov, @v.akishina

Introduced firmware binning switch for CbmStsUnpackAlgoLegacy.
  reco/detectors/sts/unpack/CbmStsUnpackAlgo.cxx
  reco/detectors/sts/unpack/CbmStsUnpackAlgoBase.h
  reco/detectors/sts/unpack/CbmStsUnpackAlgoLegacy.cxx
  reco/detectors/sts/unpack/CbmStsUnpackAlgoLegacy.h
  reco/detectors/sts/unpack/CbmStsUnpackConfig.cxx
  reco/detectors/sts/unpack/CbmStsUnpackConfig.h
Owners: @v.friese

clang-format: Fix header ordering.
  .clang-format
Owners: none

L1: temporary fix in number of iterations
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Parameters.h
Owners: @se.gorbunov, @v.akishina

Remove duplicate definition of CbmTofHit.
  MQ/hitbuilder/CbmTofHit.h
Owners: @n.herrmann, @i.deppner

Revised CbmDevEventSink. Remove histogramming and timeslice buffering.
  reco/mq/CbmDevEventSink.cxx
  reco/mq/CbmDevEventSink.h
  reco/mq/runEventSink.cxx
  reco/mq/startUnpack.sh.in
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

[REPO] Set externals to point to latest version
  external/InstallGeometry.cmake
  external/InstallInput.cmake
  external/InstallParameter.cmake
Owners: @f.uhlig
