Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux

update TRD v22d, shift TRD-1D by additional +7.0 cm in x for the March carbon run, refs #2462
  macro/mcbm/geometry/trd/Create_TRD_Geometry_v22d.C
Owners: @f.uhlig, @p.-a.loizeau

Provides psd_v22c
  macro/geometry/check_radlen.sh
  macro/psd/create_psdgeo_with_hole.C
Owners: @f.uhlig, @p.-a.loizeau, @karpushkin_AT_inr.ru

Enable the trigger and event builder tasks for reading from CbmDigiTimeSlice. Refs 2275.
  MQ/mcbm/CbmDeviceEventBuilder.cxx
  algo/evbuild/EventBuilder.cxx
  algo/evbuild/EventBuilder.h
  algo/test/_GTestEventBuilder.cxx
  macro/reco/reco_digi.C
  reco/tasks/CbmTaskBuildEvents.cxx
  reco/tasks/CbmTaskBuildEvents.h
  reco/tasks/CbmTaskTriggerDigi.cxx
  reco/tasks/CbmTaskTriggerDigi.h
Owners: @f.uhlig, @p.-a.loizeau, @v.friese

Add TRD Hardware Setup for mCBM2021/2022
  core/detectors/trd/CbmTrdHardwareSetupR.cxx
  core/detectors/trd/CbmTrdHardwareSetupR.h
Owners: @a.bercuci, @p.kaehler

geometry repo tag update for PSD
  external/InstallGeometry.cmake
Owners: @f.uhlig

add subdivide option to the RICH hough finder
  reco/detectors/rich/CbmRichReconstruction.cxx
  reco/detectors/rich/CbmRichReconstruction.h
  reco/detectors/rich/finder/CbmRichRingFinderHough.cxx
  reco/detectors/rich/finder/CbmRichRingFinderHough.h
Owners: @s.lebedev

Added missing class StsXyterMessage to library OnlineData.
  algo/data/CMakeLists.txt
Owners: none

Modifications following the suggestions of P.-A. Loizeau and J. de Cuveland (see #2268). Refs #2268.
  algo/detectors/sts/UnpackSts.cxx
  algo/detectors/sts/UnpackSts.h
  core/data/raw/StsXyterMessage.h
Owners: @p.-a.loizeau

Code improvements following review by JdC.
  algo/detectors/sts/UnpackSts.cxx
  algo/detectors/sts/UnpackSts.h
  reco/tasks/CbmTaskUnpack.cxx
  reco/tasks/CbmTaskUnpack.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

First, boiled-down version of STS unpack algorithm. Neglects all monitoring and exception catching. Refs #2268.
  algo/CMakeLists.txt
  algo/detectors/sts/UnpackSts.cxx
  algo/detectors/sts/UnpackSts.h
Owners: none

Initial version of STS unpacker plus integration by task. Refs #2268. Refs #2272.
  algo/CMakeLists.txt
  algo/detectors/sts/StsReadoutConfig.cxx
  algo/detectors/sts/StsReadoutConfig.h
  algo/detectors/sts/UnpackSts.cxx
  algo/detectors/sts/UnpackSts.h
  core/data/CMakeLists.txt
  core/data/DataLinkDef.h
  core/data/base/CbmDigiData.h
  core/data/global/CbmDigiTimeslice.h
  macro/reco/reco_unpack.C
  reco/tasks/CMakeLists.txt
  reco/tasks/CbmRecoTasksLinkDef.h
  reco/tasks/CbmSourceTs.cxx
  reco/tasks/CbmSourceTs.h
  reco/tasks/CbmTaskUnpack.cxx
  reco/tasks/CbmTaskUnpack.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Added missing include (cassert); removed duplicated code from the task which was implmeneted in the separate class StsReadoutConfig.
  algo/detectors/sts/StsReadoutConfig.cxx
  macro/reco/reco_unpack.C
  reco/tasks/CbmTaskUnpack.cxx
  reco/tasks/CbmTaskUnpack.h
Owners: @f.uhlig, @p.-a.loizeau, @v.friese

Improvement of time handling following review by PAL.
  algo/detectors/sts/UnpackSts.cxx
  algo/detectors/sts/UnpackSts.h
Owners: none

Update following review by PAL.
  algo/detectors/sts/UnpackSts.cxx
  algo/detectors/sts/UnpackSts.h
  core/data/raw/StsXyterMessage.h
  reco/tasks/CbmSourceTs.cxx
  reco/tasks/CbmTaskUnpack.cxx
  reco/tasks/CbmTaskUnpack.h
Owners: @p.-a.loizeau, @f.uhlig, @v.friese

Fix CMakeLists.txt for StsXyter.h
  algo/CMakeLists.txt
Owners: none

Run macro for reconstruction from timeslice: unpacker, trigger, event builder. Refs #2275.
  algo/evbuild/EventBuilder.cxx
  macro/reco/reco_ts.C
  reco/tasks/CbmTaskBuildEvents.cxx
  reco/tasks/CbmTaskTriggerDigi.cxx
  reco/tasks/CbmTaskUnpack.cxx
Owners: @f.uhlig, @p.-a.loizeau, @v.friese

Allow to set persistency for output branches.
  macro/reco/reco_ts.C
  reco/tasks/CbmTaskUnpack.cxx
Owners: @f.uhlig, @p.-a.loizeau, @v.friese

Removed hard-coded file names.
  macro/reco/reco_ts.C
Owners: @f.uhlig, @p.-a.loizeau

Use correct much parameter files (#2443)
  external/InstallParameter.cmake
Owners: @f.uhlig

Bugfix in tof placement
  external/InstallGeometry.cmake
  macro/tof/geometry/Create_TOF_Geometry_v20c.C
  macro/tof/geometry/Create_TOF_Geometry_v21a.C
Owners: @f.uhlig, @n.herrmann, @i.deppner

add modification to build with correct radiation length, refs #2459
  macro/mcbm/geometry/rich/create_rich_v21a_mcbm.C
  macro/mcbm/geometry/rich/create_rich_v21b_mcbm.C
Owners: @f.uhlig, @p.-a.loizeau

add modification to build MUCH with correct radiation length, refs #2432 and refs #2463
  macro/mcbm/geometry/much/create_MUCH_geometry_v22e_mcbm.C
  macro/mcbm/geometry/much/create_MUCH_geometry_v22f_mcbm.C
Owners: @f.uhlig, @p.-a.loizeau

update external tags for mCBM Carbon run, refs #2456
  external/InstallGeometry.cmake
  external/InstallInput.cmake
  external/InstallParameter.cmake
  macro/mcbm/mcbm_transport.C
Owners: @f.uhlig, @p.-a.loizeau

extend use of check time difference algo for the case of user selections
  fles/mcbm2018/tasks/CbmMcbmCheckTimingAlgo.cxx
  fles/mcbm2018/tasks/CbmMcbmCheckTimingAlgo.h
  fles/mcbm2018/tasks/CbmMcbmCheckTimingTask.cxx
  fles/mcbm2018/tasks/CbmMcbmCheckTimingTask.h
  macro/beamtime/mcbm2022/check_timing_any.C
Owners: @f.uhlig, @p.-a.loizeau

Grmpfff...
  reco/steer/CMakeLists.txt
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Moved new class CbmReco to reco/tasks to prevent building on systems without C++17.
  reco/steer/CMakeLists.txt
  reco/steer/CbmRecoSteerLinkDef.h
  reco/tasks/CMakeLists.txt
  reco/tasks/CbmReco.cxx
  reco/tasks/CbmReco.h
  reco/tasks/CbmRecoTasksLinkDef.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Add missing include directory to CMakeLists.txt
  reco/steer/CMakeLists.txt
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Changed specification of number of timeslices to process. Adjust timeslice counter.
  macro/reco/reco_steer.C
  reco/tasks/CbmReco.cxx
  reco/tasks/CbmReco.h
  reco/tasks/CbmSourceTs.cxx
  reco/tasks/CbmSourceTs.h
Owners: @f.uhlig, @p.-a.loizeau, @v.friese

Execution of reconstruction from timeslice with steering class and minimal run macro. Refs #2275.
  macro/reco/reco_steer.C
  reco/steer/CMakeLists.txt
  reco/steer/CbmReco.cxx
  reco/steer/CbmReco.h
  reco/steer/CbmRecoSteerLinkDef.h
Owners: @f.uhlig, @p.-a.loizeau, @v.friese

Remove dependence of CbmRecoSteer from CbmRecoTasks.
  reco/steer/CMakeLists.txt
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Removed C++17 features; added handling of a list of sources, following PAL's suggestions.
  reco/steer/CbmReco.cxx
  reco/steer/CbmReco.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Fix compilation with Root 6.24 .
  external/NicaFemto.patch
  reco/L1/L1Algo/utils/L1AlgoDraw.cxx
  reco/detectors/trd/qa/CbmTrdHitDensityQa.cxx
  reco/detectors/trd/qa/CbmTrdOccupancyQa.cxx
  reco/detectors/trd/qa/CbmTrdQa.cxx
  sim/transport/generators/pluto/PParticle.h
  sim/transport/generators/unigen/UEvent.h
Owners: @f.uhlig, @se.gorbunov, @v.akishina, @a.bercuci, @p.kaehler, @v.friese, @p.-a.loizeau

Basic Monitoring for MuCh
  core/detectors/much/CbmMcbm2018MuchPar.cxx
  core/detectors/much/CbmMcbm2018MuchPar.h
  fles/mcbm2018/monitor/CbmMcbm2018MonitorAlgoMuchLite.cxx
  fles/mcbm2018/monitor/CbmMcbm2018MonitorAlgoMuchLite.h
  fles/mcbm2018/monitor/CbmMcbm2018MonitorTaskMuchLite.cxx
  macro/beamtime/mcbm2022/MonitorMuchBinning.C
  macro/beamtime/mcbm2022/mMuchPar.par
Owners: @v.singhal, @f.uhlig, @p.-a.loizeau

Added TRD v22e/f component ID maps to TRD hardware setup class
  core/detectors/trd/CbmTrdHardwareSetupR.cxx
  core/detectors/trd/CbmTrdHardwareSetupR.h
Owners: @a.bercuci, @p.kaehler

Made parameters passed to CbmStsReco handled by the runtimeDb.
  core/detectors/sts/CbmStsParSetModule.h
  core/detectors/sts/CbmStsParSetSensor.h
  core/detectors/sts/CbmStsParSetSensorCond.h
  reco/detectors/sts/CbmRecoSts.cxx
  reco/detectors/sts/CbmRecoSts.h
Owners: @v.friese

cmake: Export command commands by default.
  CMakeLists.txt
Owners: none

Add convenience functions to convert between ECbmModuleId and std::string
  core/data/CbmDefs.cxx
  core/data/CbmDefs.h
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

mCBM: add macro for TRD material map
  macro/mcbm/matbudget_ana_mcbm_trd.C
  macro/mcbm/matbudget_sim.C
Owners: @f.uhlig, @p.-a.loizeau

check in transport macro if target is already defined
  macro/run/run_tra_file.C
Owners: @f.uhlig, @p.-a.loizeau

Fix compiler warnings when using Clang
  reco/KF/KF.cmake
  reco/KF/KFParticleInterface.cmake
  reco/KF/KFQA.cmake
  reco/L1/CMakeLists.txt
  reco/eventbuilder/CMakeLists.txt
Owners: @se.gorbunov, @v.akishina, @d.smith
