Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux

CbmSeedFinderSlidingWindow: Applying a constant offset to all trigger times is now supported.
  reco/eventbuilder/digis/CbmSeedFinderSlidingWindow.cxx
  reco/eventbuilder/digis/CbmSeedFinderSlidingWindow.h
  reco/eventbuilder/digis/CbmTaskBuildRawEvents.cxx
  reco/eventbuilder/digis/CbmTaskBuildRawEvents.h
Owners: @d.smith

Moved QA functionality from CbmSeedFinderSlidingWindow to new class CbmSeedFinderQa.
  reco/eventbuilder/CMakeLists.txt
  reco/eventbuilder/digis/CbmSeedFinderQa.cxx
  reco/eventbuilder/digis/CbmSeedFinderQa.h
  reco/eventbuilder/digis/CbmSeedFinderSlidingWindow.cxx
  reco/eventbuilder/digis/CbmSeedFinderSlidingWindow.h
Owners: @d.smith

CbmSeedFinderQa and CbmBuildEventsQa: All links are now assigned the same weight when obtaining event matches from digi matches, since different detectors don't use the same scale.
  reco/eventbuilder/digis/CbmBuildEventsQa.cxx
  reco/eventbuilder/digis/CbmSeedFinderQa.cxx
Owners: @d.smith

Correct the orientation of 1D modules in trd_v21c and correct KANYA medium of gibbets in trd_v21d
  macro/mcbm/geometry/trd/Create_TRD_Geometry_v21c.C
  macro/mcbm/geometry/trd/Create_TRD_Geometry_v21d.C
Owners: @f.uhlig, @p.-a.loizeau

tmp modifications
  reco/L1/CMakeLists.txt
  reco/L1/L1Algo/L1CATrackFinder.cxx
  reco/L1/L1Algo/L1Def.h
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/L1Algo/L1Vector.h
  reco/L1/L1Algo/utils/L1AlgoFunctions.h
Owners: @se.gorbunov, @v.akishina

L1Algo init interface updates
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1BaseStationInfo.cxx
  reco/L1/L1Algo/L1BaseStationInfo.h
  reco/L1/L1Algo/L1CAIteration.cxx
  reco/L1/L1Algo/L1CAIteration.h
  reco/L1/L1Algo/L1Def.h
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/L1Algo/L1Station.h
  reco/L1/L1Algo/L1Vector.h
Owners: @se.gorbunov, @v.akishina

New init for L1Algo: updates
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/L1Algo/L1Station.h
Owners: @se.gorbunov, @v.akishina

L1BaseStationInfo.h: fixed bugs, added new method for FieldSlice approximation coefficients
  reco/L1/CbmL1.cxx
Owners: @se.gorbunov, @v.akishina

New init for L1Algo: updates, clang-formatted
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Station.h
Owners: @se.gorbunov, @v.akishina

Apply clang-format
  reco/L1/L1Algo/L1BaseStationInfo.h
Owners: @se.gorbunov, @v.akishina

L1BaseStationInfo.h: fixed bugs, added new method for FieldSlice approximation coefficients
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1BaseStationInfo.h
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Parameters.h
Owners: @se.gorbunov, @v.akishina

L1CATrackFinder removed tmp debug log
  reco/L1/L1Algo/L1CATrackFinder.cxx
Owners: @se.gorbunov, @v.akishina

Rebased to fresh upstream/master
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/utils/L1AlgoFunctions.h
Owners: @se.gorbunov, @v.akishina

add L1InitManager.h to branch
  reco/L1/L1Algo/L1InitManager.h
Owners: @se.gorbunov, @v.akishina

Apply clang-format
  reco/L1/CbmL1.cxx
Owners: @se.gorbunov, @v.akishina

tmp modifications
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1Parameters.h
Owners: @se.gorbunov, @v.akishina

Added new class L1BaseStationInfo to the L1Algo core
  reco/L1/L1Algo/L1BaseStationInfo.h
Owners: @se.gorbunov, @v.akishina

L1Algo init: resolved threads for merge request
  reco/L1/CMakeLists.txt
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1BaseStationInfo.cxx
  reco/L1/L1Algo/L1BaseStationInfo.h
  reco/L1/L1Algo/L1Def.h
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/L1Algo/L1Station.cxx
  reco/L1/L1Algo/L1Station.h
  reco/L1/L1Algo/utils/L1Utils.h
Owners: @se.gorbunov, @v.akishina

bugfix in reco/L1/CMakeLists.txt
  reco/L1/CMakeLists.txt
Owners: @se.gorbunov, @v.akishina

New init for L1Algo: moved L1Utils.h to L1Algo directory
  reco/L1/CMakeLists.txt
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Utils.h
Owners: @se.gorbunov, @v.akishina

L1Algo init: resolved threads for merge request (clang format fix)
  reco/L1/CbmL1.cxx
  reco/L1/L1Algo/L1BaseStationInfo.h
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Station.cxx
  reco/L1/L1Algo/L1Station.h
  reco/L1/L1Algo/utils/L1Utils.h
Owners: @se.gorbunov, @v.akishina

L1Algo init interface updates, clang-format applied
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/L1Algo/L1BaseStationInfo.cxx
  reco/L1/L1Algo/L1BaseStationInfo.h
  reco/L1/L1Algo/L1CAIteration.cxx
  reco/L1/L1Algo/L1CAIteration.h
  reco/L1/L1Algo/L1Def.h
  reco/L1/L1Algo/L1InitManager.cxx
  reco/L1/L1Algo/L1InitManager.h
  reco/L1/L1Algo/L1Parameters.h
  reco/L1/L1Algo/L1Station.h
  reco/L1/L1Algo/L1Vector.h
  reco/L1/L1Algo/utils/L1AlgoFunctions.h
Owners: @se.gorbunov, @v.akishina

Fix CI tests in macro/run
  macro/run/CMakeLists.txt
Owners: @f.uhlig, @p.-a.loizeau

correct license information
  reco/detectors/rich/unpack/CbmRichUnpackMonitor.h
Owners: @s.lebedev

add licence informations and check format
  reco/detectors/rich/unpack/CbmRichUnpackMonitor.cxx
  reco/detectors/rich/unpack/CbmRichUnpackMonitor.h
Owners: @s.lebedev

add Monitoring possibility to Rich unpacker v3
  macro/run/run_unpack_tsa.C
  reco/detectors/rich/CMakeLists.txt
  reco/detectors/rich/CbmRichRecoLinkDef.h
  reco/detectors/rich/unpack/CbmRichUnpackAlgo2022.cxx
  reco/detectors/rich/unpack/CbmRichUnpackAlgoBase.cxx
  reco/detectors/rich/unpack/CbmRichUnpackAlgoBase.h
  reco/detectors/rich/unpack/CbmRichUnpackConfig.cxx
  reco/detectors/rich/unpack/CbmRichUnpackConfig.h
Owners: @f.uhlig, @p.-a.loizeau, @s.lebedev

Apply clang-format
  reco/detectors/rich/unpack/CbmRichUnpackAlgoBase.h
  reco/detectors/rich/unpack/CbmRichUnpackConfig.h
Owners: @s.lebedev

correct license information
  reco/detectors/rich/unpack/CbmRichUnpackMonitor.h
Owners: @s.lebedev

change of institute name in license
  reco/detectors/rich/unpack/CbmRichUnpackMonitor.h
Owners: @s.lebedev

add ToT offset correction setter to Rich unpacker.
  macro/run/run_unpack_tsa.C
  reco/detectors/rich/unpack/CbmRichUnpackAlgoBase.h
  reco/detectors/rich/unpack/CbmRichUnpackConfig.cxx
  reco/detectors/rich/unpack/CbmRichUnpackConfig.h
Owners: @f.uhlig, @p.-a.loizeau, @s.lebedev

sync run_unpack_tsa.C and run_unpack_online.C macros
  macro/run/run_unpack_online.C
  macro/run/run_unpack_tsa.C
Owners: @f.uhlig, @p.-a.loizeau

add unpack/CbmRichUnpackMonitor.h/cxx
  reco/detectors/rich/unpack/CbmRichUnpackMonitor.cxx
  reco/detectors/rich/unpack/CbmRichUnpackMonitor.h
Owners: @s.lebedev

sts reco: Fix race condition with OpenMP.
  reco/detectors/sts/CbmRecoSts.cxx
Owners: @v.friese

Update geo hash to bring in tof 21a fix for inner modules
  external/InstallGeometry.cmake
Owners: @f.uhlig

remove obsolete transport macro
  macro/run/run_transport.C
Owners: @f.uhlig, @p.-a.loizeau

Update the test suite run after installation
  macro/run/CMakeLists.txt
  macro/run/config_ci.json
  macro/run/run_tests.sh
Owners: @f.uhlig, @p.-a.loizeau

Forgot to set the changes
  sim/transport/steer/CbmTransport.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Don't transport more events as available in input
  sim/transport/generators/CbmPlutoGenerator.cxx
  sim/transport/generators/CbmPlutoGenerator.h
  sim/transport/generators/CbmUnigenGenerator.cxx
  sim/transport/generators/CbmUnigenGenerator.h
  sim/transport/steer/CMakeLists.txt
  sim/transport/steer/CbmTransport.cxx
Owners: @f.uhlig, @v.friese, @p.-a.loizeau

Provides Beampipe_v22b
  macro/passive/create_bpipe_geometry_v22b.C
Owners: @f.uhlig, @p.-a.loizeau

Provides v22a beampipe
  macro/passive/create_bpipe_geometry_v22a.C
Owners: @f.uhlig, @p.-a.loizeau
