Repository fweig/cbmroot, changes with the owners that CODEOWNERS names for each.
All owners: @f.uhlig, @p.-a.loizeau, @i.selyuzhenkov, @se.gorbunov, @v.akishina, @v.friese, @s.lebedev, @e.lavrik, @andrey.lebedev, @d.smith, @wielanek_AT_if.pw.edu.pl, @c.pauly, @a_meye37_AT_uni-muenster.de, @a.bercuci, @p.kaehler, @karpushkin_AT_inr.ru, @v.singhal, @n.herrmann, @i.deppner, @c.muentz, @m.deveaux

CODEOWNERS:

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
/          @f.uhlig @v.friese @p.-a.loizeau
/cmake/    @f.uhlig
/external/ @f.uhlig
/scripts/  @f.uhlig @p.-a.loizeau

# Cleanup and proper separation needed
/MQ/    @f.uhlig @p.-a.loizeau
/fles/  @f.uhlig @p.-a.loizeau
/macro/ @f.uhlig @p.-a.loizeau

/macro/C2F/      @i.selyuzhenkov
/macro/analysis/ @i.selyuzhenkov
/macro/KF/       @se.gorbunov @v.akishina

# Core
/core/             @f.uhlig @v.friese @p.-a.loizeau
/core/qa/          @se.gorbunov
/core/data/test/   @f.uhlig
/core/data/raw/    @p.-a.loizeau
/core/base/utils/  @f.uhlig @s.lebedev
/core/base/report/ @s.lebedev
/core/base/draw/   @s.lebedev

# Simulation
/sim/                    @f.uhlig @v.friese @p.-a.loizeau
/sim/transport/geosetup/ @e.lavrik

# Reco
/reco/              @f.uhlig @v.friese @p.-a.loizeau
/reco/littrack/     @s.lebedev @andrey.lebedev
/reco/L1/           @se.gorbunov @v.akishina
/reco/eventbuilder/ @d.smith
/reco/KF/           @se.gorbunov @v.akishina

# Analysis
/analysis/                                 @i.selyuzhenkov
/analysis/PWGC2F/femtoscopy/               @wielanek_AT_if.pw.edu.pl
/analysis/common/                          @i.selyuzhenkov
/analysis/PWGHAD/                          @i.selyuzhenkov
/analysis/PWGCHA/                          @i.selyuzhenkov
/analysis/PWGDIL/                          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/pi0eta/        @c.pauly
/analysis/PWGDIL/dielectron/papaframework/ @a_meye37_AT_uni-muenster.de
/analysis/PWGDIL/dielectron/lmvm/          @i.selyuzhenkov
/analysis/PWGDIL/dielectron/conversion/    @c.pauly
/analysis/PWGDIL/dimuon/                   @i.selyuzhenkov

## Detectors

# TRD
/core/data/trd/       @a.bercuci @p.kaehler
/core/data/test/trd/  @a.bercuci @p.kaehler
/core/detectors/trd/  @a.bercuci @p.kaehler
/macro/trd/           @a.bercuci @p.kaehler
/sim/detectors/trd/   @a.bercuci @p.kaehler
/reco/detectors/trd/  @a.bercuci @p.kaehler

# PSD
/analysis/detectors/psd/ @karpushkin_AT_inr.ru
/core/data/psd/          @karpushkin_AT_inr.ru
/core/data/test/psd/     @karpushkin_AT_inr.ru
/core/detectors/psd/     @karpushkin_AT_inr.ru
/macro/psd/              @karpushkin_AT_inr.ru
/sim/detectors/psd/      @karpushkin_AT_inr.ru
/reco/detectors/psd/     @karpushkin_AT_inr.ru

# MUCH
/core/data/much/         @v.singhal
/core/data/test/much/    @v.singhal
/core/detectors/much/    @v.singhal
/macro/much/             @v.singhal
/sim/detectors/much/     @v.singhal
/reco/detectors/much/    @v.singhal

# TOF
/analysis/detectors/tof/ @n.herrmann @i.deppner
/core/data/tof/          @n.herrmann @i.deppner
/core/data/test/tof/     @n.herrmann @i.deppner
/core/detectors/tof/     @n.herrmann @i.deppner
/fles/star2019/          @n.herrmann @i.deppner
/macro/tof/              @n.herrmann @i.deppner
/sim/detectors/tof/      @n.herrmann @i.deppner
/reco/detectors/tof/     @n.herrmann @i.deppner
/MQ/eTOF/                @n.herrmann @i.deppner
/MQ/hitbuilder/          @n.herrmann @i.deppner

# RICH
/core/data/rich/      @s.lebedev
/core/data/test/rich/ @s.lebedev
/core/detectors/rich/ @s.lebedev
/macro/rich/          @s.lebedev
/sim/detectors/rich/  @s.lebedev
/reco/detectors/rich/ @s.lebedev

# STS
/analysis/detectors/sts/ @v.friese
/core/data/sts/          @v.friese
/core/data/test/sts/     @v.friese
/core/detectors/sts/     @v.friese
/macro/sts/              @v.friese
/sim/detectors/sts/      @v.friese
/reco/detectors/sts/     @v.friese
/MQ/sts/                 @v.friese

# MVD
/core/data/mvd/ @c.muentz @m.deveaux
/macro/mvd/     @c.muentz @m.deveaux
/mvd/           @c.muentz @m.deveaux

RICH: Automatically set Z position for extrapolation of STS tracks using geometry.
  macro/rich/geotest/run_one.py
  reco/detectors/rich/CbmRichReconstruction.cxx
  reco/detectors/rich/CbmRichReconstruction.h
Owners: @s.lebedev

RICH: update hash for new RICH geometry
  external/InstallGeometry.cmake
  external/InstallInput.cmake
Owners: @f.uhlig

Update geometry and input hash due to changes in the rich v21a geometry.
  external/InstallGeometry.cmake
  external/InstallInput.cmake
Owners: @f.uhlig

RICH: add copy number to nodes to provide a unique path for each node (#2425).
  macro/rich/Import_GDML_Export_ROOT.c
Owners: @s.lebedev

RICH: change input hash.
  external/InstallInput.cmake
Owners: @f.uhlig

L1: bugfix for shifted origin
  reco/KF/CbmKFParticleInterface.cxx
  reco/L1/L1Algo/L1Algo.h
  reco/L1/ParticleFinder/CbmL1PFFitter.cxx
Owners: @se.gorbunov, @v.akishina

update PSD macros to suit DEC21 setup
  macro/psd/create_psdgeo_ideal.C
  macro/psd/create_psdgeo_with_hole.C
Owners: @karpushkin_AT_inr.ru

Fix installation and usage of AnalysisTree headers
  CMakeLists.txt
  external/AnalysisTree.patch
  external/AnalysisTreeQA.patch
  external/InstallAnalysisTree.cmake
  external/InstallAnalysisTreeQA.cmake
Owners: @f.uhlig

Update sis100_electron and all sis100_hadron setups
  external/InstallGeometry.cmake
Owners: @f.uhlig

CbmSeedFinderSlidingWindow now has an ideal mode'', in which seed times are copied directly from MC events and no additional algorithm is run. Filtering the input by file ID is also supported.
  reco/eventbuilder/digis/CbmSeedFinderSlidingWindow.cxx
  reco/eventbuilder/digis/CbmSeedFinderSlidingWindow.h
  reco/eventbuilder/digis/CbmTaskBuildRawEvents.cxx
  reco/eventbuilder/digis/CbmTaskBuildRawEvents.h
Owners: @d.smith

Create and use medialist in TRD v21c and v21d geometry
  macro/mcbm/geometry/trd/Create_TRD_Geometry_v21c.C
  macro/mcbm/geometry/trd/Create_TRD_Geometry_v21d.C
Owners: @f.uhlig, @p.-a.loizeau

fix codding convention
  core/detectors/trd/CbmTrdParFasp.cxx
  core/detectors/trd/CbmTrdParFasp.h
  core/detectors/trd/CbmTrdParSetAsic.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackAlgoFasp2D.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackAlgoFasp2D.h
  reco/detectors/trd/unpack/CbmTrdUnpackConfigFasp2D.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackConfigFasp2D.h
Owners: @a.bercuci, @p.kaehler

rename ModuleRecT to ModuleRec2D and fix hit counter for EbyE and TB
  reco/detectors/trd/CbmTrdHitProducer.cxx
  reco/detectors/trd/CbmTrdHitProducer.h
Owners: @a.bercuci, @p.kaehler

modify interface.
  core/data/trd/CbmTrdCluster.cxx
  core/data/trd/CbmTrdCluster.h
  reco/detectors/trd/CbmTrdClusterFinder.cxx
  reco/detectors/trd/CbmTrdClusterFinder.h
  reco/detectors/trd/CbmTrdDigiRec.h
Owners: @a.bercuci, @p.kaehler

code formating asked during revision of the code (F. Uhlig)
  core/data/trd/CbmTrdCluster.cxx
  core/data/trd/CbmTrdCluster.h
  core/data/trd/CbmTrdDigi.h
  reco/detectors/trd/CbmTrdModuleRec2D.cxx
  reco/detectors/trd/CbmTrdModuleRec2D.h
Owners: @a.bercuci, @p.kaehler

renamed ModuleRecT to ModuleRec2D
  reco/detectors/trd/CMakeLists.txt
  reco/detectors/trd/CbmTrdModuleRec2D.cxx
  reco/detectors/trd/CbmTrdModuleRec2D.h
  reco/detectors/trd/CbmTrdRecoLinkDef.h
Owners: @a.bercuci, @p.kaehler

fix format
  macro/run/run_unpack_online.C
  macro/run/run_unpack_tsa.C
  reco/detectors/trd/unpack/CbmTrdUnpackConfigFasp2D.cxx
Owners: @f.uhlig, @p.-a.loizeau, @a.bercuci, @p.kaehler

fix Trd2d FEE to GEO mapping
  core/detectors/trd/CbmTrdParFasp.cxx
  core/detectors/trd/CbmTrdParFasp.h
  macro/run/run_unpack_tsa.C
  reco/detectors/trd/unpack/CbmTrdUnpackAlgoFasp2D.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackAlgoFasp2D.h
  reco/detectors/trd/unpack/CbmTrdUnpackConfigFasp2D.cxx
  reco/detectors/trd/unpack/CbmTrdUnpackConfigFasp2D.h
Owners: @a.bercuci, @p.kaehler, @f.uhlig, @p.-a.loizeau

add explanation to the LOG(fatal) as requested in https://redmine.cbm.gsi.de/issues/2373
  reco/detectors/trd/CbmTrdClusterFinder.cxx
  reco/detectors/trd/CbmTrdHitProducer.cxx
  reco/detectors/trd/qa/CbmTrdHitDensityQa.cxx
  reco/detectors/trd/qa/CbmTrdOccupancyQa.cxx
  reco/detectors/trd/qa/CbmTrdQa.cxx
  reco/detectors/trd/qa/CbmTrdRecoQa.cxx
Owners: @a.bercuci, @p.kaehler

add FASP mapping on GEO for mCBM 21, explicit printing of the mapping, and revert to old par hash to allow project build
  external/InstallParameter.cmake
  macro/run/run_unpack_online.C
  macro/run/run_unpack_tsa.C
  reco/detectors/trd/unpack/CbmTrdUnpackConfigFasp2D.cxx
Owners: @f.uhlig, @p.-a.loizeau, @a.bercuci, @p.kaehler

link for the new ASIC par files needed by the Trd2d
  external/InstallParameter.cmake
Owners: @f.uhlig

fix naming in various print-outs
  core/data/trd/CbmTrdDigi.cxx
  reco/detectors/trd/CbmTrdHitProducer.cxx
  reco/detectors/trd/CbmTrdModuleRec2D.cxx
Owners: @a.bercuci, @p.kaehler

add support for mixed read-out on different chamber geometries
  core/detectors/trd/CbmTrdModuleAbstract.cxx
  core/detectors/trd/CbmTrdModuleAbstract.h
Owners: @a.bercuci, @p.kaehler

remove different branch name for Fasp Digi
  macro/run/run_unpack_online.C
Owners: @f.uhlig, @p.-a.loizeau

fix compilation on MacOS
  reco/detectors/trd/unpack/CbmTrdUnpackAlgoFasp2D.cxx
Owners: @a.bercuci, @p.kaehler

update for Fasp FEE
  core/detectors/trd/CbmTrdParSetAsic.cxx
Owners: @a.bercuci, @p.kaehler

fix codding format (https://git.cbm.gsi.de/computing/cbmroot/-/merge_requests/728#note_19372)
  core/data/trd/CbmTrdCluster.h
  reco/detectors/trd/CbmTrdModuleRec2D.cxx
  reco/detectors/trd/CbmTrdModuleRec2D.h
Owners: @a.bercuci, @p.kaehler

use unified TrdDigi class for both SPADIC and FASP FEE systems
  core/data/trd/CbmTrdDigi.cxx
  core/data/trd/CbmTrdDigi.h
  fles/mcbm2018/tasks/CbmMcbmCheckTimingAlgo.cxx
  fles/mcbm2018/tasks/CbmMcbmCheckTimingAlgo.h
  macro/beamtime/mcbm2021/check_timing_any.C
Owners: @a.bercuci, @p.kaehler, @f.uhlig, @p.-a.loizeau

L1 set default radiation length
  reco/L1/CbmL1.cxx
Owners: @se.gorbunov, @v.akishina

Update parameter hash
  external/InstallParameter.cmake
Owners: @f.uhlig

L1 bug fix
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1ReadEvent.cxx
Owners: @se.gorbunov, @v.akishina

Update parameter hash
  external/InstallParameter.cmake
Owners: @f.uhlig

L1: check detector presence in the setup
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1ReadEvent.cxx
Owners: @se.gorbunov, @v.akishina

L1: add option for mc-point-based reconstruction
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1.h
  reco/L1/CbmL1MCPoint.h
  reco/L1/CbmL1ReadEvent.cxx
  reco/L1/L1Algo/L1Algo.cxx
  reco/L1/L1Algo/L1Station.h
Owners: @se.gorbunov, @v.akishina

L1: code format
  reco/L1/CbmL1.cxx
  reco/L1/CbmL1ReadEvent.cxx
Owners: @se.gorbunov, @v.akishina

Use mtof v22a for all mcbm 2022 setups
  external/InstallGeometry.cmake
  external/InstallInput.cmake
Owners: @f.uhlig

add data reconstruction macro for 2021, analysis macro for alignment + alignment matrix generator
  macro/beamtime/mcbm2021/create_alignment_file.C
  macro/beamtime/mcbm2021/mcbm_event_reco.C
  macro/beamtime/mcbm2021/mcbm_inspect_alignment.C
  reco/detectors/tof/CbmTofFindTracks.cxx
Owners: @f.uhlig, @p.-a.loizeau, @n.herrmann, @i.deppner

Add ToT histrograms of each DiRICH to mRICH monitoring
  reco/detectors/rich/unpack/CbmRichUnpackAlgo2022.cxx
  reco/detectors/rich/unpack/CbmRichUnpackMonitor.cxx
  reco/detectors/rich/unpack/CbmRichUnpackMonitor.h
Owners: @s.lebedev

mRICH anaylsis script for beamtimes 2021 and 2022.
  macro/rich/mcbm/beamtime/getToTOffsetDigi.C
  macro/rich/mcbm/beamtime/run_reco_mcbm_real_wToF_jun21.C
  macro/rich/mcbm/beamtime/run_reco_mcbm_real_wToF_mar22.C
  macro/rich/mcbm/beamtime/run_reco_mcbm_richOnly2021.C
  macro/rich/mcbm/beamtime/run_reco_mcbm_richOnly2022.C
  reco/detectors/rich/mcbm/CbmRichMCbmQaReal.cxx
  reco/detectors/rich/mcbm/CbmRichMCbmQaReal.h
  reco/detectors/rich/mcbm/CbmRichMCbmQaRichOnly.cxx
Owners: @s.lebedev

Update geometry tag for new TRD v21c and v21d geometries
  external/InstallGeometry.cmake
  external/InstallParameter.cmake
Owners: @f.uhlig
